@media (min-width: 992px) and (max-width: 1200px) {	.srd-row.mobile .srd-col {    width: 100%;}
.design-draft-header {    /*float: left;*/    width: 100%;}.srd-row.mobile {    display: block;}	
.inline-imgsssx img{
  min-width: 15px;
}
}
@media (min-width: 992px) {.navbar-default .navbar-collapse.collapse{display:block !important}
/** Top Menu **/
.flex-show {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.nav-section .navbar-default .navbar-collapse {  
	width: 100%;
	flex: 1;
}	
.nav-section .navbar-default .navbar-collapse .navbar-right {
	float: none !important;
	display: inline-block;
	vertical-align: middle;
}

.nav-section .navbar-default .navbar-nav {
	float: none;
	display: inline-block;
	vertical-align: middle;
}

.plan-boxex-xx6 {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
}


.flex-reverse {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	flex-direction: row-reverse;
}
.flex-show-em1,
.flex-verse {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.orb-xb {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */

	flex-direction: row-reverse;
}

.nav-section .navbar-default.lefted .navbar-collapse {
	text-align: left;
	padding-left: 50px;
}

.nav-section .navbar-default.centered .navbar-collapse {
	text-align: center;
}

.pro-ject-leftbar {
	position: fixed;
	left: 0;
	top: 64px;
	bottom: 0;
	width: 110px;
	overflow-y: auto;
	height: calc( 100vh - 70px );
}
/*.orbxbin-list {
	padding-bottom: 30px;
}*/
.orbxb-img-ssrr {
	margin-left: 50px;
	margin-right: 50px;
}

.col-w1 { width: 25%; }
.pro-desh-box .pro-circle-list.pad-w1 { padding-left: 60px; }
.dcol-3 {width: 30%;}

}
@media (min-width: 768px) {.navbar-collapse.collapse {    display: none!important;}
.nav-section .navbar-nav > li > a {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	margin-right: 7px;
}
.nav-section .navbar-nav > li{
	margin-right: 20px;
}
.nav-section .navbar-nav > li:last-child {
	margin-right: 0;
}

.flex-show-a {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */

}

.list-setting {
	display: inline-block;
	white-space: nowrap;
}

.uplinkflexs .row{
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
}

.pro-ject-rightbar {
	position: absolute;
	right: 0;
	top: 0;
	/* bottom: 0; */
	width: 300px;
	/* height: 100%; */
}

	/*.full-row .panel-grid-cell,
	.full-row .panel-grid-cell {
		width: calc(50% - ( 0.5 * 0px ) ) !important;
		}*/
	}
	@media only screen and (min-width: 769px) and (max-width: 991px) { 

	}

	@media (max-width: 1024px) {
		
		.pro-ject-rightbar {
			width: 270px;
		}

	}


	@media only screen and (max-width:992px){
    .rheight-xt.d-progress h3.head-b {
    margin-bottom: 10px;
}
    .dropdown-menu.pull-right.profile-dropdown {
      top: 57px;
    }
    section.con-b.project-info-page .rheight-xt.d-progress {
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0px 0px 40px;
      flex-direction: column;
    }
    section.con-b.project-info-page .rheight-xt.d-progress a.upl-oadfi-le.adddesinger {
      margin-top: 1px;
    }
    .mobile-visibles {
      display: block;
      position: absolute;
      right: 20px;
      top: 25px;
      font-size: 24px;
      color: #e62344;
      cursor: cell;
      z-index: 9;
    }
    .pro-desh-box.delivery-desh {
      text-align: center;
    }
    body #content .post .entry-content {
     float: none;
     margin: 0 7.6923%;
     width: auto;
   }

   /**********/
   .nav-section .navbar-header {
     float: none;
     display: inline-block;
   }
   .nav-section .navbar-left,
   .nav-section .navbar-right {
     float: none !important;
   }
   .nav-section .navbar-toggle {
     display: block;
   }
   .nav-section .navbar-collapse {
     border-top: 0 solid transparent;
     box-shadow: inset 0 0 0 rgba(255,255,255,0.1);
   }
   .nav-section .navbar-fixed-top {
     top: 0;
     border-width: 0 0 0;
   }
    /*.nav-section .navbar-collapse.collapse {
        display: none!important;
        }*/
        .nav-section .navbar-nav {
        	float: none!important;
        }
        .nav-section .navbar-nav>li {
        	float: none;
        }

    /*.nav-section .collapse.in{
  		display:block !important;
  		}*/

  		.nav-section .navbar-default .navbar-toggle {
  			/*margin-top: 35px;*/
  			float: none;
  			display: inline-block;
  			vertical-align: middle;
  			margin: 0 0 0 15px;
  		}

  		.nav-section .navbar-default.sticky {
  			padding: 5px 15px;	
  		}

  		/** **/
  		a.custom-logo-link { text-align: center; padding: 10px;}
  		a.custom-logo-link { max-width: 100%; display: inline-block; vertical-align: middle;}

  		.search-box {
       right: 0!important;
       margin: 0!important;
     }

     .custom-flex {  
       display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
       display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
       display: -ms-flexbox;  /* TWEENER - IE 10 */
       display: -webkit-flex; /* NEW - Chrome */
       display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */

       -webkit-box-align: center;
       -webkit-flex-align: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       align-items: center;
       justify-content: center;
     }
     .pro-desh-box { width: 100% !important; }
     .pro-desh-row,.pro-desh-box { display: block; height: 80px;overflow: hidden; }
     .pro-desh-row.fullheight, .pro-desh-box.fullheight{height: 100%;}
     .pro-desh-row.fullheight .pro-desh-box {
      border-bottom: 0;
      text-align: center;
    }
    .pro-desh-row.fullheight > .pro-desh-box {
      height: auto;
    }
    .dcol-1,.dcol-2 { width: 100%;}
    .pro-desh-box { border-bottom: 1px solid #d2d2d2; border-right: none; }
    .pro-desh-box:last-child { border-bottom: none;}
    .product-list-show .cli-ent-row.tr {
      display: none;
    }
    .settingedit-box {
     margin-bottom: 15px;
     min-height: auto;
   }
   .flex-show-em {
     display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
     display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
     display: -ms-flexbox;  /* TWEENER - IE 10 */
     display: -webkit-flex; /* NEW - Chrome */
     display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */

     -webkit-box-align: center;
     -webkit-flex-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
   }

   .project-row-qq1 {
     margin-bottom: 20px;
   }

   .orb-xb-col.left {
     width: 100%;
   }
   .orb-xbin {
     overflow-x: auto;
     max-width: 100%;
     min-width: 100%;

     max-height: none;
     min-height: auto;
   }
   .orbxbin-list {
    padding-bottom: 30px;
   }
   .imgobxbins {
     width: 105px;
   }

   .box-setting { 
     text-align: center;
     position: absolute;
     right: 15px;
     top: 20px;
   }

   .seter.left,
   .cli-ent-xbox.text-left {
     text-align: center;
   }
   .cli-ent-row.tr {
     display: block;
   }
   .cli-ent-col.td {
     display: block;
     vertical-align: middle;
     width: 100% !important;
   }

   .pro-ject-top-cat {
     margin-left: 0;
     margin-right: 270px;
   }
   .pro-ject-wrapper.dot-comment .pro-ject-top-cat {
     margin-right: 0px;
   }
 }

 @media (max-width: 767px) {	
  .cli-ent-model-box .displayed-pic {
    flex-wrap: wrap;
  }
  .displayed-pic .profile_info {
    width: 100%;
  }
  body .similar-prop .cli-ent-model {
    padding: 20px;
  }
  .admin-sidebar {
    width: 0px;
  }
  ul.gz-breadcrumb {
    display: none;
  }
  .admin-sidebar.open {
    width: 260px;
  }
  .admin-wraper {
    padding: 80px 0px 0 0px;
  }
  body .con-b {
    padding: 10px 0;
  }
  .admin-sidebar ul.side-nav {
    width: auto;
  }
  .admin-sidebar ul.side-nav li, .admin-sidebar ul.side-nav li a {
    height: 45px;
  }
  .admin-sidebar ul.side-nav li a img, .admin-sidebar ul.side-nav li a i{
    top: 15px;
    left: 15px;
    max-width: 20px; font-size: 18px;
    max-height: 20px;
  }
  .admin-sidebar ul.side-nav li a span {
    padding: 0 0 0 55px;
    line-height: 45px;
    height: 45px;
  }
  .detailed-item ul li {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .project-info-page .content_section {
    width: 100%;
    padding: 15px;
  }
  .project-info-page .side_bar {
    position: unset;
    width: 100%;
    height: 100%;
    float: left;
    width: 100%;
    padding-top: 0;
    margin-bottom: 20px;
  }
  .list-header-blog > li {
   margin-right: 10px;
 }
 .ddnos.mobile .descol.right-instbox {
   margin-top: 5px;
   text-align: left;
 }
 .head-b { font-size: 18px; line-height: 25px;}
 .review-textcolww { font-size: 16px; }
 .flex-show-em1 .fulmoble { width: 100%; }
 .search-sec-uu8,
 .flex-show-em1 .fulmoble .descol { text-align: center; }
 .flex-show-em1 .fulmoble+.fulmoble { margin-top: 10px; }

 .list-tab-xx5 { display: table; margin-left: auto; margin-right: auto; }
 .list-tab-xx5 > li { display: block; text-align: center; margin-bottom: 15px; }
 .list-tab-xx5 > li a { display: inline-block; }
 .radio-box-xx2 { max-width: 100%; }
 .radio-box-xx2 + .radio-box-xx2 { margin-left: 0; }
 .cat-form-xx123 .radio-box-kk2 { white-space: normal; }
 .right-lesscol .plan-boxex-xx6 .radio-box-xx2 {  
   margin-left: 0;
   margin-bottom: 15px;
 }

 .uplinkflexs .row > .col-xs-6,
 .uplinkflexs .row > .col-xs-4 {
   width: 100%;
   text-align: left;
   margin-bottom: 15px;
 }

 .savecols-col.right,
 .savecols-col.center {
   text-align: left;
 }

 a.back-link-xx11,
 a.back-link-xx0 { font: 500 16px/25px 'GothamPro', sans-serif; }
 .btn-x .btn-a { font: bold 16px/25px 'GothamPro', sans-serif; padding: 7px 30px;}
 .text-b { font: normal 14px/24px 'GothamPro', sans-serif; }

 .cat-form-xx123 {margin-top: 15px; }
 .uplink-row .uplink-col { display: block; text-align: left; margin-bottom: 15px; }
 .uplink-row .uplink-col.right { text-align: left; }
 .pro-ject-rightbar { position: relative; width: 100%; }
 .pro-ject-wrapper { padding-left: 15px;padding-right: 15px;}

 .list-comment-es { max-height: 350px; }

 .pro-ject-leftbar,
 .pro-ject-rightbar {
   border: 1px solid #cfcfcf;
   border-radius: 7px;
   background-color: #ffffff;
   overflow: hidden;
   margin: 0 0 15px;
 }

 .pro-ject-centbar {
   overflow: hidden;
   margin: 30px 0 15px;
 }

 .pro-ject-rightbar .comment-box-row {
   padding: 15px 0 45px;
 }
 .pro-ject-top-cat {
   margin-left: 0;
   margin-right: 0;
 }

 .de-signdraft {
   padding-bottom: 15px;
   padding-top: 7px;
 }
 .de-signdraft .savecols-col.left{
   text-align: center;
 }
 .orb-xb-col.right .list-designdraftnew {
    margin: 0;
}
section.con-b.project-info-page > .row {
    margin: 0;
}
}

@media (max-width: 600px) {		
.desh-inblock { /* display: block;  */}
.desh-inblock+.desh-inblock  { margin-top: 15px; }
.pro-box-r2 .pro-head { height: auto; }
.pro-box-r2 { min-height: auto; }
.pro-box-r1 { min-height: auto; }
.pro-box-s1 { min-height: 150px; line-height: 150px; }
.list-designdraftnew li {width: 100%;}
.head-b { font-size: 16px; }
.srd-row.mobile { display: block; }
.srd-row.mobile .srd-col.right{ margin-top: 10px; text-align: left; }
.list-setting > li {margin-left: 15px; }

.search-group .form-control { width: 85%; }
}

@media (max-width: 480px) {
  body .white-boundries {
    padding: 20px ;
}
  .tabs-card {
    padding: 10px ;
  }
  .yss1 .settcol.left ,
  .cyclebox25 .settcol.left { width: 100%; display: block; }
  .yss1 .settcol,
  .cyclebox25 .settcol{ display: block; text-align: left;  }
  .cyclebox25 .settcol {margin-top: 7px;}
  .review-textcolww { font-size: 14px; }

  .posone1,.posone2 {
   display: none;
 }
 .header-blog .list-unstyled.list-header-blog li a {
  border-right: 0;
  padding: 0;
  padding: 7px;
  margin: 0;
  font-size: 12px;    line-height: 18px;
}
.header-blog .list-unstyled.list-header-blog li {
  width: 46%;    margin: 0;
  display: inline-block;
}
.header-blog .focusout-search-box .search-box.magic_search {
  width: 300px;
}

}

@media (max-width: 360px) {	
  .nav-section .navbar-default .navbar-toggle {
   margin: 0 10px 0 0;
 }
}
