@import url('gz_icons.css');
body{
    line-height: 1.42857143 ;
}
.nav-section {
	z-index: 100;
	box-shadow: none;
	background: #ffffff;
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.15);
	position: fixed;
	left: 0;
	right: 0;
	width: 100%; 
}
.nav-section nav.navbar.navbar-default.flex-show:after{display: none}
.nav-section nav.navbar.navbar-default.flex-show {
	padding-left: 80px;
	height: 80px;
	align-items: center;
	justify-content: space-between;
	display: flex;
	background: transparent;
	margin: 0;
	border: 0;
	padding: 0 20px 0 80px;
}
.admin-wraper {
	padding: 80px 0px 0 80px;
	background: #f2f2f2;
}
.flex-this {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.admin-sidebar{
	height: 100vh;
	top: 0;
	z-index: 1000;
	width: 80px;
	left: 0px;
	will-change: opacity;
	position: fixed;
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.15);
	-webkit-transition: width .2s, opacity .8s, box-shadow .1s linear .1s, background-color .3s;
	background-color: #ffffff;
	opacity: 1;
	animation: slideLeft 0.3s forwards;
	z-index: 999;
}

.admin-sidebar .site-logo {
	height: 80px;
	background: #0f3148;
	display: flex;
	align-items: center;
}

.admin-sidebar ul.side-nav li a i {
	max-width: 25px;
	position: absolute;
	width: 100%;
	top: 20px;
	left: 25px;
	max-height: 25px;
	font-size: 24px;
	color: #000;
}

.header-blog .focusout-search-box .search-box.magic_search {
	position: absolute;
	right: 0;
	width: 400px;
}
.search-box.magic_search input.search_text {
	opacity: 1;
	height: 100%;
	border: 0;
	padding: 13px;
	right: 0;
	font-size: 14px;
	color: #000;
}
.admin-sidebar .site-logo {
	height: 80px;
	background: #0f3148;
	display: flex;
	align-items: center;
}
.admin-sidebar ul.side-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-top: 0px;
	left: 0;
	position: relative;
	width: 85px;
	overflow: hidden;
	transition: left .2s;
	margin-top: 10px;
}
li.dropdown .numcircle-box {
	min-width: auto;
	height: auto;
	background-color: #db213c;
}
.site-logo img {
	max-height: 55px;
	width: 100%;
	animation: slideLeft 0.3s forwards;
}
img.open-nav {
	opacity: 0;
	display: none;
}
img.open-nav{opacity: 0; display: none;}
.admin-sidebar.open img.open-nav{opacity: 1; display: block;    padding: 0px 15px;}
.admin-sidebar.open img.close-nav{opacity:0; display: none}
.admin-sidebar .site-logo span.arrow_btn {
	content: "";
	background: url(../../img/sidebar_arrow_icon.svg);
	width: 20px;
	height: 80px;
	position: absolute;
	right: 0;
	background-repeat: no-repeat;
	right: -17px;
        cursor: pointer;
}
.admin-sidebar.open .site-logo span.arrow_btn {
	content: "";
	background: url(../../img/sidebar_arrow_icon_hover.svg);
}
.admin-sidebar ul.side-nav li {
	position: relative;
	height: 65px;
	opacity: 0.3;
	transition: 0.5s;
}
.admin-sidebar ul.side-nav li:hover, .admin-sidebar ul.side-nav li.active {
	opacity: 1;
}
.admin-sidebar ul.side-nav li a {
	display: block;
	height: 65px;
}
.admin-sidebar ul.side-nav li a img {
	max-width: 25px;
	position: absolute;
	width: 100%;
	top: 20px;
	left: 25px;
	max-height: 25px;
}
.admin-sidebar ul.side-nav li a span {
	display: none;
}


.admin-sidebar ul.side-nav li a span {
	-webkit-transition: color .2s;
	cursor: pointer;
	color: rgb(0, 0, 0);
	opacity: 1;
	text-decoration: none;
	font-size: 13px;
	padding: 0 0 0 65px;
	line-height: 65px;
	height: 65px;
	display: block;
	float: left;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	opacity: 0;
}
.admin-sidebar.open ul.side-nav li a span {
	opacity: 1;
}


/************PK css*************/
.fade-carousel .carousel-inner .item {
	width: 754px;
	float: none;
	margin: auto;
}
div#myCarousel div#cro {
	position: relative;
	overflow: auto !important;
}
/* */
.project-text {
	font: normal 18px/30px 'GothamPro', sans-serif; 
	color:#32475a;
	display: inline-block;
	padding-left: 60px;
}
.project-text a {
	color:#32475a;
	text-decoration: none;
}
.project-text a:hover {
	color: #e52344;
}

.list-setting > li {
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}
.list-setting > li:first-child {
	margin-left: 0;
}
.deshboard-bg {
	background-color: #fafafa;
}
.list-setting > li img {
	display: inline-block;
	vertical-align: middle;
}
.list-setting > li .icon {
	width: 25px;
	height: 25px;
}
.list-setting > li a {
	color: #1b3248;
}
.list-setting > li a:hover {
	color: #e73250;
}
.bell-box {
	position: relative;
	display: inline-block;
}
.numcircle-box {
	font: normal 8px/15px 'GothamPro', sans-serif; 
	color: #ffffff;
	min-width: 18px;
	height: 18px;
	text-align: center;
	display: inline-block;
	background-color: #37c473;
	vertical-align: top;
	border-radius: 50%;
	padding: 3px;
	position: absolute;
	top: -7px;
	right: -6px;
}

.pro-circle-img-xxs {
	width: 39px;
	height: 39px;
	border-radius: 50%;
	line-height: 36px;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.pro-circle-img-xxs img {
	display: inline-block;
	vertical-align: middle;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}

/* */
/************PK css*************/
.fade-carousel .carousel-inner .item {
	width: 754px;
	float: none;
	margin: auto;
}
div#myCarousel div#cro {
	position: relative;
	overflow: auto !important;
}
.clearfix.billing_subs_right h2 {
	padding-top: 0;
}
section#content-wrapper h2.head-d.text-left {
	padding-top: 0;
}
.list-header-blog > li {
	display: inline-block;
	vertical-align: middle;
	margin-right: -1px;
}
.list-header-blog > li:last-child {
	margin-right: 0; 
}
.list-header-blog > li:last-child a{border-right: 0;}
.list-header-blog > li a {
	color: #0d0d0d;
	font-size: 14px;
	border: 0;
	text-decoration: none;
	border-right: 1px solid #98a7b0;
	margin-right: 15px;
	padding: 0 15px 0 0;
	border-radius: 0;
	letter-spacing: 0.5px;
	display: inline-block;
	font-weight: 500;
}
.list-header-blog > li.active a, .list-header-blog > li a:hover {
	color: #e52344;
}
.header_searchbtn {
	display: flex;
	align-items: center;
}
.search-first {
	display: inline-block;
	position: relative;
	height: 38px;
	width: 38px;
	margin-right: 10px;
}
.search-first .search-box {
	width: 38px;
	height: 38px;
	transition: .56s;
	display: inline-block;
	position: absolute;
	right: 0;
	box-shadow: 0px 2px 4px rgba(15, 49, 72, 0.25);
	background: #fff;
	border-radius: 5px;
	cursor: pointer;
}
.search-first .search-box .search_text {
	opacity: 0;
	position: absolute;
	z-index: 999;
	top: 0;
	bottom: 0;
	height: 45px;
	border-radius: 5px;
	cursor: pointer;
}
.search-first .search-box .ajax_searchload {
	opacity: 0;
}
.search-group .search-btn {
	position: absolute;
	right: 0;
	top: 0;
	outline: 0;
	height: 38px;
	width: 38px;
	padding: 0;
	line-height: 52px;
	text-align: center;
	background: #fff;
	border-radius: 5px;
	border: 0;
}
.search-group .search-btn img {
	margin: auto;
	max-width: 21px;
	transform: rotate(-90deg);
}
.filter-site {
	background: #fff;
	width: 38px;
	height: 38px;
	border-radius: 4px;
	text-align: center;
	line-height: 38px;
	color: #7f7f7f;
	box-shadow: 0 2px 4px rgba(15, 49, 72, 0.25);
	cursor: pointer;
}
h2.main_page_heading {
	font-size: 20px;
	color: #000;
}
section.con-b .header-blog {
	margin-bottom: 20px;
}
.search-group {
	display: flex;
	border-bottom: 1px solid #ddd;
	width: 100%;
}
.search-group .form-control {
	font: normal 18px/30px 'GothamPro', sans-serif; 
	color: #9399a2;
	padding: 15px;
	height: 50px;
}

.search-group .form-control,
.search-group .search-btn {
	display: table-cell;
	vertical-align: middle;
	background: none;
	border: none;
	box-shadow: none;
}
.search-group .search-btn .icon {
	width: 28px;
	height: 22px;
}

/* */
.show-blog-xx2 {
	text-align: right;
	margin-top: 20px;
	margin-bottom: 20px;
}
.show-blog-list-xx2 {
	display: inline-block;
	white-space: nowrap;
}
.show-blog-list-xx2 > li {
	display: inline-block;
	vertical-align: middle;
	margin-left: 7px;
}
.show-blog-list-xx2 > li a {
	display: inline-block;
	max-width: 100%;
	color: #1b3248;
}
.show-blog-list-xx2 > li a .icon{
	width: 17px;
	height: 17px;
}
.show-blog-list-xx2 > li a .icon.list {
	width: 20px;
	height: 19px;
}
.show-blog-list-xx2 > li.active a,
.show-blog-list-xx2 > li a:hover {
	color: #e73250;
}

/* Product List Box Start */
.pro-productss {
	margin-bottom: 20px;
}
a.pro-box-s1,
.pro-box-s1 {
	border: 3px dotted #cfcfcf;
	background-color: transparent;
	border-radius: 7px;
	min-height: 340px;
	line-height: 330px;
	text-align: center;
	display: block;
	text-decoration: none;
}
.pro-box-s1:hover {
	border: 3px dotted #e52344;
}
.pro-box-s1:hover .pro-add-boxss2 {
	background-color: #e52344;
}

.pro-box-s1:hover .pro-box-caps1 .pro-add-texts1 {
	color: #e52344;
}

.pro-box-caps1 {
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
}
.pro-add-boxss2 {
	width: 60px;
	height: 60px;
	line-height: 55px;
	overflow: hidden;
	background-color: #cfcfcf;
	border-radius: 50%;
	display: inline-block;
}
.pro-add-boxss2 > img {
	max-width: 100%;
	max-height: 55px;
	vertical-align: middle;
	display: inline-block;
}
.pro-box-caps1 .pro-add-texts1 {
	font: normal 15px/20px 'GothamPro', sans-serif !important; 
	color: #cfcfcf;
	text-decoration: none;
}


.pro-box-r1 {
	border: 1px solid #cfcfcf;
	background-color: #ffffff;
	border-radius: 7px;
	min-height: 340px;
}
.pro-box-r2 {
	padding: 10px;
	min-height: 200px;
}
.pro-box-r2 .pro-head {
	height: 70px;
	overflow: hidden;
}

.pro-inbox-r1 {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
.pro-inrightbox {
	width: 100%;
	flex: 1;
	text-align: right;
}
.pro-inleftbox,
.pro-inrightbox {
	width: 50%;
}
.product-list-show {
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
	padding-bottom: 1px;
	position: relative;
}
.cli-ent-row.tr.tableHead {
	font-size: 14px;
	background: #f8f8f8 !important;
	color: #595959;
	letter-spacing: 0.5px;
	padding: 10px !important;
	position: sticky !important;
	top: 80px;
	z-index: 9;
	font-weight: 600;
        position: -webkit-sticky !important;
        position: -moz-sticky !important;
        position: -ms-sticky !important;
        position: -o-sticky !important;
}
.product-list-show .cli-ent-row.tr {
	overflow: visible;
	background: #fff;
	padding: 0 10px;
	border: 0;
	position: relative;
	border-bottom: 1px solid #e5e9eb;
}
.design-ch-pre {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}
@media (min-width: 992px) {
	.product-list-show .row [class*="col-md-"] {
		width: 20%;
	}
}

.product-list-show .row {
	margin-left: 0px;
	margin-right: 0px;
}
.product-list-show .row [class*="col-md-"]{
	padding-left: 8px;
	padding-right: 8px;
}

.pro-a a,
.pro-b a{
	color: #4d636d;
	text-decoration: none;
}

.select-pro-a select {
	color: #4d636d;
	padding: 0 15px 0 5px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	min-width: 40px;
}

.pro-head {
	color: #1b3248;
}
.pro-head a {
	color: #000000;
	font-size: 14px;
	font-weight: 500;
}
.pro-desh-box p.pro-b {
	color: #808080;
	font-size: 13px;
}
.neft {
	color: #ffffff;
}
.neft .red,.neft .green, .neft .orangetext, .neft .gray, span.lightbluetext.text-uppercase, span.holdcolor.text-uppercase  {
	padding: 4px 15px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 500;
	box-shadow: 0 1px 2px rgba(152, 167, 176, 0.75);
	letter-spacing: 0.5px;
}
.load_more.button {
	width: 150px;
	height: 40px;
	background: #fd2041;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	display: block;
	margin: 10px auto;
	line-height: 40px;
	border-radius: 4px;
	border: 0px;
	text-align: center;
}
.cli-ent-xbox .expectd_date {
	font-weight: 600;
	color: #db213c;
	margin-bottom: 10px;
}
.gz.ajax_loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: rgba(15, 49, 72, 0.81);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}
.gz.ajax_loader img {
	width: 60px;
	background: rgba(15, 49, 72, 0.81);
	border-radius: 100%;
}
.neft .red { background-color: #e52344; color: #ffffff; }
.neft .green { background-color: #37c473; color: #ffffff; }
.neft .gray{ background-color: #a3a8ae; color: #ffffff; }

.pro-box-r3 {
	border-top: 1px solid #ddd;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
.pro-circle-box {
	display: inline-block;
	margin-right: 5px;
	float: left;
}
.pro-circle-box a {
	text-decoration: none;
	max-width: 100%;
}
.pro-circle-img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	line-height: 36px;
	margin: 0 auto;
}
.pro-circle-img img {
	vertical-align: middle;
	/*display: inline-block;*/
	display: table;
	max-height: 100%;
	max-width: 100%;
}
.pro-circle-plus {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #e52344;
	text-align: center;
	line-height: 36px;
}
.pro-box-r4 {
	padding: 10px;
}

.pro-inrightbox img,
.pro-inleftbox img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	position: relative;
	top: -2px;
}
/* Product List Box End */


/* */
.pro-desh-row {
	display: flex;
	vertical-align: middle;
	justify-content: space-between;
	align-content: center;
	align-items: stretch;
	border-radius: 0;
	background: #fff;
	padding: 0 10px;
	border: 0;
	position: relative;
	border-bottom: 1px solid #e5e9eb;
}
.box-setting .list-setting a i {
	font-size: 22px;
}
.pro-desh-box {
	display: flex;
	align-items: center;
	color: #808080;
	font-size: 13px;
	padding: 16px 10px;
}
.cell-col label {
	color: #808080;
	font-size: 13px;
	cursor: pointer;
}
.nav-section .navbar-nav > li > a span i {
	font-size: 20px;
}

.uplink-row {
	width: 100%;
	margin: 0 0 15px;
}
.uplink-row .uplink-col {
	display: table-cell;
	vertical-align: middle;
}
.uplink-row .uplink-col.right {
	text-align: right;
	flex: 1;
	width: 100%;
}

/* */
.cate-main-boxx3 {
	padding: 30px 40px;
	border: 1px solid #cfcfcf;
	border-radius: 7px;
	background-color: #ffffff;
}
.check-main-xx3 {
	padding: 15px;
	border: 2px solid #cfcfcf;
	border-radius: 7px;
	background-color: #ffffff;
}
.chkimg {
	text-align: center;
	max-width: 100%;
	height: 75px;
	line-height: 70px;
	margin-bottom: 10px;
}
.chkimg img {
	vertical-align: middle;
	display: inline-block;
	max-width: 100%;
	max-height: 70px;
}

.radio-box-xx2 {
	display: block;
	position: relative;
	margin-bottom: 15px;
	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	max-width: 160px;
	width: 100%;
	float: left;	
}
.radio-box-xx2 {
	margin-right: 20px;
}
/* Hide the browser's default radio button */
.radio-box-xx2 input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.radio-box-xx2 input:checked ~ .check-main-xx3 {
	border: 2px solid #e73250;
}


.plan-boxex-xx6 .radio-box-xx2{
	max-width: 110px;
}
.plan-boxex-xx6 .radio-box-xx2 .chkimg {
	height: 55px;
	line-height: 53px;
}
.plan-boxex-xx6  .radio-box-xx2 {
	margin-right: 15px;
	margin-bottom: 15px;
}
.plan-boxex-xx6 .check-main-xx3 {
	padding: 10px 15px;
}


/* */
.file-drop-area {
	position: relative;
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	align-items: center;
	width: 100%;
	max-width: 100%;
	padding: 25px;
	border-radius: 7px;
	transition: 0.2s;
	justify-content: center;
	margin-bottom: 5px;
	justify-content: center;
	flex-direction: column;
}
.file-drop-area span.file-msg span.nocolsl {
	display: block;
	text-align: center;
	font-size: 14px;
	color: grey;
	font-weight: normal;
}
label.label-x3 {
	color: #596375;
}
.file-drop-area.is-active {
	background-color: rgba(255, 255, 255, 0.05);
}

.fake-btn {
	flex-shrink: 0;
	background-color: rgba(255, 255, 255, 0.04);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 3px;
	padding: 8px 15px;
	margin-right: 10px;
	font-size: 12px;
	text-transform: uppercase;
}

.file-msg {
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	margin-top: 20px;
	text-align: center;
	color: #0d0d0d;
	letter-spacing: 0.5px;
	max-width: 210px;
}
.similar-prop .dropify-preview h4.file-msg {
	text-align: center;
	width: 100%;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.similar-prop .dropify-preview h4.file-msg strong {
	font-weight: normal;
}
.similar-prop .dropify-preview h4.file-msg i {
	display: block;
	font-size: 31px;
}
.file-input {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	opacity: 0;
}
.file-input:focus {
	outline: none;
}

/* */
.comment-box-row {
	padding: 15px 0 0;
}
.comment-box-row .head-b{
	padding: 0 25px;
}
.list-comment-es {
	overflow-y: auto;
	max-height: calc(100vh - 165px);
}

.list-comment-es > li .comment-box-es {
	border-bottom: 1px solid #cfcfcf;
}
.list-comment-es > li:last-child .comment-box-es {
	border-bottom: none;
}
.pstcmm {
	color: #000;
	box-shadow: none;
	border: none;
	background: transparent;
	height: 70px;
	resize: none;
	width: 100%;
	padding: 15px 15px 0;
	font-size: 13px;
}

.cmmbx-row {
	display: table;
	width: 100%;
}
.cmmbxcir {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.cmmbxonline {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #e73250;
	position: absolute;
	top: -5px;
	left: 0;
	border-radius: 50%;
	line-height: 15px;
	text-align: center;
}
.cmmbx-col .pro-circle-img-xxs {
	overflow: auto;
}

.social_wrap_inner li a {
	color: #ffffff;
}

.cmmbxtxt {
	color: #0d0d0d;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 14px;
}
.pro-ject-rightbar .list-comment-es {
	padding: 6px 20px 8px 20px !important;
	overflow-y: auto;
	max-height: calc(100vh - 146px) !important;
}
.cmmbx-row {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.cmmbx-col.left {
	flex: 1;
	width: 100%;
}
.kevtxt {
	color:#ec3d56;
}
.distxt-cmm {
	color:#596375;
}
.distxt-cmm strong {
	color: #ec3d56;
}


.cmmtype-row {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.pstcmm {
	color: #808080;
	box-shadow: none;
	border: none;
	background: transparent;
	height: 70px;
	resize: none;
	width: 100%;
	padding: 15px 15px 0;
	font-size: 12px;
	font-weight: 600;
}
.pstcmm:focus,.pstcmm:active {
	outline: 0 none;
}
.cmmfiles,.pstcmm,.cmmsend {
	display: table-cell;
	vertical-align: middle;
}
.cmmsend .cmmsendbtn {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	border: 0;
	box-shadow: none;
	padding: 0;
}
.cmmsend .cmmsendbtn:focus,
.cmmsend .cmmsendbtn:active {
	outline: 0 none;
}

/* */
.imgobxbins {
	width: 100%;
	height: 105px;
	overflow: hidden;
	margin: auto;
	box-shadow: 0px 0px 0 3px transparent;
	background-color: #cfcfcf;
}

.imgobxbins:hover,
.imgobxbins.active {
	box-shadow: 0px 0px 0 3px #ec3d56;
	border-radius: 0;
}
.imgobxbins img {
	max-height: 105px;
	object-fit: cover;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

.orbxb-img {
	overflow-y: auto;
	max-height: 100vh;
	min-height: auto;
	position: relative;
}
.orbxb-img-ssrr {
	position: relative;
}
.orbxb-img-ssrr img,
.orbxb-img img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}

/* Chat Box */
.msgk-chatrow {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
}
.msgk-uimg {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
}
.msgk-uleft {
	width: 39px;
	height: 39px;
	border-radius: 50%;
	line-height: 36px;
	text-align: center;
	overflow: hidden;
	position: relative;
	display: inline-block;
	border: 2px solid #ffffff;
}

.msgk-user-chat {
	position: relative;
	margin-bottom: 2px;
}

.msgk-user-chat.msgk-left {
	padding-left: 40px;
	float: left;
}
.msgk-user-chat.msgk-right {
	float: right;
	width: 100%;
}
.time-edit {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
}
.time-edit p.time_msg {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
	margin-right: 5px;
}
.time-edit .editDelete {
	position: relative;
	color: #d2d2d2;
	cursor: pointer;
}
.time-edit .editDelete .open-edit {
	position: absolute;
	background: #fff;
	z-index: 9999999;
	right: 0;
	width: 100px;
	box-shadow: 0 2px 6px rgba(152, 167, 176, 0.5);
	border-radius: 6px;
}
.time-edit .editDelete .open-edit a {
	text-align: left;
	color: grey;
	font-size: 13px;
	padding: 6px;
	line-height: 21px;
	display: block;
	text-transform: capitalize;
}
.msgk-mn {
	position: relative;  
	display: inline-block;   
	margin-top: 3px;
}
.msgk-umsgbox pre {
	word-break: break-word;
	padding: 0;
}
.msgk-user-chat.msgk-left .msgk-mn .msgk-umsgbox .msgk-umsxxt {
	background-color: #f2f6f9;
	color: #000;
	font-size: 12px;
	padding: 10px;
	line-height: 21px;
	border-radius: 0 6px 6px;
	word-break: break-word;
	display: inline-block;
        //white-space: pre-wrap;
}
.msgk-user-chat.msgk-left .msgk-mn .msgk-umsgbox pre .msgk-umsxxt {
    white-space: pre-wrap;
}
.msgk-user-chat.msgk-right .msgk-mn .msgk-umsgbox pre {
	display: flex;
	align-items: center;
	padding: 0;
}
.msgk-mn:before,
.msgk-mn:after {
	content: '';
	display: table;
	clear: both;
}
.msgk-umsxxt {
	display: inline-block;
}
.msgk-user-chat.msgk-left .msgk-mn{
	padding-left: 5px;
	text-align: left;
}
.msgk-user-chat.msgk-right .msgk-mn{
	float: right;
	width: 100%;
}
.msgk-user-chat.msgk-right .msgk-mn .msgk-umsgbox .msgk-umsxxt{
	background-color: #def4fe;
	color: #000;
	font-size: 12px;
	padding: 10px;
	/*display: inline-flex;*/
	line-height: 20px;
	border-radius: 6px 6px 0px;
	float: right;
}
.msgk-user-chat.msgk-right .msgk-mn .msgk-umsgbox pre span.edit_icon_msg {
	width: 10px;
	font-size: 11px;
	color: rgba(0, 0, 0, 0.24);
	line-height: 0;
	margin-right: 10px;
}
.msgk-umsgbox span {
	width: 100%;
	word-wrap: break-word;
}
.msgk-user-chat.msgk-right .msgk-mn .msgk-umsgbox {
	min-width: 70px;
	margin-left: 10%;   
	float: right;
}
    .date_print {
     margin: 6px auto 0px;
     background: #fff;
     text-align: center;
     border-radius: 12px;
     z-index: 1050;
     display: block;
     width: 100%;
     max-width: 90%;
     position: relative;
 }
 .gz-sidebar span.msgk-udate {
    background: #ffffff;
    padding: 8px;
    display: block;
    max-width: 110px;
    text-align: center;
    margin: 0px auto;
    border-radius: 30px;
    font-size: 12px;
    color: #9c9c9c;
    position: relative;
}
.date_print.msgdate_cre::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #e8e8e8;
    position: absolute;
    top: 16px;
}
.msgk-umsxxt {
	padding: 10px 20px 10px 20px;
	border-radius: 22px;
}
.msgk-user-chat.msgk-left .msgk-udate {
	padding-left: 5px;
	text-align: left;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
}
.msgk-mn .msgk-umsgbox+.msgk-umsgbox {
	margin-top: 3px;
}

.gz-sidebar .date-space {
	background: #f2f2f2;
	padding: 8px;
	display: block;
	max-width: 110px;
	text-align: center;
	margin: 0px auto;
	border-radius: 30px;
	font-size: 12px;
	color: #9c9c9c;
	box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.1);
}
.msgk-user-chat.msgk-right .msgk-udate {
	padding-right: 5px;
	text-align: right;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
}

.updatevise {
	text-align: center;
	margin: 15px auto;
}
.updvise-cn {
	font: normal 10px/15px 'GothamPro', sans-serif;
	color: #1a3147;	
	display: inline-block;
	padding: 5px 15px;
	border-radius: 15px;
	background-color: #e8eaec;
}

div#message_container {
	max-height: calc(100vh - 302px);
	overflow: auto;
	min-height: calc(100vh - 300px);
}

.list-accessimg li{
	display: inline-block;
	margin-right: 1%;
	vertical-align: middle;
	width: 24%;
	min-width: 170px;
	float: left;
}
.accimgbx33 {
	width: 100%;
	height: 142px;
	display: flex;
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}
.accimgbx33 .tel100 {
	object-fit: cover;
	width: 100%;
	display: block;
	height: 100%;
}
.viewDelete a.delete_file_req {
	background: #db213c;
	color: #fff;
}
a.icon-crss-2 {
	position: absolute;
	top: 5px;
	right: 5px;
	display: inline-block;
}

.accimgbx33.add {
	border: 2px dashed #d5d5d5;
	border-radius: 7px;
	line-height: 100px;
	text-align: center;
}
.accimgbx33.add .icon-crss-3{
	color: #d5d5d5;
}
.accimgbx33.add:hover .icon-crss-3{
	color: #e73250;
}


.icon-crss-3 {
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
}
.icon-circlxx55 {
	font: normal 18px/33px 'GothamPro', sans-serif;
	color: #ffffff;	
	width: 33px;
	height: 33px;
	margin: 0 auto;
	display: block;
	background-color: #cfcfcf;
	border-radius: 50%;
	text-align: center;
}
.attachfile {
	font: normal 12px/20px 'GothamPro', sans-serif; 
	color: #afb6bd;
	margin-top: 7px;
}

/* */
.settingedit-box {
	padding: 15px 15px 15px;
	min-height: 450px;
}
.settrow {
	display: table;
	width: 100%;
}
.settcol {
	display: table-cell;
	vertical-align: middle;
}
.settcol.left {
	width: 70%;
}	
.settcol.right {
	text-align: right;
}


/* */
.client-profile figure {
	width: 100px;
	height: 100px;
	border: 2px solid #dad9d9;
	border-radius: 100%;
	padding: 2px;
	margin-right: 15px;
	overflow: hidden;
	position: relative;
}
.setimg-box33 .telset33 {
	object-fit: cover;
	width: 100%;
	display: block;    border-radius: 100%;
	height: 100%;
}
.client-profile .profile-pic {
	position: relative;
}
a.setimg-blog33 {
	position: absolute;
	display: inline-block;
	top: -9px;
	right: 30px;
	margin: auto;
	z-index: 0;
	color: #fff;
	background: #e73250;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
}
.setimg-box33 .setimgblogcaps {
	display: inline-block;
	vertical-align: middle;

	color:#ffffff;
	text-transform: uppercase;
}
.setimgblogcaps > img {
	display: block;
	margin: 0 auto;
}

.seter,
.setinput .form-control {
	text-align: center;
}
.seter { margin-top: 10px; }
.seter span{
	
	color: #596375;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 15px;
	background-color: #dee0e3;
}

.chngpasstext {
	text-align: center;
}
.chngpasstext a{
	color: #e73250;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
}
.chngpasstext a span,
.chngpasstext a img {
	vertical-align: middle;
	display: inline-block;
}
.chngpasstext a span {
	display: inline-block;
}
.chngpasstext a img {
	position: relative;
	top: -1px;
	padding-right: 7px;
}
.setinput .form-control.input-b {
	color: #596375;
}
.setinput1 .form-control.textarea-a {
	color: #596375;
	height: 315px;
}

.setrightstst {
	color: #596375;
	white-space: nowrap;
}
.setpricext25 {
	color: #e73250;
}
.btn-f.chossbpanss {
	white-space: nowrap;
}

.cyclebox25 {
	padding: 15px;
	background-color: #eeeff1;
	border-radius: 5px;
}

/* */
a.review-circleww-plus {
	display: inline-block;
	text-decoration: none;
	width: 34px;
	height: 34px;
	line-height: 32px;
	border-radius: 50%;
	background-color: #e73250;
	text-align: center;
}
a.review-circleww-plus img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 34px;
}
a.review-circleww-plus:hover {
	background-color: #afb6bd;
}

.inflexsss {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}



.designdraft-views,
.cat-form-xx123 {
	padding-left:0px;
	position: relative;
}
.label-x1,
.label-x2 {
	position: relative;    color: #000000;
}

.cat-form-xx123 .radio-box-kk2{
	white-space: nowrap;
}
.srd-row {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.srd-col.right{
	flex: 1;
	text-align: right;
}
.srdselect {
	max-width: 175px;
	min-width: 175px;
}


a.vwwv {
	position: relative;
	display: inline-block;
	text-decoration: none; 
	width: 39px;
}
a.vwwv .vewviewer-cicls{
	margin-left: 0;
	position: relative;
}

a.vwwv+a.vwwv {
	margin-left: -15px;
}
.hoversetss {
	display: none;
	position: absolute;
	margin: auto;
	background-color: #253858;
	padding: 10px;
	white-space: nowrap;
	border-radius: 5px;
	z-index: 100;
	text-align: center;
	color: #fff;
	right: 0;
	bottom: -40px;
	font-size: 11px;
}
.hoversetss:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	background: #253858;
	transform: rotate(45deg);
	top: -9px;
	right: 10px;
}

a.vwwv:hover  .hoversetss{
	display: block;
}

.head-b.xssstat {
	font-size: 16px;
}
.head-b.xssstat span {
	color: #f27788;
}


a.back-link-xx11 {
	font: 500 20px/30px 'GothamPro', sans-serif;
	color: #32475a;
	white-space: nowrap;
}
.savecols-col.left {
	text-align: left;
}
.savecols-col.center {
	text-align: center;
}
.savecols-col.right {
	text-align: right;
}

/* */
.profielveiwee-box {
	padding: 15px;
}
.text-wrap {
	white-space: nowrap;
}

/* */
.cli-ent-row.tr {
	display: table;
}
.cli-ent-row.tr+.cli-ent-row.tr {
	margin-top: 15px;
}

.cli-ent-row {
	min-height: 1px;
	border: 1px solid #ddd;
	border-radius: 7px;
	width: 100%;
	overflow: hidden;
}
.cli-ent-col.td {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.cli-ent-col {
	vertical-align: middle;
	min-height: 1px;
	padding: 15px;
}

.cli-ent-img.one {
	width: 62px;
	height: 62px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.cli-ent-img.circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.img-responsive.one {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.seter.left { 
	text-align: left; 
	margin-top: 5px; 
}

.word-wrap-one {
	white-space: nowrap;
}

/* Model Popup */
.cli-ent-model-box {
	position: relative;
}
.cli-ent-model {
	padding: 15px;
}
.fo-rm-header {
	margin-bottom: 20px;
}
.cli-ent-add-row {
	margin-bottom: 15px;
}
.cli-ent-add-col {
	width: 100%;
	height: 85px;
	overflow: hidden;
	position: relative;
	border: 2px dashed #e73250;
	border-radius: 7px;
	line-height: 80px;
	text-align: center;
	display: block;
}

.cli-ent-add-icon {
	font: normal 22px/40px 'GothamPro-Medium', sans-serif;
	color: #ffffff;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	background-color: #e73250;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;

}

.rheight-xt .savecols-col {
	display: inline-block;
	vertical-align: middle;
	padding-right: 15px;
	width: 35px;
}
.rheight-xt .head-b {
	display: flex;
}

/* */


.pro-ject-centbar {
	overflow: hidden;	
	margin: 50px 15px 15px;
	
}


.headnris {
	padding: 12px 10px;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 15px
}


.de-signdr-aftleft {
	padding: 0;
	border-bottom: 1px solid #cfcfcf;
	min-height: 45px;
	margin-bottom: 5px;
}
.rpjecsrr {
	padding: 10px 15px 0;
}

.pr-ofile-desinger {
	padding: 15px;
	min-height: 450px;
}

.settrow.paypalinput .settcol.left{
	padding-right: 15px;
	width: 50%;
}

.inline-imgsssx {
	position: relative;
	display: inline-block;
}

.inline-imgsssx .numcircle-box {
	font: normal 8px/13px 'GothamPro-Medium', sans-serif;
	top: -15px;
	right: 0;
}

.pro-circ-le .pro-circle-txt,
.pro-circ-le .pro-circle-img{
	display: inline-block;
	vertical-align: middle;
}
.pro-circ-le a {
	text-decoration: none;
	max-width: 100%;
}
.list-setting > li a figure.pro-circle-img-xxs img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}
/* */
.pro-gressbar {
	display: table;
	width: 100%;
	margin-bottom: 7px;
}
.pro-gressbar .progress-title {
	font: normal 15px/20px 'GothamPro', sans-serif;
	color: #596375;
}
.pro-gressbar .progress-value {
	font: normal 15px/20px 'GothamPro-Medium', sans-serif;
	color: #e73250;
}
.pro-gressbar .progress-value-1 {
	font: normal 15px/20px 'GothamPro-Medium', sans-serif;
	color: #e73250;
	text-align: right;
}

.pro-gressbar .progress-title,
.pro-gressbar .progress-value {
	display: table-cell;
	vertical-align: middle;
}
.progress-value {
	text-align: right;
}
.pro-gressbar-row {
	margin-top: 25px;
}

.progress{
	height: 9px;
	background: #ffe5e9;
	border-radius: 30px;
	overflow: visible;
	position: relative;
	box-shadow: none;
	margin: 0;
}
.progress .progress-bar{
	border-radius: 30px;
	box-shadow: none;
	position: relative;
	animation: animate-positive 2s;
}

@-webkit-keyframes animate-positive{
	0%{ width: 0; }
}
@keyframes animate-positive{
	0%{ width: 0; }
}

/* */
.ui-slid-errow {
	margin-bottom: 25px;
}
.ad-dskills a {
	font: normal 20px/25px 'GothamPro-Medium', sans-serif;
	color: #e73250;
}

/* 19-06-2018 */
.cli-ent-row.tr.brdr .cli-ent-col+.cli-ent-col {
	border-left: 1px solid #cfcfcf;
}
.cell-row {
	display: table;
	width: 100%;
}
.cell-col {
	display: table-cell;
	vertical-align: middle;
}
.neft .blue { 
	background-color: #1b3248; 
	color: #ffffff;
	display: inline-block;
	padding: 3px 15px;
	border-radius: 15px; 
	white-space: nowrap;
}

.pro-head-q {
	font: normal 18px/25px 'GothamPro-Medium', sans-serif; 
	color: #1b3248;
}
.pro-head-q a {
	color: #1b3248;
}
a.cli-ent-add-col {
	text-decoration: none;
}
.cli-ent-add-txtx {
	font: normal 18px/25px 'GothamPro-Medium', sans-serif; 
	color: #e52344;
}

.inline-imgsssx img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	position: relative;
	top: -2px;
}

.p-left1 {
	padding-left: 20px;
}

.client-leftshows {
	position: relative;
	padding-left: 75px;
}
.client-leftshows .cli-ent-img.circle {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.list-header-blog.small li {
	margin-right: 10px;
}
.list-header-blog.small li a{
	font: normal 16px/30px 'GothamPro-Medium', sans-serif;
	padding: 10px;
}



.bl-ogbox {
	padding: 15px;
	box-shadow: 0 0 25px rgba(53,77,103,.1);
	max-width: 390px;
	margin-left: auto;
	margin-right: auto;
}
.bl-ogimg {
	max-width: 100%;
	height: 205px;
	line-height: 205px;
	overflow: hidden;
	margin-bottom: 15px;
}
.por-tfolioimg img.img-responsive,
.bl-ogimg img.img-responsive {
	width: 100%;
	height: 100%;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-ms-object-fit: cover;
	-o-object-fit: cover;
	object-fit: cover;
	object-position: center;
}
.bl-oghead {
	font: normal 20px/30px 'GothamPro-Medium', sans-serif;
	color: #1b3248;
}

.bl-ogaction {
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.bl-ogaction a {
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
	padding: 2.5px;
}
.bl-ogaction a+a {
	margin-left: 10px;
}
.btn-x.bl-ogbtn .btn-g {
	width: auto;
	font-weight: bold;
}
.btn-x.bl-ogbtn .btn-g+.btn-g {
	margin-left: 7px;
}

.bl-ogaddt-est,
a.bl-ogaddt-anchr {
	font: normal 16px/40px 'GothamPro-Medium', sans-serif;
	color: #657f9a;
	display: inline-block;
	max-width: 100%;
	position: relative;
	cursor: pointer;
}


.bl-ogaddt-est:hover {
	color: #e52344;
}
.bl-ogaddt-est:hover .bl-ogaddt-est-a2{
	border: 5px solid #e52344;	
}
.bl-ogaddt-est:hover .bl-ogaddt-est-a33{
	background: #e52344;
}
.bl-ogaddt-est-a2 {
	width: 70px;
	height: 70px;
	border: 5px solid #b2c0cf;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 5px;
}
.bl-ogaddt-est-a33 {
	font: normal 25px/40px 'GothamPro-Medium', sans-serif;
	color: #ffffff;
	width: 100%;
	height: 100%;
	background: #b2c0cf;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 5px;
	text-align: center;
}

.por-tfolioimg {
	max-width: 100%;
	height: 160px;
	line-height: 160px;
	overflow: hidden;
	margin-bottom: 15px;
}

.bl-ogaddt-est.por-rtfolios54 {
	font-size: 20px;
}
.bl-ogaddt-est.por-rtfolios54 .bl-ogaddt-est-a2{
	width: 150px;
	height: 150px;
	border: 15px solid #b2c0cf;
	margin-bottom: 10px;
}
.bl-ogaddt-est.por-rtfolios54 .bl-ogaddt-est-a33{
	font-size: 60px;
	line-height: 100px;
}
.bl-ogaddt-est.por-rtfolios54:hover .bl-ogaddt-est-a2 {
	border: 15px solid #e52344;
}
.app-roved {
	font: normal 16px/30px 'GothamPro-Medium', sans-serif;
	color: #4d636d;
}
.app-roved.green {
	color: #37c473;
}

.upl-oadfi-le.noborder {
	border: none;
}
.upl-oadfi-le.noborder .icon-circlxx55 {
	margin-right: 5px;
}

.boxmes-sages {
	border: 1px solid #cfcfcf;
	border-radius: 6px;
	padding: 7px 15px;
}

.notestxx {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*background-color: rgba(255,255,255,.65);*/
	padding: 15px;
}
.adnewpp {
	display: block;
	position: absolute;
	left: -20px;
	top: 30px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: transparent;
	padding: 2px;
	text-align: center;
	color: #fff;
	font-size: 11px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	width: 117px;
	background: transparent !important;
}
a.btn-d.green {
	background: #37c473;
}
.btn-x.desi-gned {
	text-align: center;
}
.btn-x.desi-gned .redbtn,
.btn-x.desi-gned .greenbtn {
	height: auto;	
}
.btn-x.desi-gned .redbtn {
	background-color: #ec3d56;
	border-color: #ec3d56;
}
.btn-x.desi-gned .redbtn:hover {
	background-color: #ffffff;
	border-color: #ec3d56;
	color: #ec3d56;
}
.design-draft-header.noheight {
	min-height: auto;
	padding-bottom: 10px;
}
.qua-litypas-sed {
	color: #37c473;
}
.qua-litypas-sed img {
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: -2px;
	vertical-align: middle;
}
.qua-litypas-sedeee {
	color: #596375;
}

/* Notification */
.list-setting .dropdown-menu {
	left: auto;
	padding: 0;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .20);
	z-index: 100;
	background-color: #ffffff;
	min-width: 350px;
	max-width: 350px;
	border: 0;
	right: -20px;
	border-radius: 0;
	top: 50px;	
}
h2.head-notifications {
	background-color: #ffffff;
	font: normal 14px/25px 'GothamPro', sans-serif;
	color: #333;
	border-bottom: solid 1px rgba(100,100,100,.3);
	padding: 5px 10px;
}
.noti-listpopup ul.list-notificate > li a,
.list-setting ul.list-notificate > li a {
	padding: 10px 0px;
	color: #808080;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: none;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
.list-setting ul.list-notificate > li a {
	/*background-color: #edf2fa;*/
	padding: 10px 0px;
}
.dropdown-menu.pull-right.profile-dropdown {
	min-width: 250px;
	top: 77px;
	right: 0px;
}
.mobile-visibles {
	display: none;
}
.list-setting .dropdown-menu .profile_wrapper {
	padding: 5px 15px 10px;
}
.dropdown-menu.pull-right.profile-dropdown ul.list-unstyled.list-notificate li {
	padding: 2px 0px;
}
.list-setting .dropdown-menu .profile_wrapper i {
	margin-right: 5px;
	font-size: 16px;
	min-width: 19px;
}
.noti-listpopup ul.list-notificate > li:last-child a,
.list-setting ul.list-notificate > li:last-child a {
	border-bottom: none;
}
.list-setting .dropdown-menu ul.list-unstyled.list-notificate .setnoti-fication p.ntifittext-z1 {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	line-height: 20px;
}
.list-setting .dropdown-menu ul.list-unstyled.list-notificate .ntifittext-z2 {
	color: #3f3f3f;
	font-size: 11px;
	font-style: italic;
	font-weight: 300;
	margin-top: 4px;
}
.head-notifications {
	border-bottom: solid 1px rgba(100,100,100,.3);
	margin: 0;
	background: #0f3148;
	color: #fff;
	border-radius: 0;
	font-size: 14px;
	padding: 12px;
}
ul#right_nav ul.list-unstyled.list-notificate {
	max-height: 300px;
	overflow-y: auto;
}
ul#right_nav ul.list-unstyled.list-notificate figure.pro-circle-k1 {
	max-width: 40px;
	height: 40px;
}
.setnoti-fication .notifitext h5 {
	color: #0f3148;
	font-weight: 500;
}
.list-setting .dropdown-menu ul.list-unstyled.list-notificate .setnoti-fication p.ntifittext-z1 strong {
	display: block;
}
.list-setting .dropdown-menu ul.list-unstyled.list-notificate li {
	padding: 0px 5px;
	border-bottom: 1px solid #dde3e7;
}
.list-setting .dropdown-menu ul.list-unstyled.list-notificate li:last-child{border-bottom: 0;}
a.clearall_msges {
	text-align: right;
	width: 100%;
	display: block;
	padding-right: 5px;
	padding-top: 4px;
}
.seeAll {
	background: #F6F7F8;
	color: #333;
	border-top: solid 1px rgba(100,100,100,.3);
	text-align: center;
	padding: 5px 10px;
}
.seeAll a {
	color: #3b5998;
}

.pro-circle-k1 {
	width: 54px;
	height: 54px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	position: relative;
	margin-right: 10px;
	margin-top: -3px;
}
.pro-circle-k1 img {
	display: block;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	object-fit: cover;
} 

.ntifittext-z1 {
	color: #333;
}
.ntifittext-z2 {
	color: #3f3f3f;
}

.setnoti-fication {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.icon-crss-3.nowrapser {
	white-space: nowrap;
}

.noti-listpopup ul.list-notificate > li a {
	padding: 6px 30px 5px 35px;
	position: relative;
}
.radio-boxxes {
	position: absolute;
	left: 10px;
	top: 20px;
	display: inline-block;
}

.upinter {
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.notestxx11 {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,.65);
	padding: 50px 30px;
}
.notappchanges {
	font: normal 14px/20px 'GothamPro-Medium', sans-serif;
	color: #e52344;
	text-transform: uppercase;
	padding: 10px 15px;
}

a.addde-signersk1 {
	font: normal 11px/20px 'GothamPro', sans-serif;
	color: #e52344;
	margin: 0;

	display: inline-block;

	white-space: nowrap;
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 20px;
	height: 20px;
	overflow: hidden;
	
}
.sma-red {
	font: normal 16px/18px 'GothamPro', sans-serif;
	margin-right: 5px;
	width: 18px;
	height: 18px;
	background-color: #e52344;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	color: #ffffff;
	border-radius: 50%;
	text-align: center;
}

.cli-ent-row.tr.notificate {
	border: none;
}
.cli-ent-row.tr.notificate .cli-ent-col.td{
	padding: 0;
}

.pro-a .sho-wred {
	color: #e52344;
}

.modal-dialog.modal-lg.modal-nose {
	max-width: 800px;
}

.pro-b .green{
	color: #37c473;
}
.pro-b .red {
	color: #e52344;
}

.cli-ent-row.tr.notificate .cli-ent-col.td {
	position: static;
}
.newsetionlist {
	padding: 6px 30px 5px 35px;
}
.btn-g.minxx1 {
	max-width: 200px;
	
	text-align: center;
}

.inshowskills img{
	margin-left: 15px;
	display: inline-block;
}

.header-blog.xss0 .pro-head-q {
	font-size: 15px;
	line-height: 20px;
}
.header-blog.xss0 .list-header-blog.small li a {
	font-size: 14px;
}
.lightbluetext {
	padding: 3px 15px;
	border-radius: 15px;
	background: #0000FF;
}
.bluetext{
	background: #000080;
}

.orangetext {
	background: #FF8C00;
}
.approvedate.admin-del, .buttons_quality .status-bttn {
	display: inline-block;
	justify-content: space-between;
}
.approvedate.admin-del .downld_del_sec {
	display: flex;
	justify-content: center;
	margin: auto;
}
.approvedate.admin-del .downld_del_sec button {
	border: 1px solid #acadad !important;
	border-radius: 100%;
	width: 30px;
	padding: 0;
	height: 30px;
	color: #acadad;
}
.buttons_quality .status-bttn .btn-d {
	color: #ffffff;
	border-radius: 5px;
	display: inline-block;
	font-size: 14px;
	padding: 10px 15px;
}
.mydivposition {
	cursor: no-drop !important;
}
.cli-ent-xbox p.pro-a {
	color: #36c473;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 10px;
}
span.Empty_record {
	line-height: 70px;
	font-weight: 600;
	text-align: center;
	width: 100%;
	display: block;
}
.nav-section nav.navbar.navbar-default.flex-show::before{display: none;}
ul.gz-breadcrumb {
	padding-left: 30px;
}
ul.gz-breadcrumb li {
	display: inline-block;
	list-style-type: none;
}
ul.gz-breadcrumb li a {
	font-size: 14px;
	color: #676767;
	margin-right: 8px;
	font-weight: 500;
}
ul.gz-breadcrumb li:last-child a {
	color: #db213c;
	pointer-events: none;
}
.project-info-page .content_section {
	float: left;
	width: calc(100% - 342px);
	padding: 20px;
}
.rheight-xt.d-progress {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 0px 40px;
}

.rheight-xt.d-progress h3.head-b {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #1d3247;
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
	max-width: 300px;
}
.flex-this {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.adddesinger {
	font-size: 13px;
	background: #db213c;
	color: #fff !important;
	padding: 9px 12px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 500;
}
a.adddesinger img{
	width: 20px;
	display: inline-block;
	margin-right: 4px;
	max-height: 16px;
}
a.adddesinger img{
	transform: rotate(180deg);
}
.list-designdraftnew {
	margin-left: -15px;
	margin-right: -15px;
}
.project-info-page .side_bar {
	position: fixed;
	top: 80px;
	right: 0;
	width: 342px;
	height: 100%;
}
.gz-sidebar {
	background: #fff;
	box-shadow: 0px 2px 4px rgba(15, 49, 72, 0.25);
	min-height: calc(100vh - 70px);
	width: 100%;
}
.sidebar-outer {
	padding: 20px;
}
.with-withoiut .sound-signal {
	display: flex;
	justify-content: space-between;
}

.with-withoiut {
	font-size: 12px;
	font-weight: 600;
	color: #0d0d0d;
	margin: 0px 0 20px;
}
.figimg-one {
	width: 100%;
	position: relative;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0px 3px 3px rgba(152, 167, 176, 0.4);
	background: #fff;
}
.figimg-one .draft-go {
	height: 210px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.56s;
}
.draft_img_wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px 5px 0px 0px;
}
.draft_img_wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.draft-go a {
	font-size: 14px;
	font-weight: 500;
	line-height: 30px;
	display: inline-block;
	padding: 3px 14px;
	transform: none !important;
	border-radius: 4px;
	margin: 4px;
	transition: 0.56s;
	text-align: center;
	width: 30%;
	min-width: 100px;
}
.view-share {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0;
	bottom: 0;
	transition: 0.56s;
	background: rgba(15, 49, 72, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px 5px 0 0;
}
.draft-go:hover .view-share {
	opacity: 1;
}
.draft-go a.view-draft {
	background: #fff;
	color: #0f3148;
	left: 0;
}
.list-designdraftnew li .tm-heading a h3 {
	color: #0d0d0d;
	font-size: 16px;
	margin-bottom: 6px;
	font-weight: 500;
}
.tm-heading {
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 15px;
}
.tm-heading p {
	font-size: 14px;
	color: grey;
}
.chatbox-add {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.list-designdraftnew li .tm-heading a {
	text-decoration: none;
	color: grey;
	display: inline-flex;
	justify-content: flex-start;
	align-items: flex-start;
}
ul#status_check {
	margin: 0px 0 20px;
}
.designdraft-views .goup-x1:nth-child(2n-1) {
	margin-left: 0;
	clear: both;
}
.designdraft-views .goup-x1 {
	margin-bottom: 25px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(152, 167, 176, 0.5);
	padding: 20px;
	width: 49%;
	margin: 0px 1% 2%;
	min-height: 110px;
	float: left;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}
.designdraft-views .goup-x1:nth-child(2n+2) {
	margin-right: 0;
}
.review-textcolww.abler {
	position: absolute;
	right: 0px;
	top: -40px;
}
.review-textcolww i {
	color: #afb6bd;
	font-size: 25px;
}
.project-row-qq1 {
	position: relative;
}
.designdraft-views label {
	color: #596375;
	text-transform: uppercase;
	color: grey;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 8px;
}
.review-textcolww {
    color: #0d0d0d;
    font-size: 15px;
    font-weight: normal;
    word-break: break-word;
    letter-spacing: .5px;
    line-height: normal;
    text-align: left;
}
.form-group.discrptions {
	background: #fff;
	box-shadow: 0 2px 4px rgba(152, 167, 176, 0.5);
	padding: 20px;
	width: 100%;
	margin: 1% 1% 1% 0;
	min-height: 100px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	float: left;
}
div#imgrmv {
	margin-top: 30px;
	float: left;
	width: 100%;
}
.viewDelete {
	position: absolute;
	background: rgba(82, 121, 149, 0.75);
	left: 0;
	right: 0;
	opacity: 0;
	top: 0;
	bottom: 0;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 8px;
	transition: 0.56s;
}
.viewDelete a {
	display: block;
	width: 90px;
	text-align: center;
	padding: 8px;
	background: #fff;
	margin: 4px;
	font-size: 12px;
	border-radius: 4px;
	color: #0f3148;
	font-weight: 500;
}
.accimgbx33 img {
	max-width: 100%;
	max-height: 100%;
	height: 100%;
	object-fit: cover;
}
.accimgbx33 p.extension_name {
	position: absolute;
	top: 20%;
	color: #fff;
	left: 25%;
	text-transform: uppercase;
}
.accimgbx33:hover .viewDelete {
	opacity: 1;
}
h3.base-heading {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
.review-textcolww span {
	background: #98a7b0;
	padding: 8px;
	margin-right: 10px;
	border-radius: 4px;
	margin-top: 6px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}
.orb-xb-col.right {
	width: 100%;
}
.status_label {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.status_label svg {
	width: 128px;
	position: absolute;
	left: -11px;
	top: -11px;
}
.sound-signal input[type="radio"] {
	display: none;
}
.sound-signal label {
	display: inline-flex;
	align-items: center;
}
li.active-result.result-selected::after, .sound-signal input[type="radio"]:checked + label:before, .radio-box-xx2 input:checked ~ .check-main-xx3 {
	border: 2px solid #db213c;
}
.sound-signal input[type="radio"]:checked+label:before {
	background-color: #db213c;
}
li.active-result.result-selected::after, .sound-signal input[type="radio"]+label:before, .radio-box-xx2 input:checked~.check-main-xx3 {
	border: 2px solid #808080;
}
.sound-signal input[type="radio"]+label:before {
	content: "";
	display: inline-block;
	width: 19px;
	height: 19px;
	padding: 3px;
	margin-right: 5px;
	background-clip: content-box;
	background-color: #808080;
	border-radius: 50%;
}
.project-row-qq2 {
	background: #fff;
	border: 0 !important;
	box-shadow: 0 2px 6px rgba(152, 167, 176, 0.5);
	border-bottom: 2px solid #98a7b0 !important;
}
.project-row-qq2 span.cmmsend {
	padding-right: 15px;
}
label.form-group .input {
	width: 100%;
	padding: 10px 10px 10px 0;
	height: auto;
	background: transparent;
	border: none;
	box-shadow: none;
	font-size: 16px;
	font-weight: 500;
	outline: 0;
	line-height: 25px;
}
label.form-group .label-txt {
	position: absolute;
	top: 0;
	padding: 10px 20px 10px 0;
	font-size: 12px;
	letter-spacing: 1px;
	color: grey;
	transition: ease .3s;
	text-transform: uppercase;
	font-weight: 600;
}
label.form-group .label-active {
	top: -2em;
}
.line-box {
	position: relative;
	width: 100%;
	height: 2px;
	background: rgba(152, 167, 176, 0.5);
}
.input:focus+.line-box .line {
	width: 100%;
}
.line-box .line {
	position: absolute;
	width: 0;
	height: 2px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background: #db213c;
	transition: ease .6s;
}
label.form-group {
	width: 100%;
	position: relative;
	margin-bottom: 35px;
}
.tabs-card {
	background: #fff;
	margin: 20px 0;
	padding: 40px;
	box-shadow: 0 2px 4px rgba(152, 167, 176, 0.5);
}
.client-profile {
	background: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	box-shadow: 0 2px 4px rgba(152, 167, 176, 0.5);
	position: relative;
}
.detailed-item {
	background: #fff;
	padding: 15px;
	box-shadow: 0 2px 4px rgba(152, 167, 176, 0.5);
	min-height: 130px;
}
.detailed-item ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}
.detailed-item ul li {
	flex: 0 0 48%;
	max-width: 48%;
	display: flex;
	justify-content: space-between;
	line-height: 30px;
	font-size: 14px;
	color: #808080;
	font-weight: 500;
}
.detailed-item ul li span {
	color: #272727;
}
.main-discp h3 {
	color: #db213c;
	font-size: 18px;
}
.main-discp p {
	font-size: 13px;
	color: #808080;
	font-style: italic;
}
.main-discp h2 {
	font-size: 22px;
	line-height: 25px;
	margin: 10px 0;
}
ul.list-header-blog.client-inform {
	padding: 0;
	margin: 30px 0 20px;
}
.main-discp p.chngpasstext {
	text-align: left;
	margin-top: 4px;
}
div#brand_profile .modal-dialog {
	max-width: 900px;
	width: 100%;
	border-radius: 0;
}
.displayed-pic {
	display: flex;
	align-items: flex-start;
	background: #f8f6f6;
	padding: 30px;
	margin-top: 4px;
}
.all-brand-outer {
	padding: 30px;
}
.displayed-pic .dp-here {
	width: 250px;
	max-height: 150px;
	display: flex;
	align-items: center;
	overflow: hidden;
	border-radius: 8px;
	margin-right: 40px;
}
.displayed-pic .profile_info {
	width: calc(100% - 250px);
}
.profile_info .profile.colm {
	display: block;
	width: 32%;
	float: left;
}
.profile_info .profile.colm .brand_labal {
	font-size: 14px;
	color: grey;
	font-weight: 600;
	letter-spacing: 1px;
}
.profile_info .profile.colm .brand_info {
	color: #0d0d0d;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	margin-top: 10px;
}
.profile.colm.materials-sp {
	display: block;
	width: 100%;
	clear: both;
}
.profile.colm.materials-sp .brand_labal {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0px 0 20px;
}
.profile.colm.materials-sp .brand_info {
	margin-bottom: 20px;
}
.headerWithBtn {
	position: relative;
	    padding: 40px 40px 0;
}
.headerWithBtn .addPlusbtn {
	position: absolute;
	right: 0;
	top: 0;
}
div#activity_timeline .figimg-one.no_img {
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	box-shadow: none;
}
.review-textcolww .showbrand_profile {
	color: #db203c;
}
.review-textcolww .showbrand_profile i {
	color: #db203c;
}
.flex-this a.btn-d.green {
	margin-left: 8px;
}
.selectimagespopup .file-drop-area {
	border: 1px solid #ccc;
}
.file-drop-area span.fake-img {
	margin: 50px 0;
}
body .nonflex .modal-dialog {
	display: block;
	margin: 20px auto !important;
	height: auto;
}
.gz-sidebar .right-inst a {
	display: inline-block !important;
	border: 1px solid #ccc;
	border-radius: 100%;
	padding: 0;
	width: 30px;
	height: 30px;
	margin: 0 !important;
}
.gz-sidebar .right-inst a .vewviewer-cicls {
	border-radius: 100%;
	overflow: hidden;
}
.gz-sidebar .right-inst a .vewviewer-cicls img {
	border-radius: 100%;
	object-fit: cover;
	height: 100%;
}
.flex-this p.btn-x {
	margin-left: 8px;
}
.sidebar-header .right-inst {
	text-align: right;
}
.cmmtype-box {
	padding-right: 18px;
}
.closeoncross span.cmmsend {
	padding-right: 15px;
}
.selectimagespopup .file-drop-area .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.37);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	transition: 0.54s all;
	opacity: 0;
}
.selectimagespopup .file-drop-area .overlay button {
	background: #fff;
	border: 0;
	padding: 6px 12px;
	font-size: 13px;
	text-transform: uppercase;
}
.selectimagespopup .file-drop-area:hover .overlay {
	opacity: 1;
}
.gz.ajax_loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: rgba(255, 255, 255, 0.81);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}
.edit_profile_pic_sec a.setimg-blog33 {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.43);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
}
.edit_profile_pic_sec .settrow {
	position: absolute;
	right: 10px;
	height: 20px;
	top: 10px;
}
.edit_profile_pic_sec .settrow button.btn-e {
	padding: 4px 9px;
	font-size: 12px;
}
.figimg-one.no_img {
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bma-outer {
	width: 100%;
	height: 142px;
	display: flex;
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}
.bma-outer .bottom-icon {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fd2041;
	padding: 10px 15px;
	color: #fff;
	border-radius: 8px 0;
}
.bma-outer .bottom-icon a {
	color: #fff;
	font-size: 14px;
}
.red {
	background: #db203c;
}
.verified_by_admin label, .verified_by_designer label{
	color: #25812f;
}

.similar-prop .file-drop-area span.fake-img {
	margin: 10px 0;
}
.review-textcolww.abler img {
	max-width: 28px;
}
.profile_info .profile.colm:last-child {
	display: block;
	width: 100%;
}
ul#right_nav>li:last-child.open .dropdown-backdrop {
	display: none;
}
p.text-h.text-wrap.subUsr {
    margin-top: 8px;
}
.admin-sidebar.open .site-logo {
	background: #f7f7f7;
}

/* style 07-oct-2019 */
.viewDelete .img_from img { 
    width: 25px;
    text-align: center;
}
.light-box ul .attch-icon a:hover {
    background: #db213c;
}
.light-box ul .viewDelete a {
    background: transparent;
    display: inline-block;
    color: #fff;
}
.light-box ul .attch-icon a, .viewDelete .img_from a {
    border: 1px solid #fff;
    height: 35px;
    width: 35px;
    transition: all 0.2s ease-out;
}
.viewDelete .img_from a{
   padding: 5px;
}

.attch-icon {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.icon-tip img{
    width:100%;
}
.icon-tip {
    position: absolute;
    right: 0;
    top: 0;
    height: 28px;
    width: 28px;
    background: #fff;
    overflow: hidden;
    z-index: 9;
    padding: 5px;
    box-shadow: 0px 0px 5px -2px #747474;
}
.light-box ul li .accimgbx33 {
    overflow: visible;
    
}
.project-prew-detail .project-info-list {
    max-height: 250px;
    overflow-y: auto;
}
/* style 07-oct-2019 ends */
@media (min-width:767px){
    .admin-sidebar:hover img.close-nav {
	opacity: 0;
	display: none;
}
.admin-sidebar:hover ul.side-nav {
	width: 100%;
}
.admin-sidebar:hover {
	width: 260px;
}
.admin-sidebar:hover .site-logo {
	background: #f7f7f7;
}
.admin-sidebar:hover img.close-nav {
	opacity: 0;
	display: none;
}
.admin-sidebar:hover img.open-nav{opacity: 1; display: block;    padding: 0px 15px;}
.admin-sidebar:hover img.close-nav{opacity:0; display: none}
.admin-sidebar:hover .site-logo span.arrow_btn{
	content: "";
	background: url(../../img/sidebar_arrow_icon_hover.svg);
}
.admin-sidebar:hover img.open-nav {
	opacity: 1;
	display: block;
	padding: 0px 15px;
}
.admin-sidebar:hover ul.side-nav li a span, .admin-sidebar.open ul.side-nav li a span {
	opacity: 1;
}
}