a{text-decoration: none !important}
.msz-sidebar {
    background: #fff;
    float: left;
    width: 100%;
    padding: 25px;
    padding-right: 10px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
}
.msz-sidebar .two-can.msg-list {
    padding-right: 15px;
}
.chat_area_with_draft {
    margin-top: 40px;
    position: relative;
}
.con-b{padding: 20px;}
.project_sectionfr_msg {
    display: flex;
    padding: 15px 0px 15px 20px;
    position: relative;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #e5e5e5;
}
.project_sectionfr_msg .clnt_prfl_wth_nam {
    margin-right: 15px;text-align: center;
}

.project_sectionfr_msg.active::after {
    content: "";
    display: block;
    background: #ec3e57;
    height: 80%;
    width: 4px;
    position: absolute;
    left: -4px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 20;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.project_sectionfr_msg:hover{background: #fff;}
.project_sectionfr_msg .pro_client_name {
    color: #0f3148;
    text-transform: capitalize;
    text-align: center;
    max-width: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    font-weight: 600;
    margin-top: 6px;
}
.admin_prjct_clint {
    max-width: 73%;
    min-width: 193px;
}
.project_sectionfr_msg .pro_client_name span {
    display: block;
    font-size: 12px;
    line-height: 8px;
}
div#allChats {
    background: #fff;
    max-height: 100vh;
    padding: 25px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
}
div#allChats .orbxb-img-xx3s.one-can {
    max-height: 100%;
    min-height: auto;
}
.prjct_dlvrd_dt {
    font-size: 12px;
    color: #1690e3;
    margin: 6px 0 10px;
}
.chat_area_with_draft .read-msg-box {
    max-height: calc(100vh - 422px);
    overflow: auto;
    min-height: calc(100vh - 560px);
    height: auto !important;
}
.project_sectionfr_msg h4 {
    color: #808080;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    max-width: 250px;
    font-size: 14px;
}
div#message_chat_area ul#comment_list {
    height: 300px;
}
.two-can.msg-list {
    height: calc(100vh - 184px);
    float: left;
    overflow-y: auto;
    padding-left: 3px;
}
div#message_chat_area {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px 0 0 0;
}
h2.messages-info-section {
    font: normal 25px/25px 'GothamPro-Medium', sans-serif;
    /* font-weight: 600; */
    margin-bottom: 10px;
    color: #1b3147;
}
ul.nav.read_unread_tabb li a:first-child {
    padding-left: 0;
}
.project_name_msg_list.unread_msg {
    color: #ccc;
}
.chat_area_with_draft .loading {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000021;
    z-index: 999;
    border-radius: 8px;
}
#allChats .list-designdraftnew li {
    width: 14%;min-width: 90px;
    margin-bottom: 15px;
    border: 1px solid #ccc;min-height: 84px;
    margin: 5px;
    border-radius: 4px;
    padding: 0;
    width: 90px;
    float: left;height: 90px;
}
#allChats .list-designdraftnew li.open{ 
   border: 2px solid #ec3d56;
}
.orb-xb li.open {
    border: 1px solid;
}
.project-list-share {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px 0;
}
div#allChats .figimg-one {
    height: 100%;
    overflow: visible;
    width: 100%;
    margin-bottom: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.list-designdraftnew{margin-left: 0;}
#allChats .chatbox-add {
    z-index: 0;
}
.comment_chat_sec figure.imgobxbins {
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 20px;
    width: auto;
}
.project_sectionfr_msg a {
    color: #000000;
    font-size: 12px;
}
.prjct_clnt_prfl {     position: relative;
    width: 52px;
    height: 52px;    margin: auto;
    border-radius: 100%;
    overflow: hidden;
}
.comn-btn .view_req_frm_prjctlst a {
    color: #0f3148;
    font-size: 18px;
}
.comn-btn .view_req_frm_prjctlst a .fa-angle-right {
    border: 1px solid;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
}
.comn-btn .view_req_frm_prjctlst {
    margin-left: 8px;
}
.my_fvrt.mark_messages{
 position: absolute;
 right: 5px;
 top: 4px;
 color: #7c7c7c;
 cursor: pointer;
}

.admin_prjct_clint .comn-btn {
    display: flex;
}
.btn-d.orangetext {
    background: #FF8C00;
}
.btn-d.green {
    background: #37c473;
}
.project_sectionfr_msg .btn-d {
    padding: 3px 10px;
    color: #fff;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 4px;
}
.btn-d.bluetext {
    background: #000080;
}
.btn-d.gray{
    background:#a3a8ae ;
}
.btn-d.red{
    background:#e52344;
}
.btn-d.lightbluetext{
    background:#0000FF ;
}
#allChats .list-designdraftnew li.show_main_chat {
    height: 90px;
    display: flex;
    align-items: center;
    color: #1b3147;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    width: 90px;
    font-size: 14px;
    position: relative;
}
#allChats .list-designdraftnew li.show_main_chat i {
    font-size: 28px;
    color: #ec4d64;
    margin-bottom: 10px;
}
.chat_area_with_draft .list-designdraftnew {
    max-height: 100px;
    overflow-y: auto;
    margin-right: 0;
    width: 100%;
}
.chat_area_with_draft .msgk-mn .msgk-umsgbox span {
    border-radius: 0px 12px 12px 12px !important;
    box-shadow: none !important;
    background: #f2f6f9 !important;
    color: #000000 !important;
}
.msgk-user-chat.msgk-right span.msgk-umsxxt {
    background: #def4fe !important;
    border-radius: 12px 12px 0px 12px !important;
}
.chat_area_with_draft .chat-box-row {
    padding-bottom: 10px;
}
.chat_area_with_draft .msgk-mn .msgk-umsgbox {
    min-width: auto;
    max-width: 100%;
}
a#load_more_messages {
    display: block;
    color: #fff;
    background: #ed4d64;
    padding: 5px 6px;
    border-radius: 8px;
    margin: 10px auto;
    width: 120px;
    font: normal 14px/25px 'GothamPro', sans-serif;
}
.msgk-uimg .msgk-uleft {
    width: 35px;
    height: 35px;

    border: 0;
}
.msgk-user-chat .msgk-uleft img {
    height: 100%;
    width: 100%;
}

.msgk-user-chat.msgk-right {
    padding-right: 60px;
}
.msgk-user-chat.msgk-left .msgk-udate {
    padding-left: 5px;
    text-align: left;padding-top: 0;
    color: #989898;
    font-size: 12px;
}
.msgk-user-chat.msgk-right .msgk-udate {
    padding-right: 5px;
    text-align: right;
    color: #989898;
}
.msgk-chatrow .msgk-user-chat.msgk-left {
    max-width: 580px; padding-left: 40px;
    margin-bottom: 15px;
}
.msgk-user-chat.msgk-right {
    padding-right: 0px;
    max-width: 580px;    margin-bottom: 15px;
}
#allChats .chatbox-add span.numcircle-box-01 {
    position: absolute;
    top: -12px;
    right: -10px;
    font-size: 14px;
    background: #ec3e57;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    line-height: 25px;
}
.comn-btn .view_req_frm_prjctlst img {
    display: inline-block;
    max-height: 12px;
    filter: brightness(0) invert(1);
    max-height: 10px;
}
#allChats .list-designdraftnew li img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.pro-inrightbox {
    position: absolute;
    right: 10px;
    height: 30px; 
    top: 20px;
}
.pro-inrightbox a.show_trans {
    width: 30px;
    display: block;
    float: right;
    color: #a3a8ae;
    font-size: 22px;
    text-align: center;
    position: relative;
    padding-left: 11px;
    margin-top: 5px;
}
.pro-inrightbox a.show_trans span {
    width: 4px;
    height: 4px;
    background: #9d9d9d;
    display: block;
    margin: 2px;
    border-radius: 100%;
}
.transcopy {
    position: absolute;
    background: #ffffff;
    right: 0;
    top: 25px;
    width: 131px;
    z-index: 9;
    color: #fff;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .20);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .20);
    border-bottom: 0;
    border-radius: 8px;
}
.transcopy a {
    display: block;
    font-size: 13px;
    border-bottom: solid 1px rgba(100, 100, 100, .20);
    font: normal 13px/32px 'GothamPro', sans-serif;
    color: #a6a6a6;
    text-align: left;padding: 0 10px;
}
.no-heading {
    top: 6px;
    position: absolute;
    right: 13px;
}
.msgk-user-chat.msgk-right .msgk-mn {
    float: right;
}
/* .unread_msg .unread_circle {
    width: 11px;
    height: 11px;
    background: #ec3d56;
    border-radius: 100%;    top: 9px;
    right: 5px;
    margin: auto;display: inline-block;
    } */
    .my_fvrt.star_project {
        display: inline-block;
    }
    .two-can.msg-list {
        width: 100%;
    }
    ul.nav.read_unread_tabb {
        margin-bottom: 20px;
    }
    ul.nav.read_unread_tabb li {
        display: inline-block;
        color: #797979;
        font-size: 14px; cursor: pointer;
        margin-right: 15px;
    }
    ul.nav.read_unread_tabb li.active {
        color:#ec3d56
    }

    /*****************************************/
    ul.nav.read_unread_tabb li.active a {
        color: #ec3d56;
    }
    .open.unread .chatbox-add .unread_circle {
        width: 14px;
        height: 14px;
        background: #ec3d56;
        border-radius: 100%;
        margin: auto;
    }
    ul.nav.read_unread_tabb a {
        color: #6a7488;font-size: 15px;
    }
    ul.nav.read_unread_tabb a:hover, ul.nav.read_unread_tabb a:focus{
        background: transparent;
    }
    .star_project p.star_circle {
        text-align: center; display: block !important;
        color: #f9c60e;
    }
    .figimg-one .go_inside {
        position: absolute;
        left: 0;
        background: rgba(0, 0, 0, 0.57);
        border-radius: 4px;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.6s;
        opacity: 0;
    }
    .figimg-one .go_inside a {
        background: #ec3e57;
        color: #fff;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border-radius: 100%;
        transform: rotate(45deg);
    }
    .figimg-one:hover .go_inside{
        opacity: 1
    } 
    .show_main_chat .chatbox-add {
        display: inline-block;
        position: absolute;
        top: -2px;
        right: -1px;    left: auto;
    }
    #allChats .list-designdraftnew li.show_main_chat .chatbox-add {
        top: 7px;
        right: 3px;
    }
    .msg_project_name {
      text-transform: capitalize;
      max-width: 78%;
      display: inline-block;
  }
  .draft_count p.show_count {
    color: #808080;
    font-size: 16px;
}
div#allChats .draft_count {
    display: inline-block;
    float: right;
    font-size: 16px;
    margin-right: 10px;
}
.no_found_pro {
    margin-bottom: 0 !important;
    min-height: 170px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font: normal 25px/25px 'GothamPro-Medium', sans-serif;
    font-weight: 600; 
    margin-bottom: 10px;
    color: #8e8e8e;
}
div#message_container {
    max-height: calc(100vh - 420px);
    overflow: auto;
    min-height: calc(100vh - 500px);
    height: 100%;
}
@media (max-width: 992px){
    .project_sectionfr_msg h4 {
        max-width: 100%;
    }
    div#allChats {
        float: left;
        position: relative; width: 100%;
    }
    .chat_area_with_draft {
        margin-top: 20px;
        float: left;
        width: 100%;
    }
    div#allChats .draft_count {
        margin-right: 20px;
    }
}
@media (max-width: 480px){
    .con-b {
        padding: 20px 0;
    }
    .project_sectionfr_msg .clnt_prfl_wth_nam {
        display: none;
    }
    #allChats .chatbox-add span.numcircle-box-01 {
        top: -5px;
    }
    .project_sectionfr_msg {
        display: block;
    }
    .prjct_clnt_prfl {
        margin: auto;
    }
    .admin_prjct_clint {
        max-width: 100%;
        text-align: center;
    }
    .project_sectionfr_msg .pro_client_name {
        max-width: 100%;
        margin: auto;
    }
    .admin_prjct_clint .comn-btn {
        display: flex;
        justify-content: center;
    }
    .project_sectionfr_msg {
        padding: 15px;
    }
    ul.nav.read_unread_tabb a {
        padding: 0;font-size: 13px;
    }
    .prjct_dlvrd_dt {
        margin: 6px 0 10px;
    }
    div#allChats .draft_count {
    display: none;
}
}



