/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 25, 2017, 4:05:25 PM
    Author     : om
*/
#main {
    padding-top: 0;
    min-height: calc(100% - 50px);
}
.wrapper, body, html {
    position: relative;
    height: 100%;
    background-color: #f6f7fb;
}
.bg-red{background-color:rgba(236,28,65,1)}
.bg-blue{background-color:rgba(53,64,82,1)}
.bg-white{background-color:rgba(255,255,255,1)}
.breadcrumb {
    display: none;
}
.wrapper table thead tr th {
    background:transparent !important;
	color:#fff !important;
}
.left-bar-menu .logo {
    margin: 0 auto !important;
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
	padding:10px 0;
	height: 80px;
}
.logo img {
    max-width: 85px;
    width: 100%;
    margin: 0 auto;
    display: block;
}
h2.user-name {

    padding: 0px 19px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;

}
.user-pro img {
    max-width: 100px;
    width: 100%;
    margin: 30px auto 0;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 50%;
    border: 3px solid #e6ecf5;
    padding: 10px;
}
.site-content-title {
    background: white !important;
    height: 80px;
}
.gallery-img {
    max-width: 360px;
    max-height: 200px;
}

.img-container{
    max-height: 100px;
    width: auto;
    margin-bottom: 5px;
}

.img-container .img{
    max-height: inherit;
    width: auto;
}

.sidebar_head_text {
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
}
.img-small{
    max-width: 50px !important;
    height: auto !important;
}
.btn{
    color: #fff !important;
}
.image-profile img {
    width: auto !important;
    max-height: 220px !important;
}
.form-group {
    min-height: 20px;
}
.img-medium{
    width: auto !important;
    max-height: 220px !important;
}

label[for="old_password"],
label[for="new_password"],
label[for="confirm_password"]{
    display: none !important;
}
label.error{
    display: inline-block !important;
}

.sidebar-menu {
    margin-top: 15px;
}

.header-left{
    background-color: #354052;
    width: 265px;
}
.wrapper #header {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}

body {
    background: #efefef;
    color: #8A95A5;
    font-family: 'ProximaNovaRegular';
    letter-spacing: 0.5px;
}
.wrapper .content {
    border-top: 3px solid #fff;
    overflow-x: auto !important;
    margin: 0 !important;
}
.left-menu-toggle i, .right-menu-toggle i {
    font-size: 33px;
    vertical-align: middle;
}



/* New Css Start */

.fnormal{ font-family: 'ProximaNovaRegular'; font-weight: normal; }
.fsbold{ font-family: 'ProximaNovaSemibold'; font-weight: 600; }
.fbold{ font-family: 'ProximaNovaBold'; font-weight: bold; }

.row-no-padding > [class*="col-"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.row5{ margin-left: -5px; margin-right: -5px; }


.rownopadding1 > [class*="col-"] {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.files-box{ position: relative; }
.files-box .label{ position: absolute; left: 0px; top: 0px; background-color: #1a3147; color: #ffffff; font-size: 14px; font-weight: bold; text-transform: uppercase; z-index: 55; padding: 6px 12px; }
.files-box .notnum{ position: absolute; left: 5px; bottom: 5px; }

.notesnummain{ color: #f7931f; font-size: 18px; font-weight: bold; display: inline-block; }
.notesnum{ background-color: #f7931f; color: #fff; font-weight: bold; font-size: 16px; border-radius: 6px 6px 6px 0px; height: 30px; line-height: 30px; padding: 0px 12px; margin-bottom: 8px; margin-right: 10px; display: inline-block; position: relative; }
.notesnum:before{ position: absolute; left: 0px; bottom: -8px; content: ""; width: 0px; height: 0px; border-top: 12px solid #f7931f; border-right: 12px solid transparent; }


.filesbox-img{ margin-bottom: 22px; }
.filesbox-img img{ min-height: 240px; }

/* Chat Box Start */

/*.chat-main{  }
.chat-main h3{ margin: 0px; padding: 0px 0px 10px; font-size: 24px; font-weight: bold; }
.chatbox { margin-bottom: 15px; padding: 10px 15px; border-radius: 8px; border: solid 1px #dbe2ea; }
.chatbox .title{ margin: 0px; padding: 0px 0px 5px 0px; font-size: 16px; font-weight: bold; color: #1a3147; }
.chatbox .description{ margin: 0px; padding: 0px; font-size: 13px; font-weight: normal; color: #94979a; line-height: normal; }
.chatbox .posttime{ margin: 0px; padding: 5px 0px 0px 0px; font-size: 11px; font-weight: bold; color: #1a3147; }

.chatbox2 { margin-bottom: 15px; margin-left: 50px; padding: 10px 0px; }
.chatbox2 .title{ margin: 0px; padding: 0px 0px 5px 0px; font-size: 16px; font-weight: bold; color: #e52344; text-align: right; }
.chatbox2 .description{ margin: 0px; padding: 0px; font-size: 13px; font-weight: normal; color: #94979a; line-height: normal; }
.chatbox2 .posttime{ margin: 0px; padding: 5px 0px 0px 0px; font-size: 11px; font-weight: bold; color: #e52344; text-align: right; }*/

/* Chat Box End */


/*New Chat Box Start*/

.chat-main{ padding: 20px 0px 20px 20px; }
.chat-main h3{ margin: 0px; padding: 0px 0px 10px; font-size: 24px; font-weight: bold; }
.chat-main p{ padding: 0px; line-height: normal; }

.chatbox { display: block; margin-bottom: 10px; margin-top: 5px; margin-right: 3px; }
.chatbox .avatar { float: left; width: 50px; }
.chatbox .avatar img { height: 40px; width: 40px !important; border-radius: 100%; }
.chatbox .message-text-wrapper { display: table-cell; width: 1%; background-color: #ffffff; border-radius: 6px; padding: 10px; position: relative; /*border: solid 1px #cccccc;*/ box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4); }
/*.chatbox .message-text-wrapper:before { position: absolute; left: -10px; top: 10px; font-family:'FontAwesome'; content: "\f0d9"; font-size: 30px; color: #cccccc; }*/
.chatbox .message-text-wrapper:before { position: absolute; left: -10px; top: 10px; background-image: url(../img/img/chatboxarrow.png); background-position: left top; background-repeat: no-repeat; width: 12px; height: 16px; content: ""; }

.chatbox .title { font-weight: bold; color: #000000; padding-bottom: 5px; }
.chatbox .description { font-weight: bold; color: #000; }
.chatbox .posttime { margin: 0px; padding: 4px 0px 0px 0px; text-align: right; font-size: 11px; font-weight: bold; color: #8b93a5; }


.chatbox2 { margin-bottom: 10px; margin-right: 30px; }
.chatbox2 .message-text-wrapper { display: table-cell; width: 1%; background-color: #dfe3ed; border-radius: 6px; padding: 10px; position: relative; border: solid 1px #dfe3ed; }
.chatbox2 .message-text-wrapper:before { position: absolute; right: -10px; top: 10px; font-family:'FontAwesome'; content: "\f0da"; font-size: 30px; color: #dfe3ed; background-image: none; }
.chatbox2 .title{ font-weight: bold; color: #000000; padding-bottom: 5px; }
.chatbox2 .description{ font-weight: bold; color: #000; }
.chatbox2 .posttime{ margin: 0px; padding: 4px 0px 0px 0px; text-align: right; font-size: 11px; font-weight: bold; color: #8b93a5; }


.chatbox.leftchat{ max-width: 80%; }
.chatbox2 .leftchatmain{ display: inline-block; max-width: 80%; width: auto; }

.chatbox2.rightchat{ text-align: right; }
.chatbox2 .rightchatmain{ display: inline-block; max-width: 80%; width: auto; text-align: left; }


.chatbox.left{ text-align: left !important; }
.chatbox .messageleft{ display: inline-block !important; width: auto; max-width: 70%; }


.chatbox2.right{ text-align: right !important; }
.chatbox2 .messageright{ display: inline-block !important; width: auto; max-width: 70%; }
.chatbox2 .messageright .description{ text-align: left; color: #000; }


.chatbtn-boxmain{ position: relative; }
.chatlargeinp{ border: 1px solid; /*border-radius: 0px !important;*/ height: 60px; padding-right: 30px; padding-left: 60px; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); position: relative; bottom: 0px; left: 0px; right: 0px; }
.chatsendbtn{ background-color: #e42244; padding: 6px 16px; border-radius: 15px; color: #fff; font-weight: normal; margin-right: 6px; position: absolute; top: 13px; right: 0px; z-index: 2; }


.nequeststyle-suggestionsbox{ float: left; width: 150px; height: 150px; background-color: #cccccc; display: table; margin: 0px 10px 10px 0px; }
.nequeststyle-suggestionsbox div{ display: table-cell; vertical-align: middle; padding: 5px; }

.nequeststyle-colorpreferencemain{ padding: 20px 0px 0px 0px; }
.nequeststyle-colorpreference{ padding: 0px 0px 20px 0px; text-align: center; }
.nequeststyle-colorpreference h4{ width: 100%; display: block; padding: 8px 0px 0px 0px; font-size: 16px; line-height: normal; }
.nequeststyle-colorpreference .addbutton{ background-color: transparent; border: solid 1px #a5a8aa; border-radius: 8px; width: 100%; padding: 40px 10px; position: relative;  }
.nequeststyle-colorpreference .addicon{ position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; color: #ff2d62; font-weight: bold; padding: 40px 10px; font-size: 30px; text-align: center; }


/*New Chat Box End*/


.chatlist-main{  }
.chatlistbox { padding: 20px; position: relative; margin-bottom: 2px; }
.chatlistbox:before { position: absolute; left: 85px; bottom: -2px; width: 100%; height: 2px; background-color: #e3e7ed; content: ""; }

.chatlistbox:hover { background-color: #f2f9fe; }
.chatlistbox.active { background-color: #f2f9fe; /*border-bottom: solid 2px #e3e7ed; border-top: solid 2px #e3e7ed;*/ box-shadow: 0px 0px 0px 2px #e3e7ed; }
.chatlistbox p{ line-height: normal; padding: 0px; }
.chatlistbox .avatar { float: left; width: 60px; }
.chatlistbox .avatar img { height: 50px; width: 50px !important; border-radius: 100%; background-color: #cccccc; }
.chatlistbox .message-text-wrapper { float: left; padding-top: 10px; }
.chatlistbox .message-text-wrapper.topspacen{ padding-top: 0px !important; }
.chatlistbox .title { font-weight: bold; color: #000000; padding: 5px 0px; }
.chatlistbox .message { white-space: nowrap; width: 100%; overflow: hidden; text-overflow: ellipsis; }
.chatlistbox .posttime{ position: absolute; right: 30px; top: 20px; font-size: 12px; color: #b6bac1; }
.chatlistbox .status { font-weight: bold;    }
.chatlistbox .offline { position: absolute; right: 30px; top: 40px; color: #c80000; }
.chatlistbox .online { position: absolute; right: 30px; top: 40px; color: #4bef4b; }
.chatlistbox .online i{ padding: 0px; font-size: 14px; }





.clear{ clear: both; }
.img{ display: inline-block; }
.imgauto{ width: auto !important; }

i{ padding-right: 5px; }

.link1{ color: #e52344; text-decoration: none; }
.font18{ font-size: 18px; }
.font20{ font-size: 20px; }

.graytext{ color: #b6bac1; }

.sep{ padding: 6px 0px; }
.sep1{ padding: 10px 0px; }
.sep2{ padding: 20px 0px; }

.bold{ font-weight: bold; }

.btn1 { background-color: #e52344; border: none; padding: 12px 22px; font-size: 14px; font-weight: normal; color: #fff; text-decoration: none; border-radius: 30px; text-transform: capitalize; }
.btn1:hover, .btn1:focus, .btn1.active, .btn1:active{ background-color: #000 !important; color: #fff !important; text-decoration: none; box-shadow: none; }
.btn2 { background-color: #1a3147; border: none; padding: 12px 22px; font-size: 14px; font-weight: bold; color: #fff; text-decoration: none; border-radius: 30px; text-transform: uppercase; }
.btn2:hover, .btn2:focus, .btn2.active, .btn2:active{ background-color: #000 !important; color: #fff !important; text-decoration: none; box-shadow: none; }

.btnmy1{ border: unset; border-radius: 6px; font-size: 16px; min-width: 160px; padding: 12px 20px; font-weight: 600; background-color: #1a3147; color: #fff; }
.btnmy2{ border: unset; border-radius: 6px; font-size: 16px; min-width: 160px; padding: 12px 20px; font-weight: 600; background-color: #e52344; color: #fff; }



.btn.sqr { border-radius: 0; }
.btn.sqr1 { border-radius: 3px; }
.btn.btnfull { width: 100%; }


.onlysearch{ display: inline-block !important; padding-right: 5px; }

.hedtext{ font-size: 16px !important; font-family: 'ProximaNovaBold'; font-weight: bold !important; }
.downarrow{ position: relative; padding-right: 20px !important; }
.downarrow:before{ position: absolute; right: 0px; top: 6px; font-family: FontAwesome; content: "\f107"; font-size: 20px !important; }
.heduser{ background-color: #dbdbdb; color: #959595; border-radius: 100%; padding: 5px !important; border: 0px !important; }

.hedalertmain{ position: relative; }
.hedalert{ background: #e42244; color: #fff; border-radius: 100%; width: 21px; height: 21px; line-height: 14px; text-align: center; font-size: 10px; padding: 3px; display: inline-block;
    position: absolute; right: 10px; top: -10px;
}

.cformmain{ padding: 60px 0px; }
.cformmain h3{ padding: 0px 0px 20px; font-weight: bold; }
.cformmain .form-group{  }
.cformmain .inplabel{ color: #000; font-size: 15px; padding-bottom: 6px; }
.cformmain .form-control{ border-radius: 5px !important; border: 2px solid #ccccce !important; }

.to{ background-color: #000; width: 40px; height: 40px; line-height: 40px; text-align: center; color: #fff !important; border-radius: 100%; }

.cformmain.nospace{ padding: 0px; }
.cpopupone{  }
.cpopupone .modal-body{ padding: 30px; }


.frmtwo{  }
.frmtwo .form-control{ border: 1px solid #e6ecf5 !important; border-radius: 3px !important; }

.mytab{  }
.mytab .tabmenu{ padding-left: 20px !important; padding-right: 20px !important; font-family: 'ProximaNovaBold'; font-weight: bold; min-width: 180px; }


.redlabel{ background-color: #e42345; padding: 2px 15px; color: #fff; font-family: 'ProximaNovaBold'; font-weight: bold; display: inline-block; margin-left: 50px; font-size: 16px; }


.content-title-main{ padding-left: 33px; }

.cusslidetitmain{ padding-bottom: 50px; }

.pagin-one {
    color: #1a3147;
    font-size: 16px;
    font-weight: bold;
    left: 33%;
    position: absolute;
    top: 140px;
}

.attachmentsimgbox{ padding: 5px; margin-bottom: 10px; text-align: center; background-color: #f4f4f4; }
.attachmentsimgbox img{ width: 100px; height: 100px; }

.custlogo{  }
.custlogo img{ width: 110px; }



.file-upload { position: relative; display: inline-block; width: 100%; }
.file-upload__label { display: block; padding: 2em; color: #1a3147; background: #ececec; text-align: center; border-radius: .4em; transition: background .3s; cursor: pointer; }
.file-upload__label i{ font-size: 50px; }
.file-upload__input { position: absolute; left: 0; top: 0; right: 0; bottom: 0; font-size: 18px; width: 100%; height: 100%; opacity: 0; cursor: pointer; }


.custtab .nav-link{ border-radius: 8px 0px 0px 8px !important; }
.custtab:last-child .nav-link{ border-radius: 0px 8px 8px 0px !important; }

.cus-suggestionsbox{ background-color: #cccccc; padding: 5px; }
.cus-suggestionsbox img{ min-height: 100px; }

.rmore-rlessbox{ /*width: 540px;*/ width: 93%; }

.style-suggestionslbox{ background-color: #f4f4f4; padding: 5px; text-align: center; /*width: 240px; height: 240px;*/  display: table; width: 100%; height: 220px; }
.style-suggestionslbox div{ display: table-cell; vertical-align: middle; }
.style-suggestionslbox img{ width: 100%; height: auto; display: inline; }


.tabone{  }


.invoicestable{ border: solid 1px #ededed; border-radius: 3px; padding: 15px; }
.invoicestable table{ margin-bottom: 0px; }
.invoicestable table thead tr td{ font-weight: bold; color: #acacac; padding-top: 15px; padding-bottom: 15px; border: 0px; text-align: center; font-size: 18px; }
.invoicestable table tbody tr td{ font-weight: bold; color: #1a3147; padding-top: 15px; padding-bottom: 15px; text-align: center; font-size: 18px; }


.pmformmain{ }
.pmformmain .form-group{  }
.pmformmain .inplabel{ color: #1a3147; font-size: 18px; padding-bottom: 6px; font-weight: bold; }
.pmformmain .form-control{ border-radius: 6px !important; border: 1px solid #9da0a3 !important; }

.changeprofilepage{  }
.changeprofilepage .imagemain{ padding: 0px 0px 20px 0px; }
.changeprofilepage .imagemain img{ width: 140px; height: 140px; border-radius: 100%; background-color: #cccccc; }


.chatpage-tit{ height: 64px; line-height: 64px; border-bottom: solid 2px #eae9e8; padding: 0px 0px 0px 15px; border-radius: 0px 8px 0px 0px !important;  }
.chatpage-tit h4{ font-weight: bold; font-size: 18px; margin: 0px; padding: 0px; line-height: 64px; }

.chatleftpart{ border-radius: 8px 0px 0px 8px; }
.chatleftpart .searchmain{ border-radius: 8px 0px 0px 0px; border-bottom: solid 2px #eae9e8 !important; }
.chatleftpart .searchmain .input{font-family: 'ProximaNovaRegular';  padding-left: 40px; font-size: 16px; height: 62px; border-radius: 8px 0px 0px 0px; border-top: 0px !important; border-left: 0px !important; border-right: 0px !important; border-bottom: 0px !important; /*border-bottom: solid 2px #d5d9e2 !important;*/ position: relative; }
.chatleftpart .searchmain .icon{ position: absolute; left: 15px; top: 22px; font-size: 18px; }

.chatrightpart{ border-radius: 0px 8px 8px 0px; }


.chatcamera{ top: -20px; left: 15px; position: relative; font-size: 26px; cursor: pointer; }
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail{ background-color: transparent !important; }
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #d5d9df !important; }
.mCSB_inside > .mCSB_container { margin-right: 0px !important; }


.topmessageboxmain{  }

/*.topmessageboxmain .toparrow{ }*/
/*.topmessageboxmain .toparrow{ font-family: FontAwesome; content: "\f0d8"; position: absolute; right: 0px; top: 0px; font-size: 30px; }*/

.topmessagebox{ position: relative; width: 330px; box-shadow: 0px 3px 4px 3px rgba(0, 0, 0, 0.2); }


.topmessagebox .titlemain{ position: relative; padding: 15px; border-bottom: solid 2px #f5f4f2; }
.topmessagebox .titlemain h3{ font-size: 15px; font-weight: normal; line-height: normal; font-weight: bold; }
.topmessagebox .titlemain span{ position: absolute; right: 15px; top: 15px; font-size: 15px; font-weight: bold; }
.topmessagebox .footer{ border-top: solid 2px #f7f7f6; background-color: #fff; text-align: center; padding: 12px 10px; }

.topmessagebox .media{ margin: 0px; padding: 13px; border-bottom: solid 1px #f7f7f6; line-height: normal; }
.topmessagebox .media:last-child{ margin-bottom: 0px; padding-bottom: 0px; border-bottom: 0px; }
.topmessagebox .media-left{ padding-right: 10px; }
.topmessagebox .media-left img{ width: 40px; height: 40px; max-width: none !important; background-color: #cccccc; }
.topmessagebox .media-body{ line-height: normal; }
.topmessagebox .media-body h4{ line-height: normal; font-size: 15px; font-weight: bold; padding-bottom: 3px; }
.topmessagebox .media-body p{ margin: 0px; padding: 0px; line-height: normal; font-size: 13px; font-weight: normal; }
.topmessagebox .media-body p.message{  white-space: nowrap; width: 55%; overflow: hidden; text-overflow: ellipsis; font-size: 13px; }
.topmessagebox .media-body p.posttime{ font-size: 13px; font-weight: normal; padding-top: 3px; }



.tpmsgbox{ width: 330px; border-radius: 0px; padding: 0px; word-break: break-all; border-color: transparent; margin-top: 12px; }
.tpmsgbox:before{ font-family: FontAwesome; content: "\f0d8"; font-size: 50px; position: absolute; right: 15px; top: -15px; color: #fff; z-index: 60; }

.tpballbox{ padding-top: 0px; padding-bottom: 0px; border-color: transparent !important; margin-top: 12px; }
.tpballbox:before{ font-family: FontAwesome; content: "\f0d8"; font-size: 50px; position: absolute; right: 15px; top: -15px; color: #fff; z-index: 60; }
.tpballbox-datamain{ background-color: #e7edf9; }
.tpballbox-datamain ul{ margin: 0px; padding: 0px; }
.tpballbox-datamain li{ margin: 0px; padding: 15px; display: inline-block; line-height: normal; border-bottom: solid 1px #b7bbc8; }
.tpballbox-datamain li:last-child{ border-bottom:0px }
.tpballbox-datamain li p{ margin: 0px; padding: 0px; line-height: normal; font-size: 15px; }
.tpballbox-datamain li p span{ font-weight: bold; padding-right: 5px; }
.tpballbox-datamain li p.postdate{ font-size: 13px; padding-top: 5px; }
.tpballbox .footerbtn{ background-color: #fff; padding: 15px 15px; font-size: 14px; letter-spacing: normal; }




.btn-secondary.focus, .btn-secondary:focus, .btn-secondary:hover{ background-color: transparent; }
.btn-secondary.active, .btn-secondary:active, .open > .btn-secondary.dropdown-toggle{ background-color: transparent; }

/* New Css End */


@media (max-width: 479px) {
    .header-left {
        width: 100%; }
}


#timeline {
    width: 100%;
}
.center_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.media-gallery .dropify-render img{
    width: auto;
}
.media-gallery .dropify-wrapper {
    max-width: 250px;
    margin: 0 auto;
}
.custom-sidebar .menu-title .main-menu li:before,
.custom-sidebar .menu-title .main-menu li:after{
    display: none;
}


body:not(.nav-menu-icon) .site-menu .sub-item.active .sub-menu {
    padding: 0 0 0 20px;
}
body:not(.nav-menu-icon) .site-menu .sub-item.active .sub-menu li::after{
    display: none;
}

.custom-sidebar .menu-title > i,
.custom-sidebar .menu-title > span{
    display: none;
}
.custom-sidebar .menu-title::after {
    position: absolute;
    width: 100%;
    height: 0;
    background-color: transparent;
    content: "";
    padding: 0px 0;
}
@media (min-width: 479px){
    .left-menu-toggle{
        display: none;
    }
}


/*:::::::: css style 25-10-2017 ::::::::*/
.sidebar-menu.custom-sidebar-menu #site-menu {
    border-bottom: 0px solid rgb(48, 58, 74);
}
#sidebar.custom-sidebar .sidebar-menu.custom-sidebar-menu #site-menu li {
    border-left: 0px solid transparent !important;
    padding-left: 0 !important;
}
#sidebar .sidebar-menu.custom-sidebar-menu #site-menu li.menu-title {
    border-bottom: 1px solid #e6ecf5 !important;
}
#sidebar .sidebar-menu.custom-sidebar-menu .site-menu li a {
    font-weight: 500 !important;
    color: #333 !important;
    text-transform: capitalize;
	padding: 10px 10px;
}

#sidebar .sidebar-menu.custom-sidebar-menu img.list-icon {
    max-width: 24px;
    display: inline-block;
    float: left;
    vertical-align: middle;
    width: 100%;
    margin-right: 15px;
    margin-top: 12px;
}
#sidebar.custom-sidebar .menu-title .main-menu {
    padding: 6px 15px !important;
}
#sidebar .sidebar-menu .btn-upgrade.btn-default {
	background-color: #ec1c41 !important;
	border: 0 !important;
	border-radius: 5px !important;
	padding: 8px 12px !important;
	display: block !important;
	margin: 80px auto 15px !important;
	color: #fff;
	box-shadow: none !important;
	max-width:150px;
	min-width:150px;
	width:100%;
}
.btn-add-req {
    background-color: #ec1c41 !important;
    border: 0 !important;
    border-radius: 5px !important;
    padding: 8px 12px !important;
    display: block !important;
    margin: 17px 20px 11px auto !important;
    color: #fff;
    box-shadow: none !important;
    max-width: 160px;
    min-width: 150px;
    width: 100%;
    float: right;
}
.left-bar-menu #sidebar.custom-sidebar .sidebar-menu.custom-sidebar-menu .site-menu > li:hover, #sidebar.custom-sidebar .sidebar-menu.custom-sidebar-menu .site-menu > li.active {
    background-color: #e6ecf5;
    border-left: 0px solid rgb(236,28,65) !important;
	color:#252424 !important;
}
#content-wrapper {
    margin-left: 0 !important;
	padding-bottom: 30px !important;
	margin-top: -15px !important;
}

/*:::::::: all running request section css style 25-10-2017 ::::::::*/

#content-wrapper .content {
    background-color: transparent;
    border: 0;
    box-shadow: none;
}
#content-wrapper .all-form-section{padding:30px 30px;}
.all-form-section{background-color:#fff;}
.custom-table button.btn1.btn-deafult {
    background-color: transparent;
    border: 0;	
}
.custom-table button.btn.btn-deafult {
    background-color: transparent;
    border: 0;
	color: #8a95a5 !important;
}
.custom-table button.btn-cancel {
    background-color: transparent;
    border: 0;
    color: red;
}

.custom-table button.btn-view {
    border-radius: 5px;
    background-color: #353f53 !important;
    border: 0 !important;
    color: #fff;
    min-width: 60px;
    padding: 3px 0;
    line-height: 1.6em;
    font-size: 10px;
}
.custom-table button.btn-msg {
    border-radius: 20px;
    background-color: #f7941e !important;
    border: 0 !important;
    color: #fff;
    min-width: 30px;
    padding: 3px 0px;
    line-height: 1.6em;
}
table.custom-table thead tr th {
    height: 36px !important;
    line-height: 36px !important;
    border-bottom: 0 !important;
    text-align: center !important;
    color: #000 !important;
    text-transform: capitalize !important;
    border-right: 0;
    padding: 0 !important;
    width:auto !important;
    white-space: pre;
    font-size: 85%;
    font-family: 'ProximaNovaBold'; font-weight: bold;
	vertical-align: middle;
	background-color: #fff;
}
#DataTables_Table_0_wrapper table.custom-table tbody tr td {
	vertical-align: middle;
	white-space: normal;
	font-size: 100%;
	font-weight: 300;
	text-align: center;
}
table.custom-table tbody tr td {
    color: #8a95a5;
    text-align: center;
	max-width: 300px;
}

body .desth-cont{width:400px !important;}
i.fa.fa-eye {
    padding-right: 5px;
}
.action-icon i.fa.fa-eye, .action-icon i.fa.fa-download, .action-icon i.fa.fa-times{padding:0 20px !important;}
#content-wrapper h2.content-title-main {
    padding-left: 20px;
    line-height: 60px;
    font-weight: 500;
    font-size: 20px;
	margin-top: 15px;
}
.left-bar-menu {
    max-width:16.333%;
    position: fixed;
    width: 100%;
    height: calc(100% - 0px);
}
.left-bar-menu #sidebar.custom-sidebar {
    margin: 0 !important;
    position: relative;
    top: 0 !important;
    width: 100%;
    background: transparent;
    color: #333;
    height: inherit;
}
.nav-tab-pills-image .nav-tabs .nav-item {
    float: left;
    margin-bottom: 0 !important;
}
.nav-tab-pills-image ul li .nav-link.myactiveclass {
	font-size: 16px !important;
	color: #252424 !important;
	padding: 8px 15px !important;
	line-height: 1.6em !important;
	height: 50px !important;
}
.nav-tab-pills-image ul li .nav-link.active, .nav-tab-pills-image ul li .nav-link.active:focus, .nav-tab-pills-image ul li .nav-link.active:hover, .nav-tab-pills-image ul li .nav-link:focus, .nav-tab-pills-image ul li .nav-link:hover{border-bottom: 3px solid #ec1c41 !important;}
#content-wrapper .table-responsive .form-control.input-sm {
	border-radius: 5px !important;
	margin: 0 15px !important;
}
.content .nav-tab-pills-image .nav-item.active a{
	/*border-bottom: 3px solid #ec1c41 !important;*/
	color: #fff;
    background: #2f4458;
}

/*:::::::: add request section css style 25-10-2017 ::::::::*/

.element-form label {
    min-height: 35px;
    vertical-align: middle;
    padding: .5em 10px;
    line-height: 1.6em;
    text-align: left !important;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}
#addnewimage .dropify-wrapper {
    border-radius: 5px;
    height: 35px !important;
    vertical-align: middle;
    display: block;
    position: relative !important;
    top: 0 !important;
    padding: 0 !important;
    border: 1px solid #ec1c41 !important;
	margin-bottom:10px;
}
.dropify-wrapper .dropify-message {
    position: relative;
    top:0;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    vertical-align: middle;
	max-height: 35px;
}
.dropify-wrapper .dropify-message span.file-icon {
    display: none;
}
.dropify-wrapper .dropify-message img {
    max-width: 40px;
    vertical-align: middle;
    display: block;
    width: 100% !important;
    float: left !important;
    padding: 8px;
    position: relative;
}
.dropify-wrapper .dropify-message p {
    margin: 0 !important;
    padding: 4px 0 0 0 !important;
    color: #ec1c41;
}

button.btn-cancel {
    background-color: transparent;
    border: none;
	background-color: transparent;
    color: #ec1c41;
    width: auto !important;
}
button.btn-cancel:hover {
    background-color: transparent;
    border: none;
	background-color: transparent;
    color: #ec1c41;
    width: auto !important;
}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
i.fa.fa-times {
	color: #ec1c41;
}

.element-form {
    display: table;
    width: 100%;
}
#DataTables_Table_0_wrapper table.custom-table {
    border: 1px solid #d7e3f0;
    border-radius: 2px;
}



/*:::::::: all running request (view request)section css style 25-10-2017 ::::::::*/
#info_tab, #design-section, #msg-section {
 /*   display: table;*/
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}
#info_tab h4.card-title, #design-section h4.card-title, #msg-section h4.card-title {
    color: #ec1c41 !important;
	font-size: 18px;
}

#content-wrapper .message-page.vertion-2 .message-rightbar {
	border-left: 0px solid #ddd;
	border-right: 0px solid #ddd;
}
#content-wrapper .message-page .message-rightbar .chat-receiver .chat-detail {
    background: #888ca8;
    border-radius: 50px 50px 0px 50px;
    padding: 10px 38px;
}
#content-wrapper .message-page .message-rightbar .chat-receiver .chat-arrow::before {
    right: 15px;
    left: auto;
    border-width: 0 100px 57px 0px;
    bottom: -10px;
    top: auto;
}
#content-wrapper .message-page .message-rightbar .chat-receiver .chat-arrow::before {
	border-color: transparent #888ca8 transparent transparent;
}
a.openfile-customer {
	display: block;
	position: relative;
	width: 100%;
	height:300px;
}
a.openfile-customer img.file-img {
	width: 100% !important;
	height: auto !important;
	position: relative;
	margin: 0 auto;	
	padding: 12px;
	display: block;
	max-height: 300px !important;
	min-height: 300px !important;
}


/*::::::::Designer section all running request (view request)section css style 25-10-2017 ::::::::*/
.design-app-div {
    background-color: #fff;
    text-align: right;
}
.sorting::after, .sorting::before, .sorting_asc::after, .sorting_asc::before, .sorting_desc::after, .sorting_desc::before {
	top: -2px !important;
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s ease-in;
}

.col-md-8.col-md-offset-2 {
    margin-left: 16.333% !important;
}
.col-md-6.col-md-offset-3 {
    margin-left: 25% !important;
}
.form-control {
    border: 1px solid #e6ecf5 !important;
    border-radius: 3px !important;
}
.attach-head {
    padding: 0 15px 20px;
}
a.openfile.highlight_new_file {
    border: 3px solid #ec1c41;
}

/*::::::::msg section all running request (view request)section css style 25-10-2017 ::::::::*/

.discussion_container {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	max-height: 500px;
	overflow-y: auto;
}
.message-page .message-rightbar .type-message {
    padding: 5px 10px !important;
    line-height: 24px !important;
    color: #CCC !important;
    overflow: hidden !important;
    margin-top: 25px !important;
}
.message-page .message-rightbar .chat-sender .chat-arrow {
    border-radius: 45px !important;
    padding-left: 45px !important;
	z-index: 100;
}
.message-page .message-rightbar .chat-sender .chat-detail {
    background: #E5E5E5 !important;
}
.message-page .message-rightbar .chat-input {
    padding: 15px !important;
}
.message-page .message-rightbar .chat-sender .chat-arrow::before {
	left: 5px;
	border-color: transparent #E5E5E5 transparent transparent;
	border-style: solid;
	border-width: 0 45px 45px 0;
	z-index: 1;
}


.submit .site-btn{
    width: 100%;
    border-radius: 5px;
    height: 40px;
    font-weight: 500;
    font-size: 17px;
    background: #ec1c41;
    border:0 !important;
}
.submit .site-btn:hover{
    background: #3e3c3c !important;
	color:#fff !important;
	border:0 !important;
}


.margin-bottom-20{margin-bottom:20px;}
.has-validation-callback .textInput {

    width: 100%;
    border-radius: 25px;
    color: #1A3147;
    border: 1px solid #ccc;
    padding: 5px 15px;
    border-radius: 5px;

}

/*::::::::card box section all running request (view request)section css style 25-10-2017 ::::::::*/

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
  margin-top: 30px;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
    border-top: 1px solid #D4D4D4;
    padding: 10px 8px;
	text-align: right;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-family: 'ProximaNovaBold'; font-weight: bold;
  text-transform:capitalize;
  color:#84c2e6 !important;
  cursor: pointer;
}
.has-validation-callback .btn-success {
    color: #fff;
    background-color: #ec1c41;
    border-color: #ec1c41;
}

footer#footer {
    background: #e9e9e9;
    bottom: 0;
    float: right;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: calc(100% - 16.666667%);
/*	position:fixed; */
	top:auto;
/*	left:16.666667%; */
	
}
.disabled-class {
    cursor: not-allowed !important;
    color: #fffff !important;
}
.approval-buttons form {
    display: inline-block;
}
.approval-buttons .btn {
    color: #fff !important;
    font-size: 30px;
    min-width: 193px;
    text-align: center;    
}
.approval-buttons .btn:hover {
    color: #fff !important;
    font-size: 30px;
    min-width: 193px;
    text-align: center;    
}
.approval-buttons .btn:first-child {
	margin-right: 15px;
}
.card-content-custom {
     padding: 11px 9px;
    margin: -98px 0 0 0;
    position: absolute;
    background: rgba(0,0,0,0.3);
    width: 100%;
    color: white;
    font-size: 12px;
    height: auto;
    bottom: 0;
}
.new-design {
    width: 50px;
    background: rgba(236,28,65,1);
    padding: 5px 9px;
    color: white;
    /* display: none; */
    position: absolute;
    z-index: 9;
}
.cutomer-upload-files #addnewimage .dropify-wrapper {
    border-radius: 5px;
    height: 52px !important;
    vertical-align: middle;
    display: block;
    position: relative !important;
    top: 15px !important;
    padding: 9px !important;
    border: 1px solid #ec1c41 !important;
    margin-bottom: 10px;
}
.cutomer-upload-files .addnewimage{
	width:264px;
}

.action-conatiner {
    background-color: #F6F7FB;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}
.action-conatiner i {
    font-size: 90px;
}
.addFilesmodals .modal-title {
    text-align: center;
}

.files-modal-body {
    position: relative;
    padding: 15px;
}
.src-file-container {
    display: none;
}

/*:::::::: 2-11-2017 ::::::::::*/

.cus-section input#request_file_uploader_btn_designer {
    width: 200px;
    border-radius: 10px;
    height: 43px;
    text-align: center;
    font-size: 20px;
}
.customer-add-img .col-md-6 {
    margin-left: 25%;
}
.cus-section .cutomer-upload-files .addnewimage {
    border-radius: 3px;
    display: inline-block;
    float: right;
    width: auto;
}
.cus-section .submit {
    float: left;
    display: inline-block;
}
 
img.deafult-img {
    max-width: 30%;
    height: 100% !important;
    min-height: auto !important;
    margin-top: 6%;
    height: auto !important;
    margin: 6% auto 0 !important;
    display: block;
}
.submit #request_file_uploader_btn {
    color: #fff;
    background-color: #ec1c41 !important;
    border-color: #ec1c41 !important;
	border-radius:10px;
}
#request_file_uploader_btn {
    color: #fff;
    background-color: rgb(1, 144, 255) !important;
    border-color: rgb(1, 144, 255) !important;
	border-radius:10px;
}


/*::::  4-11-2017 :::::::*/

.add-card-btn {
	background-color: #E5E5E5 ;
	text-align: center;
	padding: 20px;
	font-size: 25px;
	border-color:#E5E5E5;
	cursor: pointer;
}
.add-card-btn i {
font-size: 75px;
}


/*::::  6-11-2017 Admin dashboard:::::::*/

.admin-dashboard .logo.bg-blue {
    margin: 0;
    padding: 12px 0;
    text-align: center;
    vertical-align: middle;
    height: 80px;
}
.admin-dashboard #sidebar {
    position: fixed;
    height: calc(100% - 0px);
    background:transparent;
    width: 16.666667%;
    top: 0px;
    left: 0;
    z-index: 999;
}
.action-icon a {
    color: #0785fa;
	padding-left: 5px;
}
.action-icon .fa.fa-times {
    color: #ec1c41;
}
#DataTables_Table_0_wrapper, #DataTables_Table_1_wrapper, #DataTables_Table_2_length, #DataTables_Table_3_wrapper, #DataTables_Table_2_wrapper, #personal_info_tab {
    background-color: #fff;
    padding: 20px;
}
.row .display-flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
}
.row .display-flex > [class*='col-'] {
  flex-grow: 1;
  margin-bottom:20px;
  max-width: 33.33333%;
}
.row .display-flex .btn {
    position: absolute;
    left: 0;
    right: 0;
	bottom:30px;
    background-color: #000000;

}
.row .display-flex .card {
    border:1px #666 solid;
    height: 100%;
    padding:20px 20px 0px 20px;
    background-color: #fff;
}
#card-box-temp ul {
    list-style: none;
    text-align: left;
	padding-left:0;
}
#card-box-temp .card-content {
    padding: 15px 40px;
    text-align: left;
    display: block;
    width: 100%;
    position: absolute;
    top: 119px;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
}
#card-box-temp .card-content {
	font-size:30px;
	color:#000;
	font-weight:700;
}
#card-box-temp .card-header {
    padding: 0;
    background-color: #f5f5f5;
}
#card-box-temp .img-card .img-small {
    max-width: 100% !important;
    height: auto !important;
}
.submit .btn.btn-success{
	background: rgb(229,31,68);
    border-radius: 10px;
    padding: 8px 15px;
	border-color:#ec1c41;
}

#view-request-sd select option {
    background-color: #fff !important;
    color: #777;
    padding: 3px 15px;
    border: 0 !important;
    box-shadow: none !important;
}
#view-request-sd .element-form label {
    text-align: right !important;
	padding: 0em 10px;
}
#view-request-sd .btn.btn-primary.approveadmin, #view-request-sd .btn.btn-danger.disapproveadmin {
    display: none;
}
.btn.btn-addfile {
    background-color: transparent;
    color: #ec1c41 !important;
    border: 1px solid #ec1c41;
    min-width: 250px;
    border-radius: 5px;
}
#sidebar .sidebar-menu.custom-sidebar-menu .site-menu {
height: 650px !important;
}
@media (max-width:1400px){
::-webkit-scrollbar { 
    display: none; 
}
.sidebar-menu {
    background-color: #fff;
    height:100% !important;
}

#sidebar .sidebar-menu.custom-sidebar-menu .site-menu {
    border-bottom: 0px solid rgb(48, 58, 74) !important;
	background-color: #fff !important;
    height: 100% !important;
    overflow-y: scroll !important;
}
#sidebar.custom-sidebar .menu-title .main-menu {
    padding: 6px 10px !important;
}
}
.sidebar-menu .site-menu li a span i {
    margin-top: 7px;
}
.waves-button, .waves-button-input, .waves-button:hover, .waves-button:visited {
    text-align: center !important;
}
.chat-type a.send_chat_data_customer{
	float: right;
}
/* CSS FOR MOBILE */
@media only screen and (max-width: 768px) {
    .admin-dashboard #sidebar{
        width:100%;
		display:none;
    }
	.left-bar-menu{
		width:unset ;
		max-width:  unset ;
		position:unset ;
	}

.left-bar-menu.bg-white {}
	.nav-menu-hide .sidebar-menu #site-menu li.menu-title span{
		display:unset ;
	}
	 body.nav-menu-hide #sidebar{
	 	left:0px;
		display:none;
	 }
}
@media only screen and (min-width: 768px) {
	 #main .fa-bars{
		 display:none;
	 }
}