@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,900&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: normal;
}

input,
a,
button {
    outline: none;
}

a:hover {
    text-decoration: none;
}

.mb-t30 {
    margin-top: 30px;
}

.mr-t0 {
    margin-top: 0px !important;
}

.promo-req {
    background: url(../../uploads/images/promo.png) no-repeat;
    font-size: 0;
    width: 100px;
    height: 24px;
    transform: translatex(-19px) translatey(-9px);
    margin-bottom: -15px;
}

.gz-sidebar .sharedBy.two-can .share-people {
    position: relative;
}

.pro-ject-rightbar .sharedBy.two-can .share-people {
    position: relative;
}

.prowest {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e73250;
    text-align: center;
    margin-right: 5px;
    position: absolute;
    left: -35px;
    margin-top: 7px;
}

.product-list-show .cli-ent-row.tr {
    overflow: visible;
}

.promo-req.inqueue {
    line-height: 13px;
}

.cli-ent-col.td:first-child .cli-ent-xbox {
    margin-left: 9px;
}

.pro-circle-img {
    overflow: hidden;
}

body.deshboard-bgnone {
    padding-right: 0 !important;
}

pre.txt-disp {
    background: transparent;
    border: none;
    white-space: pre-wrap;
    padding: 0;
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

pre.read_more.txt-disp {
    border: none;
    white-space: pre-wrap;
    padding: 0;
    color: #555;
}

.switch-custom input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-custom-pause-user input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-custom-setting-check input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-custom-usersetting-check input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-custom label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    display: block;
    border-radius: 25px;
    position: relative;
    margin: 0 auto;
}

.switch-custom-pause-user label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 25px;
    position: relative;
    margin: 0 auto;
}

.switch-custom-usersetting-check label {
    cursor: pointer;
    width: 40px;
    height: 22px;
    display: block;
    border-radius: 25px;
    position: relative;
    margin: 0 auto;
    border: 2px solid #808080;
}

.switch-custom-setting-check label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 25px;
    position: relative;
    margin: 0 auto;
}

.switch-custom {
    text-align: center;
}

.switch-custom label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 23px;
    height: 23px;
    background: #fff;
    border-radius: 23px;
    transition: 0.3s;
}

.switch-custom input:checked+label:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}

.switch-custom label:active:after {
    width: 33px;
}

.switch-custom-pause-user {
    text-align: center;
}

.switch-custom-pause-user label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 23px;
    height: 23px;
    background: #fff;
    border-radius: 23px;
    transition: 0.3s;
}

/*.switch-custom-pause-user input:checked+label {
    background: #e52344;
    }*/

    .switch-custom-pause-user input:checked+label:after {
        left: calc(100% - 1px);
        transform: translateX(-100%);
    }

    .switch-custom-pause-user label:active:after {
        width: 33px;
    }

    .switch-custom-setting-check {
        text-align: center;
    }

    .switch-custom-setting-check label:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        width: 23px;
        height: 23px;
        background: #fff;
        border-radius: 23px;
        transition: 0.3s;
    }

    .switch-custom-setting-check input:checked+label {
        background: #e52344;
    }

    .switch-custom-setting-check input:checked+label:after {
        left: calc(100% - 1px);
        transform: translateX(-100%);
    }


    .switch-custom-usersetting-check {
        text-align: center;
        display: inline-flex;
        justify-content: space-between;
    }

    .switch-custom-usersetting-check.activate-user {
        width: 100%;
    }

    .switch-custom-usersetting-check label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 14px;
        height: 14px;
        background: #808080;
        border-radius: 23px;
        transition: 0.3s;
    }

    .switch-custom-usersetting-check input:checked+label {
        border: 2px solid #e52344;
    }

    .switch-custom-usersetting-check input:checked+label:after {
        left: calc(100% - 3px);
        transform: translateX(-100%);
    }

    .switch-custom-usersetting-check label:active:after {
        width: 33px;
    }

    .showclicktocomment {
        width: 132px !important;
        color: rgb(50, 71, 90);
        background: rgb(255, 255, 255);
        padding: 5px 10px;
        font-weight: 400;
        position: absolute;
        box-shadow: rgba(0, 0, 0, 0.51) 0px 0px 6px;
        border-radius: 4px;
        font-size: 12px;
    }

    .rheight-xt .head-b {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #1d3247;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
    }

    .extnsn-lst.error-list font {
        color: #e52344;
    }

    .posone2abs.arrowdowns.topposition.leftposition {
        right: 305px;
    }

    .navbar-collapse.small-menu.collapse.spring {
        display: block !important;
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: 70px;
        border-top: 3px solid #e52344;
    }


    .cross-btnlink a {
        text-decoration: none;
    }

    .uploadFileRow .extnsn-lst {
        background: #ffffff;
        margin-top: 10px;
        border-radius: 0;
        padding: 13px 10px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 2px 3px rgba(152, 167, 176, 0.4);
        font-size: 14px;
        color: rgba(71, 71, 71, 0.75);
        font-weight: 600;
    }

    .uploadFileRow .extnsn-lst a {
        color: #0d0d0d;
        font-weight: 900;
        font-size: 15px;
    }

    .extnsn-lst p.cross-btnlink span {
        background: transparent;
        color: #656363;
        font-size: 18px;
        border-radius: 100%;
        width: auto;
        height: auto;
        display: block;
        text-align: center;
        font-family: GothamPro, sans-serif;
        font-weight: 400;
        line-height: 25px;
        margin-right: -3px;
    }

    .extnsn-lst p.text-mb {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        max-width: 100%;
        text-overflow: unset;
        white-space: nowrap;
        font-size: 13px;
    }

    .extnsn-lst p.text-mb span.file_name1 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 71%;
        float: left;
        display: inline-block;
    }

    .selectimagespopup .extnsn-lst {
        display: flex;
        justify-content: space-between;
    }

    .selectimagespopup .extnsn-lst p.text-mb {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .selectimagespopup .ajax-img-loader {
        float: left;
        width: 100%;
    }

    .selectimagespopup .ajax-img-loader img {
        display: block;
        margin: auto;
        max-width: 120px;
    }

    .mobile-project-view.hidden- {
        text-align: right;
        color: #666;
        margin-top: 5px;
        cursor: pointer;
    }

    .comment-box-es .cmmbx-col.left .cmmbx-col {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 10px;
    }

    .comment-box-es .cmmbx-col.left .cmmbx-col span.cmmbxtxt {
        padding-left: 0;
    }

    .kevtxt {
        color: rgba(0, 0, 0, 0.65);
        font-size: 11px;
    }

    .cmmtype-box .pstcmm.sendtext {
        padding: 15px 15px 0;
    }

    .customer_chatimage1:hover {
        cursor: pointer;
    }

    .customer_chatimage2:hover {
        cursor: pointer;
    }

    .posone3abs.arrowdowns {
        margin-bottom: 45px;
        margin-left: 20px;
        margin-top: 20px;
    }

.customer_chat .posone2 a.crossblink {
    color: #fff;
    position: absolute;
    right: -8px;
    top: -9px;
    background: #db213c;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    line-height: 17px;
    text-align: center;
    z-index: 9;
    float: right;
    font-size: 12px;
    border: 2px solid #db213c;
}

    p.leave-commt {
        color: #0d0d0d;
        text-align: left;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .posonclick-add textarea.tff-con {
        height: 50px;
        margin-top: 10px;
        border: 0;
        font-size: 12px;
        font-weight: 600;
        box-shadow: 0 2px 6px rgba(152, 167, 176, 0.5);
        border-bottom: 2px solid #bfbfbf;
        outline: none;
        color: #808080;
        letter-spacing: 1px;
    }

    /*.posonclick-add textarea:focus{ height:100px;}*/
    .postrow12 button {
        text-transform: uppercase;
        padding: 8px 15px !important;
    }

    .mydivposition .mycancel,
    .customer_chatimage2,
    .customer_chatimage1 {
        width: 34px !important;
        height: 34px !important;
        position: relative;
        background: rgba(219, 33, 60, 0.25);
        border-radius: 100%;
    }

    .mydivposition .mycancel::before {
        content: "";
        width: 80%;
        height: 80%;
        position: absolute;
        background: rgba(219, 33, 60, 0.5);
        border-radius: 100%;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
    }

    .mydivposition .mycancel::after {
        content: "";
        width: 60%;
        height: 60%;
        position: absolute;
        background: rgb(219, 33, 60);
        border-radius: 100%;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
    }

    .mydivposition .mycancel::before,
    .customer_chatimage2::before,
    .customer_chatimage1::before {
        content: "";
        width: 80%;
        height: 80%;
        position: absolute;
        background: rgba(219, 33, 60, 0.5);
        border-radius: 100%;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
    }

    .mydivposition .mycancel::after,
    .customer_chatimage2::after,
    .customer_chatimage1::after {
        content: "";
        width: 60%;
        height: 60%;
        position: absolute;
        background: rgb(219, 33, 60);
        border-radius: 100%;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
    }

    .posonclick-add .pstcancel a {
        color: #808080;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 10px;    font-weight: 600;
        display: block;letter-spacing: 1px;
    }

    .posone3abs.arrowdowns .postrow12 span.pstcancel {
        float: left;
        margin-top: 6px;
    }

    .posone3abs.arrowdowns .postrow12 {
        display: block;
        text-align: right;
    }

    .posone3abs.arrowdowns .postrow12 span {
        display: inline-block;
    }

    .posonclick-add .pstcancel a:hover {
        text-decoration: underline;
        color: #000;
    }

    .comment-box-es .cmmbxonline {
        background-color: #e73250;
    }

    .posone2 .posone2abs.arrowdowns {
        margin: 50px 4px 30px;
        text-align: left;
    }

    .posone2 .posone2abs.arrowdowns.topposition {
        margin: 40px 10px 0px;
        width: 100%;
    }

    .pro-ject-wrapper div#myCarousel .carousel-inner .item {
        left: 0;
        right: 0;
        padding: 20px !important;
    }

    .posone2 .posone2abs.arrowdowns .comment-box-es.new-patrn {
        text-align: left;
    }

    .comment-box-es .cmmbxonline .numberdot {
        display: block;
        color: #fff;
        font-size: 12px;
        line-height: 18px;    cursor: pointer;
    }

    img.customer_chatimage1:hover {
        cursor: pointer;
    }

    .topposition::after {
        transform: rotate(-135deg) !important;
        top: -10px !important;
    }

    .posone2abs.arrowdowns.topposition.leftposition {
        margin: 40px 0px 0px 28px;
    }

    .posone1 {
        position: absolute;
        left: 10%;
        top: 40%;
    }

    .posonclick-add {
        position: relative;
    }

    .posonclick-add .cmmbxonline {
        position: relative;
        top: 5px;
    }

    .posone2 {
        position: absolute;
        left: 55%;
        top: 70%;
    }

    .posone2abs {
        position: absolute;
         bottom: 100%;
         left: -40px;
        background-color: #ffffff;
        padding: 15px;
        max-width: 350px;
        min-width: 350px;z-index: 9;
        box-shadow: 0 2px 8px rgba(152, 167, 176, 0.6);
        border-radius: 0px;
    }

    .arrowdowns:after {
        content: '';
        display: inline-block;
        background-image: url('../../img/customer/icon-popup-arrows.png');
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -20px;
        left: 30px;
        width: 19px;
        height: 21px;
    }

    .posone3abs {
        position: absolute;
        bottom: 100%;
        margin: auto;
        background-color: #ffffff;
        padding: 15px;
        min-width: 350px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        border-radius: 0px;
    }

    .arrowdowns:after {
        content: '';
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 30px;
        width: 21px;
        height: 20px;
        background: #fff;
        transform: rotate(45deg);
        border-right: 1px solid rgba(204, 204, 204, 0.5);
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        bottom: -9px;
    }

    .white-boundries {
        background: #fff;
        padding: 40px;
        position: relative;
        margin: 20px 0;
        box-shadow: 0 2px 4px rgba(152, 167, 176, 0.5);
        border-radius: 0px;
    }

    .user-area .display-info {
        text-align: center;
    }

    .billing_plan_view p.btn-x {
        float: right;
    }

    .settingedit-box label.label-x2 {
        font-size: 15px;
        padding-bottom: 12px;
        color: #8c8c8c;
    }

    .project-row-qq1.settingedit-box .form-group {
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    .edit-submt .expiry-container {
        width: 100%;
    }

    .edit-submt .cvc-container {
        width: 100%;
    }

    .edit-submt .card-js .icon {
        font-size: 40px;
    }

    .account-tab {
        width: 100%;
        margin-top: 40px;
    }

    .account-tab ul.nav.nav-tabs {
        border-bottom: 0;
    }

    .content-edition .tab-content {
        padding: 30px;
        float: left;
        width: 100%;
    }

    .selectimagespopup .dropify-preview img {
        width: auto !important;
        margin: auto;
        max-width: 100%;
        display: block;
    }

    pre {
        font-family: 'Poppins', sans-serif;
        white-space: pre-wrap;
        border-radius: 0;
        word-break: break-word;
        background: transparent;
        width: 100%;
        overflow: inherit;
        line-height: 1.3rem;
    }

    .edit-here {
        position: absolute;
        right: 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        background: #afb6bd;
        line-height: 40px;
        color: #fff;
        border-radius: 100%;
        top: 10px;
        transition: 0.26s;
        cursor: pointer;
    }

    .first-submt label {
        color: #808080;
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    .first-submt label span {
        color: #253858;
        display: block;
        margin-top: 10px;
    }

    .btn-here input {
        display: block;
        border-radius: 4px;
        text-transform: uppercase;
        color: #ffffff;
        outline: none;
        border: 0;
        transition: 0.26s;
        padding: 0 36px;
        line-height: 50px;
        font-size: 14px;
        font-weight: 600;
    }

    .white-boundries .project-row-qq1.settingedit-box h4 {
        color: #808080;
        margin-top: 60px;
        font-size: 12px;
    }

    .white-boundries .project-row-qq1.settingedit-box h4 img {
        max-width: 52px;
        margin: 0 auto 15px;
    }

    input.btn-red {
        background: #ec2a43;
    }

    input.btn-blue {
        background: #1b1d8a;
    }

    input.btn-red:hover {
        box-shadow: 1px 7px 10px rgba(236, 42, 67, 0.40);
        color: #fff;
    }

    input.btn-blue:hover {
        box-shadow: 1px 7px 10px rgba(37, 56, 88, 0.40);
        color: #fff;
    }

    a.new-subuser {
        transition: 0.26s;
        color: #db213c;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }

    /*******toggle-btn******/
    .notify-lines .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
    }

    .notify-lines .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .notify-lines .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        -webkit-transition: .4s;
        transition: .4s;
        border: 2px solid #ec3d56;
    }

    .notify-lines .slider:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        left: 7px;
        bottom: 2px;
        background-color: #ec3d56;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .notify-lines input:checked+.slider {
        border: 2px solid #aeaeae;
    }



    .notify-lines input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        background: #aeaeae;
    }

    /* Rounded sliders */
    .notify-lines .slider.round {
        border-radius: 34px;
    }

    .notify-lines .slider.round:before {
        border-radius: 50%;
    }

    .notify-lines.finish-line {
        border-bottom: 0;
        margin-bottom: 40px;
    }

    .focusout-search-box .search-group {
        border-bottom: 1px solid rgba(229, 35, 79, 0);
    }
    .tab-toggle {
        display: none;
    }

    .tab-toggle p {
        margin: -6px 0 0 5px;
        cursor: pointer;
    }

    .tab-toggle span {
        display: block;
        width: 25px;
        height: 2px;
        margin: 6px 0;
        background: #ec3d56;
    }


    .chooseplan h3 font {
        font-size: 18px;
        display: inline-block;
        transform: translateY(-14px);
    }

    .chooseplan h3 span {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .chooseplan .p-benifite {
        /*    min-height: 140px;*/
    }

    .white-boundries .chooseplan input {
        display: block;
        margin: auto;
        background: transparent;
        color: #253858;
        border: 2px solid #253858;
        font-size: 16px;
        font-weight: 700;
        padding: 16px 0;
        max-width: 170px;
        width: 100%;
        border-radius: 30px;
        transition: 0.56s;
        outline: 0;
    }

    /**********************/
    .notify-lines {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        color: #0d0d0d;
        margin-bottom: 30px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .notify-lines p {
        margin: 0;
        margin-left: 15px;
        letter-spacing: 1px;
        color: #808080;
        font-size: 14px;
    }

    .notify-lines select {
        background: transparent;
        padding: 8px;
        border: 1px solid #ccc;
        outline: none;
    }

    .currentPlan .plane-edt {
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        background: #f7f7f7;
        padding: 15px;
        color: #596375;
        align-items: center;
    }

    .currentPlan .plane-edt a.btn-red {
        background: #ec3d56;
        color: #fff;
        padding: 7px 6px;
        font-size: 14px;
        border-radius: 30px;
    }

    .cardDetl h3,
    .currentPlan label {
        font-size: 18px;
        color: #253858;
        margin: 20px 0;
    }

    .access-brand .notify-lines.finish-line {
        width: auto;
    }

    .cardDetl label span {
        color: #253858;
        display: block;
        margin-top: 10px;
    }

    .cardDetl label {
        color: #808080;
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    .review-textcolww i {
        color: #afb6bd;
        font-size: 25px;
    }

    h2.main-info-heading {
        font-size: 18px;
        color: #0d0d0d;
        font-weight: 600;
        letter-spacing: 1px;
    }

    p.fill-sub {
        font-size: 12px;
        color: #808080;
        line-height: 21px;
        margin-bottom: 30px;
    }

    div#password .edit-submt {
        display: block !important;
    }

    .switch-custom-usersetting-check label:before {
        right: 5px;
        content: 'NO';
        font-size: 10px;
        font-weight: 400;
        color: #ffffff;
        line-height: 1;
        display: inline-block;
        position: absolute;
        top: 8px;
        width: 20px;
        text-align: center;
        overflow: visible;
    }

    .switch-custom-usersetting-check input:checked+label::before {
        content: '';
    }

    .header-blog .list-unstyled.list-header-blog {
        display: inline-block;
    }

    .similar-prop .modal-dialog {
        max-width: 760px;
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto !important;
        height: 100%;
    }

    .similar-prop .modal-dialog .modal-content {
        width: 100%;
        border-radius: 0;
    }

    .similar-prop img.cross_popup {
        position: absolute;
        right: 10px;
        cursor: pointer;
        top: 10px;
        z-index: 999999;
    }

    .similar-prop .cli-ent-model {
        text-align: center;
        padding: 30px;
    }

    .similar-prop img.delete_img1 {
        max-height: 110px;
    }

    h2.popup_h2 {
        font-size: 16px;
        color: #0d0d0d;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    header.fo-rm-header .cross_popup {
        position: absolute;
        right: 20px;
        top: 13px;
        font-size: 20px;
        opacity: 1;
        cursor: pointer;
        font-weight: 400;
    }

    .similar-prop .cli-ent-model h3.head-c {
        font-size: 18px;
        color: #0d0d0d;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    .similar-prop .btn {
        width: 40% !important;
        font-size: 18px;
        line-height: 36px;
        box-shadow: none;
        margin: 10px;
        color: #fff;
    }

    .billing_plan_view p.btn-x .btn-f.chossbpanss {
        background: #ec2a43;
        color: #fff;
        border-color: #ec2a43;
        padding: 12px 0;
        width: 170px;    margin-top: -70px;
        display: block;
        font-size: 15px;
    }
    div#myCarousel .loader {
        display: flex;
        align-items: center;
        justify-content: center;
        height:calc(100vh - 70px);
        /*position: absolute;*/
        width: 100%;
    }
    .similar-prop .btn.btn-ydelete {
        background: #e73250;
    }

    .similar-prop .btn.btn-ndelete {
        background: #263959;
    }

    .similar-prop h3.head-c strong {
        display: block;
        font-weight: 600;
        color: #e73250;
        font-size: 26px;
        margin-top: 15px;
    }

    .similar-prop input#verfy_number {
        padding: 16px;
        border: 1px solid #ccc;
        margin-bottom: 21px;
        /* text-align: center; */
        border-radius: 4px;
        background: #f7f7f7;
    }

    .bootstrap-select.btn-group .dropdown-menu .bs-searchbox {
        display: none;
    }

    .btn-group.bootstrap-select button.btn.dropdown-toggle.btn-default {
        width: 100%;
        border: 1px solid #ccc;
        color: #555;
        height: 70px;
        box-shadow: none;
        font-size: 15px;
        padding: 20px;
        background: #fff;
        margin: 0;
        outline: none;
        border-radius: 6px;
    }

    .bootstrap-select.btn-group .dropdown-menu.inner {
        position: static;
        float: none;
        border: 0;
        padding: 0;
        margin: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .access-brand {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid rgba(152, 167, 176, 0.5);
        padding-bottom: 20px;
    }

    .access-brand h3 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .access-brand .notify-lines.finish-line label {
        margin-right: 6px;
    }

    .access-brand .notify-lines.finish-line {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .access-brand .notify-lines.finish-line h3 {
        color: #808080;
        text-transform: uppercase;
        font-size: 14px !important;
    }

    div#brandcheck_chosen {
        width: 100% !important;
        max-width: 520px;
    }

    .bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
        float: left;
        color: #e52344;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
        padding: 2px;
    }

    .notify-lines label {
        line-height: 0;
        /*    margin-top: -13px; */
    }

    .bootstrap-select .glyphicon-ok:before {
        opacity: 0
    }

    .bootstrap-select.btn-group .dropdown-menu li.selected .glyphicon-ok:before {
        opacity: 1
    }

    .btn-group.bootstrap-select.show-tick {
        width: 100%;
    }

    .btn-group.bootstrap-select.show-tick span.bs-caret {
        float: right;
    }

    .btn-group.bootstrap-select.show-tick.open .dropdown-menu.open {
        width: 100%;
    }

    .brand_search .chosen-container .chosen-drop {
        right: 0;
    }

/**********************************************************
project_image_view    /   dot comment page css
**********************************************************/
.dot-header {
    background: #fff;
    position: relative;
    z-index: 999;
    box-shadow: 0 2px 6px rgba(15, 49, 72, 0.25);
}
.pro-ject-leftbar {
    box-shadow: 0 2px 8px rgba(15, 49, 72, 0.15);
    top: 0;
    height: 100%;
    padding-top: 10px;
    position: absolute;
    z-index: 999;
}
.custom-container {
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
}

.closeoncross {
    width: 100%;
}

.flex-headers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.buttons_quality div#status {
    display: inline-block;
}

div#status p img {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 20px;
}

div#status p {
    color: #ffffff;
    background: #3fd207;
    border-radius: 5px;
    padding: 6px;
    display: inline-block;
    font-size: 14px;
    padding: 10px 15px;
}

.buttons_quality {
    text-align: center;
}

.flex-headers .savecols-col.left {
    flex: 0 0 auto;
    padding: 0px 20px;
}

.flex-headers .middle-tital {
    align-items: center;
    padding: 0px 15px;
    flex: 1 1 0;
    display: flex;
}

.flex-headers .down-approv {
    flex: 0 0 350px;
    max-width: 350px;
}

.flex-headers .savecols-col.left img {
    display: inline-block;
    max-width: 15px;
}

.left-slide-sidebar {
    /*  position: relative; */
    flex: 0 0 110px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(15, 49, 72, 0.15);
}

.view-commentBox {
    display: inline-block;
    width: 100%;
}

.openchat {
    transition: 1s;
    width: auto !important;
    z-index: 9999999999 !important;
    padding: 0 !important;
}

.pro-ject-wrapper.dot-comment {
    position: relative;
    margin: auto;
    margin-left: 110px;
    display: block;
    overflow: hidden;
    display: flex;
    background: #fff;
    transition: 1s;
}

.comment-box-es.new-patrn.comment-box-es .cmmbx-col.left .cmmbx-col {
    width: calc(100% - 61px);
    float: right;
}

.savecols-col.left a.back-link-xx0 {
    font-size: 14px;
    color: #0d0d0d;
    font-weight: 500;
}

.zoom-btns a img {
    width: 25px;
    max-width: 25px;
}

.zoom-btns a {
    display: inline-block;
    margin: 10px;
}

.down-approv form {
    display: inline-block;
}

.buttons_quality form button {
    display: inline-block;
    border: 1px solid #909090;
    margin-left: 5px;
    text-align: center;
    width: 100%;
    padding: 6px 20px;
    border-radius: 4px;
    font-size: 14px;
    color: #0d0d0d;
    line-height: 24px;
}

.buttons_quality form button img {
    width: 20px;
    display: inline-block;
    vertical-align: middle;    margin-right: 6px;
}
.pro-ject-rightbar .list-comment-es>li .comment-box-es .cmmtype-row.wide_text {
    margin: 0px !important;
}
.sidebar-toggle img {
    width: 25px;
}

.despeginate-box a.despage {
    line-height: 24px;
    text-align: center;
    color: #808080;
    display: inline-block;
    font-size: 17px;
    margin: 12px;
}

.despeginate-box {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.main-three-outer {
    display: block;
    overflow: hidden;
    position: relative;
    min-height: calc(100vh - 54px);
    background: #fff;
}

.pro-ject-wrapper.dot-comment.sidebar-in {
    position: relative;
    margin: auto;
    display: block;
    overflow: hidden;
    display: flex;
    background: #fff;
    margin-left: 113px;
    margin-right: 0px;
}

.pro-ject-wrapper.dot-comment {
    margin-right: 350px;
}

.pro-ject-rightbar.sidebar-in {
    right: -350px;
}
.sidebar-header {
    border-bottom: 1px solid #d2d8dc
}
.pro-ject-rightbar .sidebar-header li {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0px 14px;
}
.sidebar-header li.active a {
    border-bottom: 2px solid #db213c;
    color: #db213c;
}
.sidebar-header li a {
    margin: 0;
    border: 0;
    font-size: 15px;
    font-weight: 500;
    display: block;
    color: rgba(15, 49, 72, 0.5);
    padding: 16px;
    border-bottom: 2px solid transparent;
}
ul#comment-people {
    padding: 0;
}
.pro-ject-rightbar {
    border-radius: 0;
    background-color: #ffffff;
    min-height: calc(100vh - 55px);
    margin: 0;
    margin-right: 0;
    opacity: 1;
    transition: 1s;
    box-shadow: 0 2px 8px rgba(15, 49, 72, 0.25);
    width: 350px;
    position: absolute;
    top: 0;    z-index: 99;
    right: 0;
}

.despeginate-box span {
    color: #596375;
    padding: 0 10px;
}

.dot-comment .pro-ject-top-cat {
    padding-top: 15px;
    margin-top: 0;
}

.designer_option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot-comment div#myCarousel .carousel-inner .item {
    width: auto;
    float: none;
    overflow-y: auto;
    margin: auto;
    text-align: center;
    max-height: calc(100vh - 54px);
    min-height: calc(100vh - 54px);
    /*    display: none;*/
}
/*.dot-comment div#myCarousel .carousel-inner .item.active {
    display: flex;
    }*/
    .mydivposition {
        cursor: crosshair;
        padding: 0px !important;
        cursor: crosshair;
        display: inline-block;
        margin: auto;
        float: none;width: auto;
        transform-origin: top;
    }

    .mydivposition .slid img {
        box-shadow: 0 2px 8px #98a7b0;
        transform-origin: top;
    }

    .posone1 {
        position: absolute;
        left: -44px;
        top: 30px;
    }

    .topposition {
        position: relative;
    }

    .orbxbin-list li {
        margin-bottom: 15px;
    }

    .orb-xbin {
        padding: 0px 12px 10px 10px;
    }

    .slick_thumbs .imgobxbins {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: auto;
        opacity: 0.3;
        border-radius: 4px;
    }

    .slick_thumbs .imgobxbins img {
        max-height: 105px;
        object-fit: cover;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid transparent;
    }

    .slick_thumbs .imgobxbins:hover,
    .slick_thumbs .imgobxbins.active {
        box-shadow: 0 1px 8px rgba(152, 167, 176, 0.75);
        opacity: 1;
        transition: 0.26s;
    }

    .dot-comment div#myCarousel div#cro {
        position: relative;
        overflow: auto !important;
    }

    .pro-ject-rightbar .rpjecsrr.both h3.sub-head-e {
        color: #32475a;
        font-size: 18px;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .pro-ject-rightbar .design-draft-header.noheight {
        min-height: auto;
        padding: 7px 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #cfcfcf;
        margin-bottom: 16px;
    }

    .pro-ject-rightbar div#status p {
        color: #ffffff;
        background: #3fd207;
        border-radius: 8px;
        padding: 6px;
        display: inline-block;
    }

    .pro-ject-rightbar .list-comment-es>li .comment-box-es {
        margin-bottom: 16px;
        border-bottom: 1px solid #c7d2d8;
    }

    .pro-ject-rightbar .list-comment-es {
        padding:5px 20px 8px 20px;
        overflow-y: auto;
        max-height: calc(100vh - 216px);

    }

    .new-patrn .pro-circle-img-xxs {
        width: 34px;
        height: 34px;
        border: 1px solid #ccc;
        border-radius: 50%;
        line-height: 30px;
        overflow: hidden;
    }

    .pro-ject-rightbar .sharedBy,
    .gz-sidebar .sharedBy.two-can {
        max-height: calc(100vh - 130px);
        overflow: auto;    min-height: calc(100vh - 130px);
    }

    .show_permisionbox .notify-lines {
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .sharedBy .input-submitt input.sharemail {
        outline: 0;
        background: #fff;
        padding: 10px;
        font-size: 14px;
        border-radius: 0;
        box-shadow: 0 2px 6px rgba(152, 167, 176, 0.5);
        margin: 0px 0px 10px;
        width: 100%;
    }

    .sharedBy .input-submitt input.btn-blue {
        width: auto;
        border-radius: 4px;
        padding: 12px;
    }

    .sharedBy .input-submitt {
        display: block
    }

    .comment-box-es.new-patrn .cmmbx-col.left.reply {
        width: calc(100% - 40px);
        margin-right: 0;
        margin-left: auto;
        display: flex;
    }

    .posone2 .comment-box-es.new-patrn .cmmbx-col.left {
        display: flex;
    }

    .posone2 .comment-box-es.new-patrn .cmmbx-col.left .new_msg_des {
        width: calc(100% - 40px);
        margin-left: 10px;
    }

    .posone2 .comment-box-es.new-patrn .cmmbx-col.left .new_msg_des .ryt_header {
        display: flex;
        justify-content: space-between;
    }

    .posone2 .comment-box-es.new-patrn .cmmbx-col.left .new_msg_des p.distxt-cmm {
        width: 100%;
    }

    body .new-patrn .cmmbx-col.left .cmmbx-col {
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        align-items: baseline;
        justify-content: space-between;
        vertical-align: top;
        width: 73%;
        float: right;
    }

    .comment-box-es.new-patrn.comment-box-es .cmmbx-col.left p.distxt-cmm {
        width: 100%;
        /*  margin-top: 6px; */
        font-size: 12px;
        color: #000;
        line-height: 17px;
    }

    .comment-box-es.new-patrn.comment-box-es .cmmbx-col .edit_del a {
        color: rgba(15, 49, 72, 0.5);
        font-size: 14px;
        margin-left: 10px;
        transition: 0.56s;    display: inline-block;
        opacity: 0;
    }

    .comment-box-es.new-patrn.comment-box-es .cmmbx-col:hover .edit_del a {
        opacity: 1
    }

    .comment-box-es.new-patrn.comment-box-es .cmmbx-col.left pre {
        word-break: normal;
        display: inline-block;
        white-space: pre-wrap; padding-top: 0;padding: 0;
    }
    .msgk-mn-edit .pstcmm.sendtext {
        box-shadow: 0px 3px 3px rgba(152, 167, 176, 0.4);
        padding: 10px;
        border-bottom: 1px solid #98a7b0
    }
    .msgk-mn-edit a {
        margin: 10px 10px 10px 0;
        display: inline-block;
        color: #474747;
        font-size: 15px;
        white-space: pre-wrap;
        padding-top: 0;
    }

    .approvedate.admin-del {
        /*    display: flex;*/
    }

    .cmmtype-box,
    .cmmtype-row.wide_text {
        margin: 15px 15px 15px;
        background: #fff;
        border: 0 !important;
        box-shadow: 0 2px 6px rgba(152, 167, 176, 0.5);
        border-bottom: 2px solid #98a7b0 !important;
    }

    .downld_del_sec form {
        width: auto;
        display: inline;
    }

    .pro-ject-rightbar .buttons_quality {
        width: 100%;
    }

    .pro-ject-rightbar div#status p img {
        display: inline-block;
        margin-right: 5px;
        position: relative;
        vertical-align: middle;
        width: 20px;
        transform: translatey(-1px) !important;
    }

    .posone3abs.arrowdowns.topposition.leftposition,
    .posone3abs.arrowdowns.leftposition {
        right: -20px;
        left: auto;
        bottom: -70px;
    }

    .comment-box-es .cmmbx-col.left .msg_sect {
        display: inline-block;
        width: calc(100% - 40px);
        float: right;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .posone3abs.arrowdowns.leftposition.topposition {
        position: absolute;
        right: -20px;
        top: -64px;
        z-index: 99999999;
        background: #fff;
        display: block;
        min-height: 170px;
        bottom: auto;
    }

    .posone3abs{
        width: 350px;
        min-height: 170px; 
        right: auto;
        
    }
    .posone2abs{
        width: 350px;
        height: auto; 
        right: auto;
         

    }
    .heightadd{
    height: auto !important; 
}

    .posonclick-add textarea.tff-con.wide_text {
        height: 90px;
    }

    .customer_chatimage1 span, .customer_chatimage2 span{
        color: #fff;
        position: relative;
        z-index: 999;
        line-height: 35px;
        font-size: 11px;
    }

    .posone3abs.arrowdowns.topposition.leftposition:after {
        right: -9px;
        left: auto;
        top: 20px !important;
        transform: rotate(-45deg) !important;
    }

    .posone3abs.arrowdowns.leftposition:after {
        right: -9px;
        left: auto;
        top: auto !important;
        transform: rotate(-45deg) !important;
        bottom: 17px;
    }

    .customer_chat .posone2abs.arrowdowns.leftposition {
        right: 25px;
        left: auto;
        bottom: -60px;
    }

    .carousel-fade .carousel-inner .item {
        opacity: 0;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
    }

    .carousel-fade .carousel-inner .active {
        opacity: 1;
    }
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
    }
    .carousel-fade .carousel-inner .next.left,
    .carousel-fade .carousel-inner .prev.right {
        opacity: 1;
    }
    .carousel-fade .carousel-control {
        z-index: 2;
    }
    .fade-carousel {
        position: relative;
    }
    .fade-carousel .carousel-inner .item {
        height: auto;
        overflow-y: auto;
        background: #fff;
    }
    .fade-carousel .carousel-indicators > li {
        margin: 0 2px;
        background-color: #f39c12;
        border-color: #f39c12;
        opacity: .7;
    }
    .fade-carousel .carousel-indicators > li.active {
        width: 10px;
        height: 10px;
        opacity: 1;
    }

    .fade-carousel .carousel-inner .item {
        -webkit-transition: 0.6s ease-in-out left;
        -moz-transition: 0.6s ease-in-out left;
        -o-transition: 0.6s ease-in-out left;
        transition: 0.6s ease-in-out left;
    }

    .customer_chat .posone2abs.arrowdowns.leftposition.topposition:after {
        right: -8px;
        left: auto;
        transform: rotate(-45deg) !important;
        top: 9px !important;
    }

    .customer_chat .posone2abs.arrowdowns.leftposition:after {
        right: -8px;
        left: auto;
        transform: rotate(-45deg) !important;
        top: auto;
        bottom: 20px;
    }

    .customer_chat .posone2abs.arrowdowns.topposition.leftposition {
        left: auto;
        right: 30px;
        position: absolute;
        top: -40px;
        bottom: auto;
    }

    .comment-box-es.new-patrn.comment-box-es .cmmbx-col.left .cmmbx-col {
        width: calc(100% - 45px);
        margin-bottom: 5px;
        display: inline-block;
    }

    .comment-box-es.new-patrn.comment-box-es .cmmbx-col .edit_del {
        text-align: right;
        margin-top: 5px;
    }

    .comment-box-es.new-patrn.comment-box-es .cmmbx-col.left .cmmbx-col .ryt_header {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        line-height: 1.42857143;
    }

    .all-sub-outer pre p.distxt-cmm {
        float: none !important;
    }

    .all-sub-outer {
        width: 100%;
    }

/**********************************************************
       view_request    /  project info page css
       **********************************************************/
       .design-draft-header a.upl-oadfi-le {
        padding: 6px 15px;
    }

    .change-sts-btn {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 17px;
    }

    .design-draft-header img {
        display: inline-block;
        transform: translateY(1px);
        margin-right: 6px;
        max-width: 37px;
    }

    .design-draft-header-02 img {
        display: inline-block;
        transform: translateY(4px);
        margin-right: 10px;
    }

    .design-draft-header-02 {
        margin: 20px 0;
    }

    .design-draft-header-02 h3.head-b {
        color: #2a4055;
    }

    div#status h3.rejected {
        font: normal 15px/25px 'GothamPro', sans-serif;
        color: #ffffff;
        background: #ec3d56;
        border-radius: 8px;
        padding: 6px;
        display: inline-block;
    }

    .design-draft-header.ddnos.mobile h3.head-b {
        color: #2a4055;
    }

    .list-designdraftnew li .tm-heading a img {
        width: auto;
        margin-left: auto;
    }

    .list-designdraftnew li .tm-heading .chatbox-add>span {
        width: auto;
        padding: 0;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        display: inline-block;
    }

    .list-designdraftnew li .tm-heading .chatbox-add>span span {
        font: 500 11px/13px 'GothamPro', sans-serif;
        padding: 3px 9px;
        border-radius: 15px;
        background-color: #a29890;
        color: #ffffff;
    }

    .list-designdraftnew li .tm-heading .chatbox-add>span.adnewpp {
        padding: 3px 10px;
        display: inline-block;
    }

    .list-designdraftnew li .tm-heading .chatbox-add a span {
        /*top: -19px;*/
        margin-top: -4px;
    }

    .list-designdraftnew li .tm-heading a {
        text-decoration: none;
    }

    .descol.bottom-info .right-inst {
        position: absolute;
        right: 0;
        top: 0;
    }

    .descol.bottom-info .right-inst img {
        margin: 0;
        transform: none;
    }

    .descol.bottom-info {
        position: relative;
    }

    .msgk-user-chat.msgk-right pre a {
        color: #fff !important;
    }

    .msgk-user-chat.msgk-left pre a {
        color: #55747d !important;
    }
.msgk-user-chat.msgk-right .msgk-mn .msgk-umsgbox .msgk-umsxxt a {
    color: #0f3147 !important;
}
    /**************start green tick css start*************/


    .cell-col.is_verified.verified_by_admin i.fa.fa-check-circle-o,
    .cell-col.is_verified.verified_by_designer i.fa.fa-check-circle {
        display: inline-block;
        color: #36c473;
    }

    .cell-col.is_verified input.verified {
        display: none;
    }

    .cell-col.is_verified i {
        font-size: 18px;
    }

    .pro-desh-row .cli-ent-col.td .cli-ent-xbox {
        margin-top: 30px;
    }

    .cell-col.is_verified.verified_by_admin.verified_by_designer i.fa.fa-check-circle-o {
        display: none !important;
    }

    .holdcolor {
        background: #adadad;
        padding: 3px 15px;
        color: #fff !important;
        border-radius: 15px;
        line-height: 16px;
        display: inline-block;
    }

    header.fo-rm-header {
        padding: 20px;
        box-shadow: 0 2px 5px rgba(152, 167, 176, 0.5);
    }

    .beatHeart {
        /*  animation: 1s infinite beatHeart; */
    }
    div#show_notepad_area .modal-header {
        background: #1b3248;
        box-shadow: 0px 2px 9px #1b3147a8;
        padding: 20px;
        border: 0;
    }
    div#show_notepad_area .modal-header h2 {
        color: #fff;
    }
    div#show_notepad_area .modal-header button.close {
        color: #fff;
        opacity: 1;
        text-shadow: none;
        position: absolute;
        right: 19px;
        top: 15px;
    }
    div#show_notepad_area .modal-body {
        background: #f7f7f7;
    }
    div#show_notepad_area textarea#notes_txtmsg {
        margin: 0;
        background: #fff;
        padding: 0px;
    }
    div#show_notepad_area .usernotes_list {
        background: #fff;
        padding: 8px;
        margin-top: 10px;
    }
    div#show_notepad_area .usernotes_list .msg {
        background: #f7f7f7;
        padding: 6px;
        margin: 4px 0;
        border-radius: 4px;
        font-size: 13px;
        line-height: 18px;
    }
    div#show_notepad_area .usernotes_list .msg span {
        display: block;
        font-size: 11px;
        color: #999;
        margin-bottom: 3px;
        margin-left: auto;
    }
    div#show_notepad_area .text-aprt {
        position: relative;
        display: flex;
        align-items: center;
        background: #fff;
        padding: 10px;
    }
    div#show_notepad_area button.add_notemsg {
        border: 0;
    }
    ul.activities {
    /* margin-top: 30px; */
    padding: 40px;
    position: relative;
    /* padding-left: 0; */
    max-height: 400px;
    /* overflow: visible !important; */
    overflow-y: auto;
    /* padding-right: 15px; */
    display: block;
 }
 ul.activities li.cap_activits {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #696969;
    position: relative;
    //z-index: 9999;
}
ul.activities li.cap_activits img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 20px;
    object-fit: cover;
    border: 1px solid #ccc;
    background: #fff;
}
ul.activities li.cap_activits span.activity_dt i {
    margin-left: 10px;
}
.totl-activity {
background: #3dcc36;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff !important;
    border-radius: 100%;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 600 !important;
    display: block;
    margin-right: 40px;
}
ul.activities li.cap_activits span.activity_dt {
    margin-left: auto;
    color: #919191;
    font-size: 13px;
}
.white-boundries.activity-boundry {
    padding: 0;
}
ul.activities::before {
/*    content: "";
    display: block;
    width: 1px;
    height: 84%;
    background: rgba(132, 146, 175, 0.3);
    position: absolute;
    top: 30px;
    left: 20px;*/
}
ul.activities li.cap_activits a {
    color: #ec3d56;
    text-decoration: underline;
    font-weight: 500;
    margin-left: 4px;
}
li.cap_activits strong {
    margin: 0px 3px;
}
.search-first .search-box .close-search {
    opacity: 0;
}
.search-box.magic_search .close-search {
    position: absolute;
    z-index: 9999;
    right: 9px;
    top: 14px;
    color: #6b6b6b;
    opacity: 1 !important;
    transition: 0.56s;
}
.modal-open .modal .bma-outer, .modal-open .modal .accimgbx33{background: #f1f1f1;}
.modal-open .modal .accimgbx33 p.extension_name, .bma-outer p.extension_name{
    position: absolute;
    top: 25px;
    color: #fff;
    left: 28%;
    text-transform: uppercase;
}
.modal-open .modal .bma-outer img {
    max-width: 100%;
    max-height: 100%;
}
.modal-open .modal .accimgbx33 img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
}
.modal-open .modal .displayed-pic .dp-here img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
/******loader on dot comment****/
.customer_loader {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
}
.customer_loader img {
    width: auto;
    margin: auto;
}

/*****viberate issue on dotcommernt ******
.main-three-outer .left-slide-sidebar .pro-ject-leftbar {
    overflow: visible;
}
viberate issue on dotcommernt end******/
.view_file_body {
    overflow-y: hidden;
}

@keyframes beatHeart {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/**************end green tick css start*************/


/***************************design draft upload popup start***************************/
.project-info-popup {
    border-left: 1px solid #e0e0e0;
    padding: 0 0 0 30px;
}
.preview-image {
    position: relative;
}
.preview-image:hover span.overlay-icon{
    opacity:1;
}
.preview-image span.overlay-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.47843137254901963);
    z-index: 9;
    top: 0;
    opacity: 0;
    cursor: pointer;
    transition: all 0.2s ease-out;
    left: 0;
}
.preview-image {
    position: relative;
}
.preview-image img {
    max-width: 100%;
    max-height: 100%;
}
#Addfiles .modal-dialog {
    max-width: 850px;
}
.project-prew-detail {
    text-align: left;
}
 #Addfiles .cli-ent-model > fieldset {
    display: none;
}
.project-prew-detail h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
}
.info-items {
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px;
    padding-bottom: 10px;
    display: flex;
}
.info-items h3 {
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    flex: 0 0 35%;
    max-width: 35%;
}
.p_ryt_info {
    flex: 0 0 65%;
    max-width: 65%;
}
.p_ryt_info span{
    font-size: 14px;
}
#Addfiles .review-option-main {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px 15px;
    border-radius: 2px;
    margin-top: 20px;
}
.review-option{
    display: flex;
}
.backToprevQuestion {
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 1px solid #7d7d7d;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    background: #fff;
    top: 19px;
    left: -15px;
    z-index: 9;
}
.backToprevQuestion a {
    color: #313131;
    font-size: 18px;
    text-align: center;
    display: block;
}
a.angle-left-ancor {
    padding: 0px !important;
}
.review-option p {
    flex: 0 0 75%;
    max-width: 75%;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: .2px;
}

.file-drop-area.red-alert {
    border: 1px solid red;
}
.p_ryt_info.ct-info p span {
    margin-right: 5px;
    padding: 5px;
    background: #dadada;
    color: #fff;
    border-radius: 3px;
}
.a-active .fa-thumbs-up{
   color: #3f51b5!important
}
.a-active .fa-thumbs-down{
    color: #dc223c!important
}
 .default-btn {
    width: 150px;
    height: 40px;
    color: #151414;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    margin: 10px auto;
    line-height: 40px;
    border-radius: 4px;
    border: 0px;
    text-align: center;
    background: #dedbdb !important;
}
.like-dislike {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: right;
}
.like-dislike a {
    height: 55px;
    width: 55px;
    display: inline-block;
    border: 1px solid #ccc;
    background: #f5f5f5;
    text-align: center;
    line-height: 20px;
    color: #2d2d2d;
    border-radius: 3px;
    margin-left: 10px;
    font-weight: 500;
    padding: 8px 0;
}
.like-dislike a i {
    display: inline-block;
    width: 100%;
}
.back_to_draft a {
    color: #000;
    text-transform: uppercase;
    vertical-align: middle;
}
.back_to_draft {
    margin-top: 15px;
}
.back_to_draft a i {
    font-size: 16px;
    vertical-align: middle;
}
#Addfiles .selectimagespopup > h2 {
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    padding: 4px 25px;
    background: #fff;
}
.upload-draft-colm {
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 55px 15px;
    margin: -17px 0 35px;
}
.upload-draft-colm .form-group {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 0 22px;
    text-align: center;
}
.upload-draft-colm .form-group .allowed-type i {
    font-size: 13px;
    color: #757575;
}
.upload-draft-colm .form-group .allowed-type {
    text-align: left;
}
.upload-draft-colm .form-group label.label-x3 {
    color: #000;
    margin-bottom: 15px;
}

.project-details-bar > h2 {
    font-size: 18px;
    text-transform: capitalize;
    text-transform: uppercase;
    color: #000;
    border-bottom: 1px solid #e6e6e6;
    margin: 10px 0 22px;
    padding-bottom: 20px;
}
.project-details-bar {
    padding: 18px;
}
.project-details-bar {
     
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 9;
}
.project-details-bar .info-items {
    display: block;
}
.project-details-bar .info-items h3 {
    max-width: 100%;
    margin-bottom: 3px;
}
.project-details-bar .info-items .p_ryt_info {
    max-width: 100%;
    font-size: 14px;
}
.qa-project-review {
    position: absolute;
    bottom: 15px;
    z-index: 99;
    left: 0;
    right: 0;
    margin: auto;
    width: 78%;
}
.qa-project-review .review-option {
    background: rgba(0, 0, 0, 0.71);
    padding: 10px; 
}
.qa-project-review .review-option p {
    color: #fff;
}
.project-prew-detail .submit-draft input {
    display: inline;
}
.project-prew-detail .submit-draft {
    text-align: center;
    margin-top: 20px;
}
.a-active i {
    color: #0190ff;
}

div#brand_profile {
    z-index: 999999; 
}
.images-gallary {
    display: block;
    width: 35px;
    height: auto;
    cursor: pointer;
    margin-right: 10px; 
    margin-bottom: 6px; 
}
.p_ryt_info.atm-info {
    display: inline-flex;
    flex-wrap: wrap;
}
.p_ryt_info.atm-info a {
    margin-right: 8px;
}
.p_ryt_info.bp-info a {
    color: #dc223c;
}
.warningMsg {
    display: table;
    margin:0 auto 15px;
}
#Addfiles .warningMsg span {
    color: #000 !important;
    display: inline-block;
    width: 100%;
}
.review-option-main {
    position: relative;
}
.backToprevQuestion a {
    padding: 0px 0;
}
#Addfiles .warningMsg {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}
#Addfiles .review-option-main .review-option {
    padding-left: 10px;
}

#Addfiles .warningMsg .submit-draft input {
    margin: 0;
} 

.qa-project-review .submit-draft input {
    display: inline-block;
    margin: 0 10px;
}
.qa-project-review .submit-draft {
    text-align: center;
    background: rgba(0, 0, 0, 0.71);
    padding: 20px;
}
.load_more{
    width: 150px;
    height: 40px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    margin: 10px auto;
    line-height: 40px;
    border-radius: 4px;
    border: 0px;
    text-align: center;
    background: #e42647 !important;
}
.custom-cs{
    margin: 0px !important; 
}

#comment_list_all{
    overflow-y: auto;
}

#comment_list_all .p_ryt_info .fa-download {
    margin-right: 5px;
}
#comment_list_all .Category span {
    display: flex;
}
#comment_list_all .Category p {
    margin:0 7px; 
}
#comment_list_all .p_ryt_info.Category {
    display: flex;
}
p.seprater {
    margin: 0 6px;
    display: initial;
}
.p_ryt_info.ct-info{
    display: inline-block; 
}
/***************************design draft upload popup end***************************/

/*************************
       Media Query
       *************************/



       @media only screen and (max-width: 800px) {

        /* Force table to not be like tables anymore */
        #no-more-tables table,
        #no-more-tables thead,
        #no-more-tables tbody,
        #no-more-tables th,
        #no-more-tables td,
        #no-more-tables tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        #no-more-tables tr {
            border: 1px solid #ccc;
        }

        #no-more-tables td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
            white-space: normal;
            text-align: left;
        }

        #no-more-tables td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap; text-align:left;
            font-weight: bold;
        }

    /*
    Label the data
    */
    #no-more-tables td:before {
        content: attr(data-title);
    }
}


@media (max-width:1400px) {}

@media (max-width:1200px) {}

@media (min-width:993px) {
    section.edit-profile-sec .container {
        /*    padding: 0 5%; */
    }
}
@media (max-width: 1024px) and (min-width:768px) {
    .pro-ject-rightbar {
        /*   width: 300px; */
    }
}

@media (max-width:992px) and (min-width:768px) {
    .nav-section .navbar-default ul#right_nav .navbar-collapse {
        display: none !important
    }
}

@media (max-width:992px) {
    .flex-headers {
        flex-direction: column;
    }
    .flex-headers .down-approv {
        flex: 0 0 100%;
        max-width: 100%; 
    }
    .flex-headers .middle-tital {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
    .nav-section .navbar-default .navbar-collapse {
        border: none;
        display: none !important;
    }

    .list-setting>li {
        margin-left: 15px;
    }

    .content-edition .tab-content {
        padding: 20px;
    }
    .header-blog .brand_search {
        max-width: 280px;
        float: right;
        width: 100%;
    }
    .cli-ent-row.tr:nth-child(even) {
        background: #f7f7f7f7;
    }

    a.upl-oadfi-le {
        margin: 20px auto 0;
        display: block;
    }

    .design-draft-header.ddnos.mobile a.upl-oadfi-le {
        margin: 0;
        display: inline-block;
    }

    .product-list-show .pro-desh-row:nth-child(even) {
        background: #f7f7f7;
    }

    .product-list-show .pro-desh-box .pro-circle-list {
        padding: 15px;
    }

    .about_info_edit {
        float: left;
        width: 100%;
    }

    .con-b .project-row-qq2.chat_box {
        float: left;
        width: 100%;
    }

    .pro-ject-leftbar {
        /* margin-top: 60px; */
    }

    .slick_thumbs {
        position: relative !important;
    }

    .client-leftshows .cli-ent-img.circle {
        position: relative;
    }

    .client-leftshows p.neft.text-left {
        text-align: center;
    }

    .client-leftshows {
        padding-left: 0;
        text-align: center;
    }

    .product-list-show .cli-ent-row.tr.brdr .cli-ent-col.td .cell-col {
   /*      display: block;
        text-align: left;
        margin: auto;
        padding: 0 !important; */
    }

    .product-list-show .cli-ent-row.tr.fullheight .cli-ent-col.td .cell-col {
       /*    text-align: center */
   }

   .por-tfol-io {
    position: relative;
}

.slick_thumbs .list-unstyled.orbxbin-list li {
    width: 80px;
}

.de-signdraft .flex-show-em1 {
    display: flex;
}
}


@media only screen and (min-width: 768px) and (max-width: 1024px){
    ul#comment-people {
    padding: 0 15px;
    width: 100%;
    }
    .pro-ject-rightbar .sidebar-header li {
    padding: 0;
    }
    .sidebar-header li a {
    font-size: 12px;
    padding: 10px;
    }
    .postrow12 button {
    padding: 6px 10px !important;
    }
    p.leave-commt {
    font-size: 13px;
    }
    .pro-ject-rightbar {
    width: 250px;
     }
    .pro-ject-wrapper.dot-comment {
    margin-right: 250px;
    }
    .posone3abs {
    padding: 8px;
    min-width: 250px;
    }
}

@media (max-width:767px) {
    
    /*****************view files start*****************/
    .project-details-bar {
    padding: 15px;
    }
    .info-items:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    }
    #comment_list_all .p_ryt_info.Category {
    display: block;
    }
    span.cmmsend img {
    width: 18px;
    }
    .list-header-blog>li a {
    padding: 8px 0;
    }   
    .pro-ject-wrapper div#myCarousel .carousel-inner .item {
    padding: 0!important;
    }
    .main-three-outer {
    padding: 0 15px;
    }
  .pro-ject-leftbar .orbxbin-list {
    display: flex;
    overflow-x: auto;
    }
    .sidebar-header li a {
    font-size: 12px;
    }
    .send-attech label {
    margin-right: 0;
    }
    .project-details-bar > h2 {
    font-size: 16px;
    margin: 0 0 15px;
    padding-bottom: 12px;
    }
    .info-items h3 {
    font-size: 14px;
    }
    .p_ryt_info span, .project-details-bar .info-items .p_ryt_info, .p_ryt_info  {
    font-size: 13px;
    }
      /*****************view files end* ****************/
    .approvedate.admin-del {
    margin-top: 10px;
    }
    .middle-tital .feedbk_data svg {
    width: 18px;
    height: 18px;
    margin-top: 5px;
    }
    .f_revw_feedback {
    margin-right: 0;
    margin-left: 5px;
    }
    .despeginate-box span {
        padding: 0 6px;
        font-size: 12px;
        line-height: 24px;
    }
    .despeginate-box a.despage {
    font-size: 14px;
    margin: 0;
    }
    .despeginate-box {
    display: flex;
    }
    .view_file_body {
    overflow-y: auto;
}
    .similar-prop .modal-dialog {
        display: block;
    }
    .flex-headers .middle-tital .sidebar-toggle, .flex-headers .middle-tital .zoom-btns{
        display: none;
    }
    .pro-ject-rightbar ul#comment-people {
        display: flex;
    }
    .edit_single_email_temp .modal-content1 form {
        clear: both;
    }

    .list-setting .dropdown-menu {
        right: 0
    }
    .flex-headers {
        padding: 5px 0 10px;
    }
    .billing_plan_view p.btn-x {
        float: left;
        padding-left: 15px;
        margin-bottom: 20px;
    }

    .white-boundries ul.nav.nav-tabs li {
        width: auto;
    }

    .tab-content>.active a.new-subuser {
        margin-top: -60px;
    }

    .white-boundries ul.nav.nav-tabs {
        display: block !important;
    }

    .nav-section .navbar-header a.custom-logo-link img {
        max-width: 80%;
    }

    .slick_thumbs .imgobxbins img {
        min-width: 60px;
        height: 100%;
    }
   .pro-ject-rightbar {
    margin: 20px 0 !important;
    max-height: 300px;
    position: relative;
    width: 100%;
    }
    .dot-comment div#myCarousel .carousel-inner .item {
        width: 100%;
        max-height: 100%;
        min-height: 100%;
    }

    .account-tab ul.nav.nav-tabs {
        display: none;
        padding: 10px;
    }

    .savecols-col.left a.back-link-xx0 img {
        margin-top: 6px;
    }

    .de-signdraft .flex-show-em1 {
        display: flex;
        justify-content: space-between;
    }

    .de-signdraft .flex-show-em1 .fulmoble {
        width: auto;
        padding: 0;
    }

    .flex-show-em1 .fulmoble+.fulmoble {
        margin-top: 0;
    }

    .pro-ject-wrapper.dot-comment {
        padding-left: 15px;    margin: 0;
        padding-right: 15px;
    }

    .account-tab {
        margin-top: 30px;
    }

    .tab-toggle {
        display: flex;
    }

    .con-b .plan_row .col-md-8 {
        width: 100%;
        float: left;
    }

    .con-b .plan_row .col-md-4 {
        width: 100%;
        float: left;
    }

    .con-b .plan_row .list-header-blog {
        margin-left: auto;
    }

    .con-b .project-row-qq2.chat_box {
        float: left;
        width: 100%;
    }

    .pro-ject-leftbar {
        margin-top: 30px;
        background: transparent;
        border: 0; position: static;
    }
    .slick_thumbs .list-unstyled.orbxbin-list li {
        float: left;    height: 80px;
    }
    .orb-xbin {
        padding: 0px 12px 0px 10px;
    }
    .user-area,
    .content-edition {
        margin: 20px 0;
    }

    h2.main-info-heading {
        font-size: 22px;
        margin-top: 20px;

    }

    .design-draft-header .srd-row.mobile {
        display: flex;
    }
}

@media (max-width: 600px) {
    .design-draft-header .srd-row.mobile .srd-col.right {
        margin-top: 10px;
        text-align: right;
    }

    .header-blog .brand_search select.chosen-select {
        float: right;
        border: 0;
        background: none;
        height: 33px;
        outline: none;
    }
}

@media (max-width:480px) {
    .mobile-visibles {
        font-size: 18px;
    }

    a.custom-logo-link {
        padding-left: 0;
    }
    ul.activities li.cap_activits {
            display: block;
    }
ul.activities li.cap_activits img {
display: none
}
ul.activities li.cap_activits span.activity_dt {
    display: block;
}
.designdraft-views .goup-x1 {
    width: 100%;
    margin: 10px 0;
}
    .box-setting ul#right_nav ul.list-unstyled.list-notificate li:first-child {
        width: 100%
    }
    .mobile-project-view.hidden- {
        margin-top: 10px;
        font-size: 14px;
    }
    .header-blog .list-unstyled.list-header-blog {
        display: inline-block;
        width: 100%;
    }

    .header-blog .list-unstyled.list-header-blog li {
        display: inline-block;
    }
    h2.main-info-heading {
        margin-top: 0;
    }
    .focusout-search-box .search-group .form-control {
        width: 100%;
    }
    ul#right_nav>li:last-child {
        display: inline-block;
    }
    .list-unstyled.list-setting.yes>li {
        display: inline-block !important;
    }

    ul#right_nav>li:last-child {
        display: inline-block !important;
    }

    .credit-card .credit-card__form .credit-card__expiry-month,
    .credit-card .credit-card__form .credit-card__expiry-year,
    .credit-card .credit-card__form .credit-card__cv-code {
        width: 55px !important;
    }

    ul#right_nav>li:nth-child(2) .dropdown-menu {
        left: auto;
        right: -88px;
        width: 300px;
        min-width: 300px;
    }
    li.dropdown.open .dropdown-toggle ~ .dropdown-backdrop {
        display: none;
    }
    ul#right_nav>li:nth-child(1) .dropdown-menu {
        left: auto;
        right: -113px;
        width: 300px;
        min-width: 300px;
    }
    .list-setting .dropdown-menu ul.list-unstyled.list-notificate .setnoti-fication p.ntifittext-z1 {
        width: 220px;
    }
    .list-setting .dropdown-menu ul.list-unstyled.list-notificate .setnoti-fication p.ntifittext-z2 {
        max-width: 220px;
    }
    .list-setting li.dropdown .dropdown-menu ul.list-unstyled.list-notificate {
        overflow-x: hidden;
    }
    ul#right_nav>li:nth-child(2) .dropdown-menu:before {
        left: 0;
        right: 0;
        margin: auto;
    }

    .currentPlan .plane-edt {
        align-items: center;
        flex-direction: column;
    }

    .currentPlan .plane-edt p {
        margin-bottom: 15px;
    }
    .notify-lines p {
        margin-bottom: 15px;
    }

    .content-edition .btn-here {
        margin-top: 0;
        text-align: center;
    }

    .content-edition .btn-here input {
        margin: 10px auto;
    }

    .change-sts-btn {
        display: block;
    }

    .change-sts-btn .srd-col.status_opt,
    .change-sts-btn .status_inf {
        width: auto;
    }

    .rheight-xt.d-progress {
        min-height: auto;
    }

    .edit-submt input::-webkit-input-placeholder,
    .edit-submt select::-webkit-input-placeholder,
    .edit-submt textarea::-webkit-input-placeholder {
        color: #a5a5a5;
    }

    .edit-submt input::-moz-placeholder,
    .edit-submt select::-moz-placeholder,
    .edit-submt textarea::-moz-placeholder {
        color: #a5a5a5;
    }

    .edit-submt input:-ms-input-placeholder,
    .edit-submt select:-ms-input-placeholder,
    .edit-submt textarea:-ms-input-placeholder {
        color: #a5a5a5;
    }

    .edit-submt input:-moz-placeholder,
    .edit-submt select:-moz-placeholder,
    .edit-submt textarea:-moz-placeholder {
        color: #a5a5a5;
    }

    div#no-more-tables .switch-custom-usersetting-check {
        transform: translateY(0) !important;
        font-size: 12px;
    }

    .white-boundries ul.nav.nav-tabs li {
        width: 100%;
    }

    .fo-rm-body .form-group.goup-x1 .cell-col {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .white-boundries .edit_single_email_temp {
        padding: 0 !important;
    }

    .modal-content1 .email_preview {
        width: 100%;
    }
}
.no_feedbk_cus{
    
    text-align: center;
    padding: 50px 0px;
}

/*********start time difference in main chat******/
.time-edit .editDelete {
    position: absolute;
    color: #d2d2d2;
    cursor: pointer;
    top: 100%;
    padding: 2px 4px;
    left: calc(100% + 2px);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.time-edit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    position: relative;
}

.msgk-user-chat {
    position: relative;
    min-height: 45px;
    padding-right: 14px;
}
.msgk-user-chat::after {
    content: '';
    clear: both;
    display: block;
}

.msgk-chatrow {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.msgk-user-chat.msgk-right:hover .editDelete{
    opacity: 1;
}
.msgk-umsgbox pre{
    white-space: normal;
}
.read-msg-box#message_container_without_cus{
    max-height: calc(100vh - 302px);
    overflow: auto;
    min-height: calc(100vh - 300px);
    width: 100%;
}
/*********end time difference in main chat******/

/**********chat module 1 - nov**************/
.msgk-user-chat.msgk-right .msgk-mn .msgk-umsgbox .msgk-umsxxt {
    max-width: 80%;
    //white-space: pre-wrap;
}
.msgk-user-chat.msgk-right .msgk-mn .msgk-umsgbox pre .msgk-umsxxt {
    white-space: pre-wrap;
}
.msgk-user-chat.msgk-right .msg_desc_0 span.msgk-umsxxt {
    padding-bottom: 0 !important;
}

.msgk-user-chat.msgk-right .msgk-mn .msgk-umsgbox pre {
    justify-content: flex-end;
}
.download-file img {
    max-width: 25px;
}
.msgk-umsgbox .doc-type-file img, .doc-type-zip img{
    width: 30px;
}
.file-name h4 b {
    letter-spacing: .5px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
span.file-ext {
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    color: #7b7b7b;
    font-size: 12px;
    letter-spacing: 1px;
    width: auto; 
}
.chatbox-add .fev_copy_msg svg {
    width: 17px;
    vertical-align: middle;
}
.chatbox-add .fev_copy_msg > * {
    margin: 0 0 0 10px;
}
.chat-box-row .two-can {
    padding-bottom: 50px;
}
.msgk-umsgbox .contain-info {
    border-radius: 5px;
    overflow: hidden;
}
.chat-box-row .date_print {
    max-width: 100%;
    margin: 10px auto 10px;
    padding: 0;
}
.gz-sidebar .chat-box-row span.msgk-udate {
    display: block;
    text-align: center;
    margin: 0px auto;
    font-size: 12px;
    color: #9c9c9c;
    background: transparent;
    box-shadow: none;
    padding: 0;
}
/*********11-nov***********/
.file-name a.open-file-chat {
    flex: 0 0 85%;
    max-width: 85%;
}

.file-name .download-file {
    flex: 0 0 15%;
    max-width: 15%;
    text-align: right;
}
.file-name a.open-file-chat h4 b {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: inline-block;
}
.download-file svg {
    width: 25px;
    fill: #517082;
}
.file-name {
    flex: 0 0 70%;
    width: 70%;
    margin-top: -5px;
}
.msgk-mn .msgk-umsgbox, .msgk-user-chat.msgk-right .msgk-mn .msgk-umsgbox .msgk-umsxxt {
    width: 100%;
}
.read-msg-box .contain-info .file-name {
    padding: 0;
    margin-top: -6px;
}
.download-file {
    display: flex;
    align-items: center;
    clear: both;
    padding: 0 10px;
}
.download-file > a {
    text-align: right;
    flex: 0 0 30%;
}
.message-text {
    padding: 10px;
}
.only_file_class > a.open-file-chat {
    padding: 10px 10px 0;
    display: inline-block;
    width: 100%;
}
.send-attech {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.send-attech label {
    margin-right: 10px;
    opacity: 0.6;
    font-size: 18px;
}
/*********11-nov***********/
/**********chat module 1 - nov end**************/ 
#upgradefortynineplan .custom-modal {
    max-width: 980px;
}
#upgradefortynineplan .price-sign-up {
    margin-top: 0;
}
#upgradefortynineplan .p-benifite ul li p {
    line-height: 26px;
}
#upgradefortynineplan .billing_plan .flex-grid .price-card .chooseplan .p-benifite {
    min-height: 258px;
}
/********cstm-tooltip********/
.ui-tooltip.ui-widget {
    z-index:99999;
    background:#000;
    border:none;   
    padding:0;
    font-size:14px; 
    text-align: center;
    color:#fff;

}
.ui-tooltip.ui-widget .ui-tooltip-content{
    display:inline-block;
    position:relative;
    padding:2px 6px;
    width:auto;
    border-radius:0;
    transform:rotate(0);
}
.ui-tooltip.ui-widget .ui-tooltip-content::before{
    top:-10px;
    content: "";
    transform:rotate(0);
    border-radius:0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #000;
    margin:auto;
    z-index:9999999;
    display:inline-block;
    width:12px;
        position:absolute;
}
/********cstm-tooltip********/
.cstm-list-info .p_ryt_info.Extra-questions {
    max-width: 100%;
    flex: 0 0 100%;
}
.cstm-list-info .p_ryt_info.Extra-questions .form-group {
    border-bottom: 1px solid #ccc;
    border-radius: 2px;
    margin: 0 0 15px;
    padding-bottom: 10px;
    display: flex;
}
.cstm-list-info .p_ryt_info.Extra-questions .form-group label {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    flex: 0 0 35%;
    max-width: 35%;
}
.design_preview {
    position: relative;
}

.cstm-list-info .p_ryt_info.Extra-questions .d_descrptn{
    display: block;
}

.cstm-list-info .p_ryt_info.Extra-questions .d_descrptn .review-textcolww {
    max-width: 100% !important;
    max-height: 140px;
    overflow-y: auto;
}
.cstm-list-info .p_ryt_info.Extra-questions .form-group .review-textcolww {
    flex: 0 0 65%;
    max-width: 65%;
    font-weight: normal;
    font-size: 14px;
}
.p_ryt_info span {
    font-size: 14px;
}
.project-details-bar .d_descrptn .p_ryt_info {
    max-height: 150px;
    overflow-y: auto;
}
/**********new-color select end*********/
.cmmbx-col .msgk-umsxxt .contain-info {
    border-radius: 5px;
    overflow: hidden;
}
.new-patrn .all-sub-outer .cmmbx-col .msgk-umsxxt {
    background-color: #f2f6f9;
    color: #000;
    font-size: 12px;
    line-height: 21px;
    border-radius: 0 6px 6px;
    word-break: break-word;
}
.fancybox-container .fancybox-content {
    max-width: 70%;
    margin: 65px 0 30px;
}
.review-textcolww br {
    display: none;
}
.review-textcolww span.color_theme {
    margin-left: 12px;
    background: transparent;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    font-size: 13px;
}

.color-colmn .form-radion label.form-group {
    margin-left: 0;
    width: 100%;
}
.choose-color-option label.form-group {
    margin-bottom: 30px !important;
}