@charset "UTF-8";
/*
  Theme Name: eStartup
  Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
  */
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {    font-family: 'Montserrat', sans-serif;
background-color: #fff;
color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
img
{
  max-width: 100%;
}

h2 {
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

h4 {
  color: #000;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: 2;
}

h5 {
  color: #626262;
  font-size: 14px;
  font-weight: 500;
}

a {
  letter-spacing: 0px;
  text-decoration: none;
}

ul {
  letter-spacing: 1px;
}

li {
  color: #626262;
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 0px;
  line-height: 30px;
  text-transform: capitalize;
}

p {
  color: #7d7d7d;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 20px;
}

span {
  letter-spacing: 1px;
}

.img-fluid {
 /* height: 60px;
  margin-bottom: 30px;
  width: 60px;*/
}
.career p
{

  text-align: center;
  color: #959595;

}
.container-full {
  padding-left: 0;
  padding-right: 0;
}

.btn {
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 15px 40px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.fa {
  font-size: 13px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #71c55d;
  line-height: 1;
  color: #fff;
  padding: 7px 12px 13px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: #71c55d;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #55b03f;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: relative !important;
  left: 0;
  top: 0;
  right: 0;
  height: 92px;
  padding-top: 19px;
  z-index: 3;
  transition: all 0.5s ease;
}
/* 
#header #logo {
  padding: 0 0 0 20px;
  } */

  #header #logo h1 {
    color: #505050;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
  }

  #header #logo h1 a {
    color: #555;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
  }

  #header #logo h1 a span {
    color: #71c55d;
  }

  #header #logo img {
    padding: 0;
    margin: 0;
  }

  .scroll-header {
    background: #fff;
    /*box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);*/
  }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 820px;
  background: url(../img/banner-bg.jpg) bottom no-repeat;
  background-size: 100%;
  position: relative;
  margin-top: -100px;
}





@media (min-width: 1025px) {
  #hero {
    background-position: 0px 70%;
  }
}

#hero .hero-container {
  /* position: absolute; */
  /* bottom: 0; */
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  /* margin-top: 600px; */
  position: relative;
  padding-top: 90px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  font-family: 'Montserrat', sans-serif;
  color: #253858;
}
#hero h2.simple-flat {
  margin: 0 0 10px 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 56px;
  font-family: 'Montserrat', sans-serif;
  /*color: #e82f4d;*/
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 34px;
    line-height: 46px;
  }
  #hero h2.simple-flat{
    font-size: 32px;
    line-height: 40px;
  }
}

#hero h2 {
  color: #253858;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero img {
  max-width: 95%;
  margin-bottom: 30px;
}

#hero .btn-get-started {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 11px 36px;
  border-radius: 50px;
  transition: 0.5s;
  margin-bottom: 30px;
  background: #e8304d;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 5px 6px 3px 0px #F4E1E5;
}
#hero .btn-get-started:hover {
  color: #fff;
  background-image: linear-gradient(to right, #D64151, #D64151, #D64151, #e2666e, #e67178);
  box-shadow: 0px 15px 18px 0px #EBEBEB;
}
.navbar-right a.button:hover, section.riskfree-sec a.button:hover{
  color: #fff;
  background-image: linear-gradient(to right, #D64151, #D64151, #D64151, #e2666e, #e67178);
  box-shadow: 0px 15px 18px 0px #EBEBEB;
  transition: 0.6s;
}

#hero .btn-get-started:hover {
  background: #e8304d;
  color: #fff;
}

#hero .btns a {
  color: #e8304d;
  font-size: 20px;
  font-weight: 500;
  margin: 4px 20px;
  text-decoration: none;
  transition: 0.3s;
}

@media (max-width: 575px) {
  #hero .btns a {
    margin: 4px 8px;
    background: rgba(255, 255, 255, 0.82);
    padding: 10px;
    font-size: 15px;
  }
}

#hero .btns a:hover {
  color: #e8304d;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  margin-top: 1px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: left;
  margin: 0 0 0 50px;
}

.navbar-right a {
  color: #214a80;

}

.navbar-right li {
  list-style: none;
  padding: 0 30px 0 0;    font-size: 14px;
  color: #214a80;
}

.navbar-right1 a {
  color: #2A4A7C !important;
  letter-spacing: 0px !important;
}

.navbar-right a span {
  color: #e8304d;
}

.navbar-right ul {
  float: right;
  display: flex;
  flex-direction: row;
  margin: 19px 0;
}

.footer5 li {
  list-style: none;
  padding: 0 20px 0 0;
  float: left;
}

.footer5 a {
  color: #2A4A7C;    transition: 0.6s;
  letter-spacing: 0px !important;
}
.footer5 a:hover {
  color: #e82e4c;
  transform: rotate(360deg) scale(1.2);
  transition: 0.6s;    display: block;
}
.signin-form .button {
  background-color: #e8304d;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 8px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
}
.button {
  background-color: #e8304d;
  border: none;
  border-radius: 50px;
  color: white!important;
  padding: 8px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: -5px 0;
  cursor: pointer;    text-decoration: none !important;
}

.button1 {
  background-color: #ffffff;
  color: #E83833;
  padding: 10px 40px;
  font-size: 1em;
  font-weight: 700;
  margin-top: 10px;
}

.button2 {
  background-color: #ffffff;
  border: 1px solid #e8304d;
  color: #E83833;
  padding: 8px 45px;
  font-weight: 700;
  width: 100%;
  margin: 0 0 10px;
}

.nopadding {
  padding-right: 0 !important;
  padding-left: 0 !important;
  overflow: hidden;
}
.left_padding{
  padding-left: 50px;
}
.right_padding{
  padding-right: 50px;
}
section.nopadding1 {
  margin: 130px 0 130px 0;
}

.nopadding1 h2 {
  color: #848D98;
  padding: 50px 0 60px 0px;;
}

.nopadding1 p {
  color: #959595;
  font-size: 25px;
  font-weight: 100;
  line-height: 1.3;
}
#simply h2{
  font-weight: 100;
}
#simply .communication{
  font-weight: 800;
  color: #828d99;
}
#simply .send{
  font-weight: 800;
}
.nopadding1 span {
  color: #E83833;
  font-weight: 500;
  font-size: 32px;
}

.nopadding1 .sw_p {
  color: #304A78;
}

.try_graphics {
  background: url(../img/bg-blue.png) no-repeat;
  background-size: 100%;
  position: relative;
  padding: 148px 90px;
  background-position: center bottom;
  background-color: #214A80;
}
.affiliate_try_graphics {
  background: #214A80;
  background-size: 100%;
  position: relative;
  padding: 148px 90px;
}
.affiliate_try_graphics h2
{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 600;
}
.affiliate_try_graphics p {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.try_graphics h2 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 600;
}

.try_graphics p {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

@media (max-width: 1024px) {
  #nav-menu-container {
    /*display: none;*/
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 20px 16px 10px;
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  letter-spacing: 0;
  transition: 0.3s;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a, .nav-menu li.active a {
  color: #e8304d;border-radius: 4px;
  border-bottom: 4px solid #e8304d;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 14px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #71c55d;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 30px 20px 0 0;
  border: 0px;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #555;
  font-size: 24px;
}

@media (max-width: 1024px) {
  #mobile-nav-toggle {
    border: none;
    margin-top: 25px;
    margin-right: 20px;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  padding: 6px 22px 6px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  letter-spacing: 0;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #71c55d;
}

#mobile-nav ul .menu-item-active {
  color: #71c55d;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle i {
  color: #fff;
}
.mh-mh
{
  max-height: 468px;
  min-height: 468px;
}

.feature-left-text {
  padding-left: 175px;
}

.feature-right-text {
  padding-left: 175px;
}

#news-page p {
  color: #808080;
}

#portfolio-page .col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
}

#index_page .section-title h2 {
  color: #828d99;
}

#index_page .section-title p {
  color: #828d99;
  font-size: 19px;
}

#index_page .padd-section {
  padding-top: 50px;
  color: #828d99 !important;
  padding-bottom: 0px !important;
}

#index_page .padd-section p {
  font-size: 20px;
  font-weight: 600;
}

#get-started .how-it h2 {
  color: #253858;
}

#get-started .how-it p {
  color: #204579;
  font-size: 17px;
  font-weight: 400;
}

.work-flow {
  background-color: #F2F4F7;
  margin: 0 auto;
  padding: 30px;
  width: 130px;
  border-radius: 50%;
}

#our-values {
  background: url('../img/landing-page-section-bg.png') center center;
  padding-bottom: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 100px;
}

#our-values h4 {
  padding: 20px 0 10px;
  color: #214a80;
  font-weight: 100;
}

#our-values .button {
  font-weight: 600;
  margin: 30px 0 60px;
  padding: 14px 50px;
}

#portfolio-page #hero_section {
  margin-top: 0px !important;
}

#pricing li > h4 {
  font-weight: 600;
  color: #626262;
}

#pricing li {
  color: #626262;
}

#pricing .list-unstyled li:nth-child(2), #pricing .list-unstyled li:nth-child(3),
#pricing .list-unstyled li:nth-child(4), #pricing .list-unstyled li:nth-child(5), 
#pricing .list-unstyled li:nth-child(6) {
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
	.recommend_section h2 {
    font-size: 24px;
  }
  .single-blog-cont p span {
    color: #444;
    font-size: 14px;
  }
  body#single-blog-page #hero_section h2 {
    font-size: 26px;
  }
  div#image-gallery .modal-dialog {
    top: 0;
    bottom: 0;
    right: 20px;
    left: 20px;
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center;
  }
  .col-md-6.text-center.post-box {
    min-height: auto !important;
    max-height: 100% !important;
  }
  .modal-backdrop.show {
    opacity: 1;
  }
  section#contact .form h2 {
    font-size: 28px;
    margin-top: 20px;
  }
  .section-title h2 {
    font-size: 28px;
  }
  section#problems-solve h5 {
    margin-bottom: 30px;
  }
  section#team {
    padding-top: 0;
  }
  section.nopadding .row.mh-mh img {
    height: 100% !important;
  }
  #mobile-nav-toggle {
    border: none;
    margin-top: 25px;
    margin-right: 20px;
    display: block !important;
  } 
  .feature-left-text, .feature-right-text {
    padding: 15px;
  }
  .mobilehidden
  {
    display: none;
  }
  .mtmobile
  {
    margin-top: 20px;
  }

  .post-box2 {
    margin-top: 50px;
  }

  #testimonials .testimonials-content {
    padding: 30px 10px !important;
  }

  #testimonials .test_heading p {
    width: 100%;
  }

  .order2 {
    order: 2;
  }

  #index_page .section-title h2 {
    font-size: 28px;
  }

  #index_page .section-title p {
    color: #828d99;
    font-size: 11px;
  }

  #get-started .how-it h2 {
    font-size: 28px;
  }



  #hero {
    height: calc(75vh - 100px);
    margin-top: 0px;
  }

  #index_page .padd-section p {
    font-size: 20px;
  }

  .new-homes, .accurate, .communication {
    padding: 0px;
  }

  .mh-mh
  {
    max-height: 100%;
    min-height: 100%;
  } 

  .benefit-wrap
  {
    border:none !important;
  }
  .values-wrap, .benefit-wrap
  {
    border:none !important;
    padding: 10px !important;
  }
  .try_graphics
  {
    padding: 43px 60px;
    background-position: center bottom;
    background-color: #214A80;
  }

  .affiliate_try_graphics {
    padding: 43px 60px;
    background-position: center bottom;
    background-color: #214A80;
  }
}
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.padd-section {
  padding-bottom: 30px;
  padding-top: 30px;
}

@media (max-width: 992px) {
	#signin {
    padding: 110px 0px 0 !important;
  }
  #signup-page #header {
    background: #F3F3F3;
    position: relative !important;
    box-shadow: none;
    border: 0;
  }
  .padd-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #nav-menu-container {
    margin: 0;
    width: 97%;
  }
}

.section-title {
 /* margin-bottom: 60px;*/
}

.section-title p {
  color: #353535;
  font-size: 11px;
  letter-spacing: 0px;
}

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 40px;
  }
}

.section-title h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-title .separator {
  margin: 0;
}

.separator {
  color: #626262;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}

/* Get Started Section
--------------------------------*/
#get-started {
  display: inline-block;
  height: 100%;   
  width: 100%;
}

#get-started .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  transition: all 0.5s ease-in-out 0s;
}

@media (max-width: 991px) {
  #get-started .feature-block {
    margin-bottom: 30px;
  }
}

#get-started .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#get-started .feature-block h4 {
  margin-bottom: 20px;
}

#get-started .feature-block p {
  margin-bottom: 20px;
}

#get-started .feature-block a {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}

#get-started .feature-block a:hover {
  color: #71c55d;
}

/* About Us Section
--------------------------------*/
#about-us img {
  max-width: 100%;
}

#about-us .about-content {
  padding-top: 60px;
}

#about-us .about-content h2 {
  color: #252525;
  font-family: 'Montserrat', sans-serif;
  font-size: 39px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

#about-us .about-content span {
  font-weight: 700;
  padding-right: 10px;
  text-transform: uppercase;
}

#about-us .about-content ul li {
  line-height: 36px;
}

#about-us .about-content ul li .fa {
  padding-right: 20px;
}

/* Features Section
--------------------------------*/
#features {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#features .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block h4 {
  margin-bottom: 20px;
}

#features .feature-block p {
  margin-bottom: 0;
}

/* Screenshots Section
--------------------------------*/
.owl-dot.active > span {
  height: 10px !important;
  width: 10px !important;
}

.owl-theme .owl-dots .owl-dot span {
  height: 10px !important;
  width: 10px !important;
}

.owl-item img {
  cursor: pointer;
}

.owl-stage-outer {
  margin-bottom: 30px;
}

.owl-theme .owl-nav {
  display: none;
  margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #71c55d;
}

.owl-theme .owl-dots .owl-dot span {
  background: #ddd;
}

/* Video Section
--------------------------------*/
#video {
  background: url(../img/video-bg.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  overflow: hidden;
}

#video .overlay {
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
}

#video .overlay .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#71c55d 50%, rgba(113, 197, 93, 0.15) 52%);
  border-radius: 50%;
  display: block;
  margin: 153px auto 0;
  position: relative;
  overflow: hidden;
}

#video .overlay .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#video .overlay .play-btn:before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

#video .overlay .play-btn:hover::after {
  border-left: 15px solid #71c55d;
  -webkit-transform: scale(20);
  transform: scale(20);
}

#video .overlay .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes pulsate2 {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

/* Team Section
--------------------------------*/
#team .team-block {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  height: 254px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media (max-width: 991px) {
  #team .team-block {
    margin-bottom: 30px;
  }
}

#team .team-block img {
  width: 100%;
}

#team .team-block .team-content {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  bottom: -147px;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
}

#team .team-block .team-content ul {
  display: block;
  width: 100%;
}

#team .team-block .team-content ul li {
  display: inline-block;
}

#team .team-block .team-content ul li a {
  color: #626262;
}

#team .team-block .team-content ul li a .fa {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

#team .team-block .team-content ul li a .fa:hover {
  color: #71c55d;
}

#team .team-block .team-content ul > span {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#team .team-block:hover .team-content {
  bottom: 0px;
  transition: all 0.5s ease-in-out 0s;
}

/* Testimonials Section
--------------------------------*/
#testimonials .testimonials-content {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  padding: 50px 50px;
}

/*#testimonials .testimonials-content::before {
  color: #71c55d;
  content: "";
  display: inline-block;
  font: 70px/1 FontAwesome;
  position: absolute;
  right: 43px;
  text-align: left;
  top: -29px;
  }*/

  #testimonials .top-top > h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #7F7F7F;
  }

  #testimonials .top-top > p {
    font-size: 15px;
  }

  #testimonials .top-top .description {
    padding: 10px 60px 0 60px;
  }

  #testimonials {
    padding-top: 70px;
    padding-bottom: 40px;
    background: url(../img/testimonial-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #testimonials .test_heading h2 {
    color: #2a4a7c;
  }

  #testimonials .test_heading p {
    color: #2a4a7c;
    text-align: center;
    width: 52%;
    padding-bottom: 30px;
  }

  #index_page .top-top img {
    margin-bottom: 40px;
  }

  #index_page .top-top h4 {
    line-height: 1;
  }

  #testimonials .btm-btm ul li {
    float: left;
    margin-left: 13px;
    border-radius: 50%;
    margin-right: 13px;
    background: #ddd none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: block;
    height: 10px;
    width: 10px;
  }

  #testimonials .btm-btm .active {
    background: #71c55d;
  }

  .carousel-indicators {
    position: relative;
    bottom: 0;
    left: 0;
    bottom: 0 !important;
    z-index: 15;
    width: auto;
    padding-left: 0;
    margin: 30px auto 0 auto;
    margin-right: auto;
    text-align: center;
    list-style: none;
    margin-bottom: 0;
    display: inline-block;
  }

  .carousel-indicators li {
    margin: 0;
  }

/* Pricing Table Section
--------------------------------*/
#pricing .block-pricing {
  background: #fff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0px 4px 15px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  position: relative;
  width: 100%;
  border-radius: 6px;
}

.block-pricing1 {
  margin-top: -15px;
  padding-top: 17px;
}

@media (max-width: 991px) {
  #pricing .block-pricing {
    margin-bottom: 30px;
  }
}

#pricing .block-pricing .table {
  margin-bottom: 0;
  padding: 30px;
  max-width: 100%;
  width: 100%;
}

#pricing .block-pricing .table h4 {
  padding-bottom: 10px;
  font-size: 16px;
}

#pricing .block-pricing h2 {
  margin-bottom: 30px;
}

#pricing .block-pricing ul {
  list-style: outside none none;
  margin: 10px auto;
  max-width: 240px;
  padding: 0;
}

#pricing .block-pricing ul li {
  padding: 0px 0;
  text-align: left;
}

#pricing .block-pricing ul li b {
  color: #3c4857;
}

#pricing .block-pricing .table .table_btn a {
  background: #71c55d;
  color: #fff;
  margin: 0;
  display: inline-block;
}

#pricing .block-pricing .table .table_btn a:hover {
  background: #55b03f;
}

#pricing .block-pricing .table .table_btn a .fa {
  font-size: 13px;
  margin-right: 5px;
}

/* Blog Section
--------------------------------*/
@media (max-width: 991px) {
  #blog .block-blog {
    margin-bottom: 30px;
  }
}

#blog .block-blog img {
  width: 100%;
}

#blog .block-blog .content-blog {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  min-height: 125px;
  padding: 20px 10px;
  width: 100%;
}

#blog .block-blog .content-blog h4 {
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 16px;
}

#blog .block-blog .content-blog h4 a {
  color: #555;
  text-decoration: none;
  transition: 0.3s;
}

#blog .block-blog .content-blog h4 a:hover {
  color: #71c55d;
}

#blog .block-blog .content-blog > span {
  float: left;
  font-size: 12px;
}

#blog .block-blog .content-blog a.readmore {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0;
  text-transform: capitalize;
}

#blog .block-blog .content-blog a.readmore:hover {
  color: #71c55d;
}

/* Newsletter Section
--------------------------------*/
#newsletter {
  background: transparent url(../img/newsletter-bg.jpg) no-repeat center top fixed;
  background-size: cover;
}

#newsletter .overlay {
  background: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.2) 95%);
  height: 100%;
  width: 100%;
}

#newsletter .form-control {
  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 0;
  color: #888;
  font-size: 11px;
  font-weight: 600;
  height: 50px;
  text-align: center;
  width: 70%;
  background: #fff;
}

@media (max-width: 575px) {
  #newsletter .form-control {
    margin-bottom: 30px;
    width: 100%;
  }
}

#newsletter .form-control:focus {
  border-color: #71c55d;
  box-shadow: none;
  outline: 0 none;
}

#newsletter .btn {
  background: #71c55d;
  border: 0;
  border-radius: 0;
  height: 50px;
  width: 30%;
  transition: 0.3s;
}

@media (max-width: 575px) {
  #newsletter .btn {
    width: 100%;
  }
}

#newsletter .btn:hover {
  background: #55b03f;
}

#newsletter .btn .fa {
  padding-right: 10px;
}

#newsletter ul {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 0;
}

#newsletter ul li {
  background: #71c55d;
  border-radius: 50px;
  float: left;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  width: 35px;
  transition: 0.3s;
}

#newsletter ul li:hover {
  background: #55b03f;
}

#newsletter ul li .fa {
  color: #fff;
}

/* Contact Section
--------------------------------*/
#contact {
  background: #fff;
}

#contact .info {
  color: #222;
}

#contact .info i {
  font-size: 32px;
  color: #71c55d;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}

#contact .info .email p {
  padding-top: 5px;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #71c55d;
  color: #fff;
  line-height: 1;
  padding: 6px 0 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#contact .social-links a:hover {
  background: #55b03f;
  color: #fff;
}

#contact .form #sendmessage {
  color: #71c55d;
  border: 1px solid #71c55d;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  box-shadow: none;
}

#contact .form button[type="submit"] {
  background: #71c55d;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
  background: #92d283;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background-size: 95%;
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
}
.footer::after {
  content: "";
  display: block;
  background: url(../img/before-triangle.png);
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: -15px;
  background-size: 85%;
  background-repeat: no-repeat;
}
.footer::before {
  content: "";
  display: block;
  background: url(../img/after-triangle.png);
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 50px;
  background-size: 84%;
  background-repeat: no-repeat;
}
ul.footer5 {
  padding: 0;
  margin-top: 24px;
}
.footer .footer-logo .navbar-brand {
  color: #2a4a7c;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
  height: 100%;
  padding-left: 0;
  padding-top: 0;    pointer-events: none;
  font-style: italic;
}

.footer .footer-logo p {
  color: #2a4a7c;
  font-size: 12px;
  letter-spacing: 1px;
}

.footer .list-menu > h4 {
  color: #fff;
  padding-bottom: 20px;
}
.footer-logo p a {
  color: #2a4a7c;
  padding-left: 5px;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 15px;
}
.footer-logo p span {
  transform: rotate(130deg);
  display: inline-block;
  font-size: 15px;
}
.footer .list-menu ul li a {
  color: #2a4a7c;
  padding-left: 5px;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.footer .copyrights {
  background: #fff;
  margin-top: 50px;
  text-align: center;
  padding: 25px;
}

.footer .copyrights p, .footer .copyrights .credits {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
}

.footer .copyrights p a, .footer .copyrights .credits a {
  letter-spacing: 0;
  color: #71c55d;
}
.carousel-arrow
{
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #e8304d;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.arrow-right 
{
  right:0;
  left: auto;
}
#signin
{
  padding: 50px 0px;
}
.signin-form
{
  width: 400px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 0px 19px 0px #ccc;
  padding: 50px 20px;
  max-width: 100%;
}
.form-signin-group{position:relative;}
.form-signin-group i{
  position: absolute;
  top: 12px;
  left: 25px;
  color: #A0A0A0;
}
.col_2 .form-group i{left:24px;}
.form-signin-group input {
  padding-left: 30px;
  margin-bottom: 10px;
}
.form-signin-group a {
  border-bottom: 1px solid #E8304D;
  font-size: 14px;
  color: #E8304D;
}
.form-signin-group label
{
  font-family: 'Montserrat';
  color: #A5A5A5;
  font-weight: 600;
  font-size: 12px;
}
#signin-page {
  background-color: #fff;
  background-image: url(../img/signup-bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
/*BLOG PAGE BOX CSS*/
.post-box .post-box-cat {
  font-size: 10px;
  letter-spacing: 3px;
  padding-top: 15px;
  margin-bottom: 10px;
}

.post-box .post-box-title {
  color: #e8304d;
  font-size: 19px;
  margin-bottom: 8px;
}

.post-box .post-box-meta {
  font-size: 10px;
  letter-spacing: 3px;
}

.post-box .post-box-excerpt {
  color: #979595;max-height: 100px;
  overflow: hidden;
}

.post-box .post-box-button {
  border: 2px solid #ECECEC;
  color: #606060;
  padding: 12px 14px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;    background: #fff;
}
.portfolio_items_ h4
{
  margin-top: -65px;
  color: #fff;
  margin-left: 15px;
  z-index: 99;
  position: relative;
}
.portfolio_items_ p
{
  color: #fff;
  margin-left: 15px;
  margin-bottom: 14px;
  z-index: 99;
  position: relative;
}
#portfolio-page #hero_section .container
{
  max-width: 1000px;
}

#portfolio-page .portfolio_items_ .container
{
  max-width: 1000px;

}
.portfolio-overlay
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ED5971;
  z-index: 9;
}
.portfolio_items_ .content:hover .portfolio-overlay {
  opacity: 0.8;
}
.content {
  position: relative;
  display: inline-block;
}

#index_page .footer-top-sec {
  background: url(../img/bg-blue.png) no-repeat;
  background-size: 100%;
  position: relative;
  padding: 148px 90px;
  background-position: center bottom;
  background-color: #214A80;
}
.post-box
{
  float: left;
}
.post-box1 {
  margin-top: 50px;
}
.blog-list
{
  background: url(../img/blog-bg.png) no-repeat;
  background-size: 100%;
  background-position: 0px 87px;

}
#how-it-work #hero_section
{
  padding-top: 70px;
  margin-bottom: 20px;
  background: url(../img/howitwork-hero-bg.png) no-repeat;
  background-position: center top;
  background-size: 100%;
  margin-top: 0px !important;

}
#design-for-everyone
{
  padding-top: 50px 0px;
}
.dfe
{float: left;
  background: #E8304D;
  border-radius: 50%;
  padding: 15px;
  color: #fff;
  font-size: 25px;
  width: 60px;
  text-align: center;
}
#step1
{
  padding: 50px 0px;
}
.one-two
{
  margin-top: -105px;
  z-index: 0;
  position: relative;
  margin-bottom: -30px;
}
.two-three
{
  margin-top: -108px;
  z-index: 0;
  position: relative;
  margin-bottom: -100px;
}
.three-four
{
  margin-top: -70px;
  z-index: 0;
  position: relative;
  margin-bottom: -100px;
}





  /***************************************
          PK style
          ***************************************/

          .navbar-right i.fas.fa-phone {
            transform: rotate(-270deg);
            color: #e8304d;
            font-size: 16px;    margin-right: 4px;
          }
          .navbar-right a.button {
            font-size: 15px;
            font-weight: bold;
          }
          button.menu-toggle {
            display: none; 
            background: transparent;
            border: 0;    float: right;
            transform: rotate(-180deg);
          }
          header  button span {
            width: 35px;
            height: 3px;
            margin: 8px 0;
            background-color: #e8304d;
            display: block;
            transition: .5s all linear; }
            header  button span:nth-child(1) {
              width: 100%;
              max-width: 27px;
              animation-name: toggle;
              animation-duration: 1.2s;
              animation-iteration-count: infinite;
              animation-direction: alternate-reverse;
              animation-play-state: running;
              transition: .2s all linear;
              animation-timing-function: linear; }
              header button span:nth-child(2) {
                width: 100%;
                max-width: 43px;
                animation-name: toggle;
                animation-duration: 1.2s;
                animation-iteration-count: infinite;
                animation-direction: alternate-reverse;
                animation-delay: .3s;
                transition: .2s all linear;
                animation-play-state: running;
                animation-timing-function: linear; }
                header button span:nth-child(3) {
                  width: 100%;
                  max-width: 35px;
                  animation-name: toggle;
                  animation-duration: 1.2s;
                  animation-iteration-count: infinite;
                  animation-direction: alternate-reverse;
                  animation-delay: .6s;
                  transition: .2s all linear;
                  animation-play-state: running;
                  animation-timing-function: linear; }
                  header button:hover span {
                    animation-iteration-count: 1;
                    transition: .4s all linear; }
/*@keyframes toggle {
0% {
width: 0px;
transition: .5s all linear; }
100% {
width: 35px;
transition: .5s all linear; } }
*/
ul.all-logo {
  display: inline-flex;
  list-style: none;    width: 100%;    vertical-align: middle;
  align-items: center;
  padding: 0;justify-content: space-between;
}
#get-started .trusted-by p {
  font-size: 16px;
  color: #253858;
  font-weight: bold;
}
.section-title.how-it {
  background: #f4f7f9;
  color: #253858;position: relative;
  padding: 40px 0;
}
.owl-carousel .feature-here img {
  max-width: 100%;
  width: auto;
  margin:30px auto;
}
.feature-here h3 {
  font-size: 18px;    font-weight: bold;
  margin-bottom: 35px;
}
.secondSlider .feature-here {
  background: #fff;
  padding:50px 20px 40px;
  position: relative;
  box-shadow: inset 6px 0px 5px 0px rgba(0, 0, 0, 0.03);
  min-height: 315px;
}
#get-started .feature-here p {
  font-size: 13px;
  line-height: 20px;
}
.secondSlider {
  max-width: 1170px;    border-radius: 12px;
  overflow: hidden;  
  margin: auto;box-shadow: 0 0 10px rgba(0, 0, 0, 0.12941176470588);  margin-top: 40px;
}
.secondSlider .owl-stage-outer {
  margin-bottom: 0;
}
.secondSlider  .owl-item.active .feature-here::after{content: ""; background: url(../img/slide-arrow.png);
display: block;width: 40px;
height: 40px;
right: -20px;
position: absolute;
top: 40%;
z-index: 9999;
background-repeat: no-repeat;}

div#decstop .feature-here::after{content: ""; background: url(../img/slide-arrow.png);
display: block;width: 40px;
height: 40px;
right: -20px;
position: absolute;
top: 40%;
z-index: 9999;
background-repeat: no-repeat;}


.secondSlider .owl-wrapper, .secondSlider .owl-item {
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: none;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.secondSlider.owl-carousel::after{content: ""; background:#fff;
display: block;width: 40px;
height: 40px;
right: -20px;
position: absolute;
top: 40%;
z-index: 9999;
background-repeat: no-repeat;}
div#decstop .item:last-child::after{content: ""; background:#fff;
display: block;width: 40px;
height: 40px;
right: -20px;
position: absolute;
top: 40%;
z-index: 9999;
background-repeat: no-repeat;}
div#decstop .item {
  float: left;
  width: 25%;position: relative;
}
div#mobile {
  display: none;
}
.blue-theme-btn {width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  display: block;
  background: #253858;
  color: #fff;
  border-radius: 30px;
  max-width: 255px;
  margin: 50px auto;
  text-transform: uppercase;
  transition: 0.56s;
  text-decoration: none; 
}
.blue-theme-btn:hover {
  color: #fff;
  background-image: linear-gradient(to right, #253858, #3a5482, #405f92, #5270a5, #5776ad);
  box-shadow: 0px 15px 18px 0px #EBEBEB;text-decoration: none;
  transition: 0.6s;
}
.section-title.how-it::before{content: ""; display: block; background: url(../img/before-triangle.png)
;    width: 50px;
height: 50px;
position: absolute;
left: 40px;
top: 40px;
background-size: 84%;
background-repeat: no-repeat;}
.section-title.how-it::after{content: ""; display: block; background: url(../img/after-triangle.png)
;width: 60px; height: 60px;    position: absolute;
right: 70px;
top: 40PX;
background-size: 84%;
background-repeat: no-repeat;}
.full-space {
  position: relative;
}
.full-space::before{content: ""; display: block; background:#214a80;    width: 20px;
height: 20px;
position: absolute;
left: 40px;    border-radius: 100%;
top: 40px;}
.full-space::after{content: ""; display: block; background:#e62243;    width: 20px;
height: 20px;
position: absolute;
right: 40px;    border-radius: 100%;
top: 40px;}
ul.feature-sec {margin-top: 50px;
  list-style-type: none;
}
ul.feature-sec li {
  width: 50%;
  display: inline-flex;    float: left;
  align-items: center;
  margin-bottom: 30px;
}
ul.feature-sec li .icon {
  background: #fff;
  border-radius: 100%;
  padding: 20px;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
  display: inline-block;
}
h2.stander-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  color: #253858;
}
section.top-feature {
  padding: 80px 0 40px;    position: relative;
}
p.sub-heading {
  font-size: 17px;
  color: #253858;
  line-height: 30px;
  margin:20px 0 30px;
}
section.top-feature p.sub-heading {
  max-width: 410px;
  margin: auto;
}
section.portfolio-sec p.sub-heading, section.testomonial-sec p.sub-heading, section.resource-sec p.sub-heading,
section.poerfolioTabs p.gallery-title{
  max-width: 747px;
  margin: 20px auto 30px;
}
ul.feature-sec li .icon img {
  width: 60px;
}
ul.feature-sec li .cont {
  margin-left: 6%;
  font-size: 17px;
  color: #253858;
  display: inline-block;
  width: calc(100% - 127px);
}
.tabs-section ul.nav.nav-tabs {
  display: block;margin-bottom: 20px;
  border: 0;    margin-top: 60px;
}
.tabs-section ul.nav.nav-tabs li.nav-item {
  display: inline-block;
  border: 0;
}
.tabs-section ul.nav.nav-tabs li.nav-item a {
  font-size: 19px;
  color: #9096a0;
  font-weight: 600;    border: 0;
}
.tabs-section ul.nav.nav-tabs li.nav-item a.active, .tabs-section ul.nav.nav-tabs li.nav-item a:hover{
 /* color: #253858;
 border: 0;*/
 background: transparent;
 border-bottom: 2px solid #253858;
}
.tabs-section ul.nav.nav-tabs li.nav-item a.active span,
.tabs-section ul.nav.nav-tabs li.nav-item a:hover span{
  /* color: #e62243;*/
}
.send-design {
  text-align: left;
  margin-top: 15%;
}
.send-design h3 {
  color: #e8304d;
  font-size: 40px;
  font-weight: bold;    margin-bottom: 20px;
}
.send-design h4 {
  font-size: 28px;
  color: #253858;
  font-weight: 600;
  line-height: 35px;
  margin: 20px 0;
}
.send-design p {
  font-size: 17px;
  color: #253858;
}
.send-design .blue-theme-btn {
  float: left;
  text-align: center;
  width: 100%;    margin-top: 10px;
}
section.workflow {
  background: #f4f7f9;
  padding: 60px 0; position: relative;
}
section.top-feature::before{content: ""; display: block; background: url(../img/before-triangle.png)
;    width: 50px;
height: 50px;
position: absolute;
left: 40px;
top: 40px;
background-size: 84%;
background-repeat: no-repeat;}
section.workflow::before{ content: ""; display: block; background: url(../img/after-triangle.png)
;width: 60px; height: 60px;    position: absolute;
right: 70px;
top:-24px;
background-size: 84%;
background-repeat: no-repeat;}
section.portfolio-sec a.thumbnail {
  margin-bottom: 25px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  display: block;
  text-align: center;
}
section.portfolio-sec a.thumbnail img {
  transition: 0.5s;
}
section.portfolio-sec a.thumbnail:hover img {
  transform: translatey(-30px);
  transition: 0.5s;
}

section.poerfolioTabs .btm-txt{opacity: 1;
  /* position: absolute; */
  /* width: 0; */
  /* height: 0; */
  /* position: relative; */
  /* float: left; */
  /* width: 100%; */
  text-align: center;
  /* color: red; */
  /* display: block; */
  height: 30px;}
  section.poerfolioTabs .hover-txt{opacity: 1;
    opacity: 1; 
    position: absolute;
    width: 0;
    height: 0;
    /* position: relative; */
    float: left;
    /* width: 100%; */
    text-align: center;
    color: red;
    display: block;
    /* height: 30px; */
  }
  section.poerfolioTabs a.thumbnail:hover .hover-txt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-content: center;    width: 100%;
    height: 100%;
    color: #fff;
    background: #0000008c;
    opacity: 1;
    transition: 0.6s;
  }
  section.portfolio-sec .btm-txt span {
    display: none;
  }
  section.portfolio-sec .btm-txt p {
    font-size: 21px;
    color: #253858;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    bottom: -50px;
    transition: 0.5s;
  }
  section.portfolio-sec a.thumbnail:hover .btm-txt p {
    opacity: 1;
    background: #fff;
    bottom: 0;
  }
  div#image-gallery img#image-gallery-image {
    width: 100%;
  }
  section.portfolio-sec {
    padding-top: 60px;
    position: relative;
  }
  section.portfolio-sec::after {
    content: "";
    display: block;
    background: url(../img/before-triangle.png);
    width: 40px;
    height: 60px;
    position: absolute;
    right: 30px;
    top: 150PX;
    background-size: 84%;
    background-repeat: no-repeat;
  }
  section.portfolio-sec::before {
    content: "";
    display: block;
    background: url(../img/after-triangle.png);
    width: 60px;
    height: 60px;
    position: absolute;
    left: -7px;
    top: 30%;
    background-size: 84%;
    background-repeat: no-repeat;
  }
  .header-part h4 {
    display: inline-block;
    font-size: 20px;
    color: #e52344;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 10px;
    line-height: 20px;
  }
  .header-part p {
    font-weight: 300;
    color: #4b6a8a;
  }
  section.resource-sec .resource-here img {
    height: 200px;
    object-fit: cover;
  }
  .header-part img {
    max-width: 70px;
    float: left;
    margin-right: 15px;
  }
  .comment-here {
    float: left;
    width: 100%;
    padding: 30px 20px 20px;
    background: #fff;min-height: 300px;
  }
  section.testomonial-sec {
    background: #f4f7f9;
    padding: 80px 0;position: relative;
  }
  section.testomonial-sec::after {
    content: "";
    display: block;
    background: url(../img/after-triangle.png);
    width: 60px;
    height: 60px;
    position: absolute;
    right: 70px;
    top: 40PX;
    background-size: 84%;
    background-repeat: no-repeat;
  }
  section.testomonial-sec::before {
    content: "";
    display: block;
    background: #e62243;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 40px;
    border-radius: 100%;
    top: 40px;
  }
  .testomonial::before {
    content: "";
    display: block;
    background: url(../img/before-triangle.png);
    width: 30px;
    height: 30px;
    position: absolute;
    left: -30px;
    bottom: 45px;
    background-size:85%;
    background-repeat: no-repeat;
  }

  .testomonial .owl-dot.active span, .testomonial .owl-dot span:hover, .testomonial .owl-dot:hover span,
  .resource .owl-dot.active span, .resource .owl-dot span:hover, .resource .owl-dot:hover span,
  .secondSlider.owl-carousel .owl-dot.active span, .secondSlider.owl-carousel  span:hover{
    background: #1a3147 !important;
  }

  .testomonial .owl-dots {
    margin-top: 50px !important;
  }
  .resource-here .bottom-txt h3 {
    font-size: 18px;
    color: #253858;
    margin-bottom: 15px;
    line-height: 28px;
  }
  .resource-here .bottom-txt  p {
    color: #253858;
  }
  .resource-here .bottom-txt {
    padding: 20px;
  }
  /*.resource-here {
    float: left;
    width: 100%;
    background: #fff;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
    }*/

    .resource-here {
      background: #f7fbfc;
      border: 1px solid #d6dade;
      overflow: hidden;
      border-radius: 4px;
      padding-bottom: 30px;
      text-align: center;
    }
    section.resource-sec {
      padding: 70px 0; position: relative;
    }


    section.resource-sec::before {
      content: "";
      display: block;
      background: url(../img/before-angle.png);
      width: 119px;
      height: 190px;
      position: absolute;
      left: -10px;
      top: -30PX;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    section.resource-sec::after {
      content: "";
      display: block;
      background: #1a3147;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 40px;
      border-radius: 100%;
      top: 40px;
    }
    .testomonial {position: relative;
      margin-top: 30px;
    }
    .resource {
      margin-top: 20px;position: relative;
    }
    .resource::after {
      content: "";
      display: block;
      background: url(../img/before-triangle.png);
      width: 30px;
      height: 30px;
      position: absolute;
      right: -70px;
      bottom: 0px;
      background-size: 85%;
      background-repeat: no-repeat;
    }
    section.riskfree-sec {
      background: #f4f7f9; position: relative;
      padding: 100px 0;
    }
    section.riskfree-sec::before {
      content: "";
      display: block;
      background: url(../img/before-triangle.png);
      width: 30px;
      height: 30px;
      position: absolute;
      left: 0px;
      top: -15px;
      background-size: 85%;
      background-repeat: no-repeat;
    }
    section.riskfree-sec h2.stander-heading {
      font-size: 45px;
    }
    section.riskfree-sec p.sub-heading {
      font-size: 26px;
      opacity: 0.9;
      line-height: 42px;    max-width: 830px;
      margin: 40px auto;
    }
    section.riskfree-sec a.button {
      font-size: 29px;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
    }
    .list-unstyled li {
      font-size: 15px;
      font-weight: 300;
    }
    .list-menu ul li:first-child {
      font-style: italic;    pointer-events: none;
    }
    section.resource-sec .owl-nav {
      display: block;
      position: absolute;
      width: 100%;
      top: 40%;
    }
    section.resource-sec .owl-nav .owl-prev, section.resource-sec .owl-nav .owl-prev:hover{
     background: url(../img/angle-left.png) center no-repeat; font-size: 0;
     width: 40px;
     height: 30px;
     padding: 10px;    left: -60px;
     position: absolute;
     background-size: 45% !important;}
     section.resource-sec .owl-nav .owl-next, section.resource-sec .owl-nav .owl-next:hover{
      background: url(../img/angle-right.png) center no-repeat; font-size: 0;
      width: 40px;
      height: 30px;position: absolute;
      right: -60px;
      padding: 10px;
      background-size: 45% !important;}
      section.portfolio-sec .col-md-4.col-6.thumb.mobile-only {
        display: none;
      }
      section.portfolio-sec a.thumbnail.mobile-only {
        display: none;
      }
      section.resource-sec .resource {
        margin-top: 50px;
      }

      /* signup select-box new */

      .custom-select {
        position: relative;
      }
      .custom-select select {
        display: none; /*hide original SELECT element:*/
      }
/* .select-selected {
  background-color: DodgerBlue;
  } */
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #253858;
    padding: 4px 10px;
    border: 1px solid transparent;
    background: white;
    cursor: pointer;
    user-select: none;
    cursor: pointer;
    font-size: 14px;
  }
  /*style items (options):*/
  .select-items {
    position: absolute;
    border: 1px solid #dfdfdf;
    background: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .custom-select {
    height: 43px;
    padding: 3px 3px 3px 1px;
  }
  .select-selected {
    background: url("../img/sign-nep.png");
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: #253858;
    height: 35px;
  }
  .select-selected::after {
    display: none;
  }
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }


  /*********************portfolio****************************/
  section.page-heading-sec {
    background: url(../img/page-title-background.jpg) no-repeat;
    margin-top: -100px;
    padding-top: 150px;
    text-align: center;
    background-size: cover;
    padding-bottom: 30px;
  }
  section.page-heading-sec p {
    font-size: 23px;
    color: #353535;
  }
  section.page-heading-sec h1 {
    font-size: 50px; font-weight:600;
    color: #253858;
  }
  p.gallery-title {
    font-size: 17px;
    text-align: center;
    color: #39414a;
  }
  section.poerfolioTabs {

    text-align: center;
    padding: 40px 0;
  }
  ul.all-project {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  ul.all-project li {
    display: inline-block;    margin: 10px 0;    transition: 0.6s;position: relative;
    overflow: hidden;
  }
  ul.all-project li img{ transition: 0.6s;}
  ul.all-project li:hover  img{
    transform: scale(1.2) rotate(-15deg); transition: 0.6s; 

  }
  ul#tabsJustified {
    text-align: center;
    justify-content: center;    margin-bottom: 30px;
  }
  section.poerfolioTabs .hover-txt p {
    font-weight: 700;
    font-size: 21px;
    color: #fff;
    text-transform: uppercase;
  }
  section.poerfolioTabs .modal-footer {
    position: absolute;
    border: 0;
    bottom: 0;    top:14px;
    width: 100%;
    transition: 0.6s;    padding-top: 0;
    border: 0;
  }
  section.poerfolioTabs .modal-footer button#show-previous-image {
    left: -40px;font-size: 34px;
    position: absolute;
    background: transparent;padding: 0;
    border: 0;     box-shadow: none !important;
  }
  section.poerfolioTabs .modal-footer button#show-next-image {
    font-size: 34px;
    position: absolute;
    background: transparent;    box-shadow: none !important;
    border: 0;
    padding: 0;
    right: -40px;
  }
  button.btn.btn-default.filter-button {
    background: transparent;
    color: #000;
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 300;border-radius: 0;
    padding: 1px 20px;
  }
  .modal-header button.close {
    background: #e8304d;
    border-radius: 100%;outline: 0;
    color: #fff;
    font-weight: 100;
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 0;
    text-align: center;
    margin: 0;
    position: absolute;
    right: -10px;    z-index: 999999;
    opacity: 1;
    top: -16px;
  }
  section.poerfolioTabs .modal-header {
    padding: 0;
  }
  section.poerfolioTabs .modal-footer:hover {
    opacity: 1;
  }

  ul#tabsJustified li a.active button, ul#tabsJustified li a button:hover {
    background: transparent;
    color: #e8304d;
    box-shadow: none !important;
    border-color: transparent;
    border-bottom: 2px solid #e8304d;
    border-radius: 0;
  }
  ul#tabsJustified li {
    margin: 5px;
  }
  a.load-more {
    font-size: 24px;
    color: #e82e4c;
    border: 1px solid #e82e4c;
    border-radius: 30px;
    width: 225px;
    display: inline-block;
    line-height: 54px;
    margin-top: 40px;
    transition: 0.6s;
  }
  a.load-more:hover {
    font-size: 24px; color: #fff;
    background-image: linear-gradient(to right, #D64151, #D64151, #D64151, #e2666e, #e67178);
    box-shadow: 0px 15px 18px 0px #EBEBEB; text-decoration: none;
  }
  /**********************price-plan*******************/  
  section.pricing-sec {
    background: #f8f8f8;
    padding: 60px 0; position: relative;
  }
  .price-plan {
    max-width: 342px;
    display: inline-block;
    width: 100%;
    background: #f7f7f7;
  }
  .price-plan {
    max-width: 342px;    transition: 0.6s;
    display: inline-block;
    width: 100%;    margin: 40px 20px;
    background: #ffffff; position: relative;
    border-radius: 12px;
    box-shadow: 0 0 50px #ddd;
  }
  /*.price-plan:hover{ transform: scale(1.1) }*/
  .price-plan h3 {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #e8304d;    margin-top: 30px;
  }
  .price-plan h4 {
    font-size: 17px;
    font-weight: 700;
    color: #253858;
    margin-top: 30px;
  }
  .price-plan h2 {
    font-size: 40px;
    color: #616a7a;
    font-weight: 700;
    margin-top: 10px;
  }
  .price-plan h2 span {
    font-size: 17px;
  }
  .price-plan:hover .sing-up{  background: #e8304d; text-decoration: none;
    color: #fff;}
    .price-plan .sing-up {
      font-size: 14px;
      width: 273px;
      line-height: 42px;
      border-radius: 30px;
      border: 1px solid #e8304d;
      background: #fff;
      color: #e8304d;
      text-transform: uppercase;
      font-weight: bold;
      transition: 0.6s;
      margin-bottom: 30px;
    }
    .price-plan ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    .price-plan ul li {
      font-size: 16px;
      color: #636363;
      border-bottom: 1px solid #d7dade;
      font-weight: 600;
      line-height: 44px;
    }
    .price-plan ul li:first-child {
      text-transform: uppercase;
    }
    .price-plan ul li:last-child {
      border-bottom: 0px;
    }
    .price-plan ul li.disable {
      font-weight: 500;
      color: #878787;
    }
    .price-plan h4.annual {
      color: #636363;
    }
    img.img-fluid.ribbon-img {
      position: absolute;
      right: -13px;
      top: -12px;
    }
    section.pricing-sec h2.main-heading span {
      color: #e8304d;
    }
    section.pricing-sec h2.main-heading {
      font-size: 40px;
      color: #253858;
      font-weight: 700;
      margin-bottom: 30px;
    }
    a.nothing {
      text-decoration: none !important;
      color: inherit !important;
    }
    section.faq-sec {
      padding: 80px 0;
    }
    section.faq-sec h2 {
      font-size: 37px;
      font-weight: normal;
      color: #e8304d;    margin-bottom: 60px;
      position: relative;
    }
    section#problems-solve h5 {
      margin-bottom: 40px;
    }
    section.faq-sec h2::after {
      width: 60px;
      height: 4px;
      display: block;
      content: "";
      background: #e8304d;
      position: absolute;
      right: 0;
      left: 0;
      margin: 15px auto;
    }
    section.faq-sec h4 {
      font-size: 18px;
      font-weight: bold;
      text-transform: capitalize;
      margin: 25px 0 15px;
    }
    section.faq-sec p {
      color: #000;
      line-height: 30px;
    }
    section.page-heading-sec.pricing-header { position: relative;
      background: #fff;
    }
    section.page-heading-sec.pricing-header h2 {
      color: #253858;
    }
    section.page-heading-sec.pricing-header p {

      color: #959ba7
    }
    section.pricing-sec::before {
      content: "";
      display: block;
      background: url(../img/after-triangle.png);
      width: 60px;
      height: 60px;
      position: absolute;
      left: 20px;
      top: 140PX;
      background-size: 84%;
      background-repeat: no-repeat;
    }
    section.pricing-sec::after {
      content: "";
      display: block;
      background: url(../img/before-triangle.png);
      width: 40px;
      height: 60px;
      position: absolute;
      right: 30px;
      bottom: 150PX;
      background-size: 84%;
      background-repeat: no-repeat;
    }
    section.page-heading-sec.pricing-header::after {
      content: "";
      display: block;
      background: url(../img/before-triangle.png);
      width: 40px;
      height: 60px;
      position: absolute;
      right: 30px;
      bottom: 20PX;
      background-size: 84%;
      background-repeat: no-repeat;
    }
    div#Websites li.thumb {
      max-height: 247px;
      overflow: hidden;
    }
    li.thumb.websites-page {
      max-height: 243px;
    }
    .content-blog {
      background: #f7fbfc;
      border: 1px solid #d6dade;
      overflow: hidden;
      border-radius: 4px;    padding-bottom: 30px;
    }
    .content-blog .image {
      background: #fff;
      width: 100% !important;
    }
    .content-blog .image img {
      width: 100%;
      object-fit: cover;
    }
    .content-blog a {
      text-decoration: none;
    }
    p.blog-full-img {
      background: #f4f7f9;
      border: 1px solid #ddd;
    }

    .single-blog-cont p span {
      font-family: 'Montserrat', sans-serif !important;
      color: #444;
    }
    .single-blog-cont p span strong {
      color: #253858;
    }
    body#single-blog-page .social_widget a {
      color: #fff;
    }

    /**********************Sing up*******************/  
    .subscriber-plan {
      background: #fff;
      padding: 30px;
      box-shadow: 0 0 20px #ccc;
      border-radius: 12px;
    }
    .lpan-line {
      font-size: 18px;
      padding: 34px 20px;
      border: 1px solid #ccc;
      transition: 0.6s;
      border-radius: 8px;
      font-weight: 600;
      color: #a3a3a3;
    }
    .subscriber-plan h2 {
      font-size: 31px;
      color: #343537;
      font-weight: 600;    margin-bottom: 30px;
    }
    .monthly-activate {
  /* padding: 20px;
  border: 2px solid #e8304d;
  border-radius: 4px;
  margin: 20px 0; */
}
.lpan-line:hover {
  background: #e8304d;
  color: #fff;
}
.monthly-activate h3 {
  font-size: 18px;
  font-weight: 600;
  color: #253858;
}
.monthly-activate ul {
  padding-left: 0;
  margin-bottom: 20px;
  margin-top: 40px;
  display: inline-block;
  width: 49%;
  float: left;
}
.monthly-activate ul li {
  font-size: 12px;
  list-style-type: none;
  line-height: 22px;
  padding: 7px 0;
  position: relative;
  padding-left: 16px;

}
.monthly-activate ul li::before {
  content: ".";
  color: #e8304d;
  font-size: 50px;
  position: absolute;
  top: -7px;
  left: 0;
}
.monthly-activate h3.color-red {
  text-align: right;
  color: #e8304d;
}
.pb-info input.form-control {
  border: 0;
  outline: 0;
  font-size: 13px;    padding: 6px;
  color: #878787;
  box-shadow: none !important;
}
.pb-info .input-group span.input-group-addon {
  padding:5px 0px 4px 12px;
  color: #ccc;
}
.bill-infoo form .form-group {
  margin-bottom: 13px;
}
.pb-info .input-group {
  border: 1px solid #dddddd;
  border-radius: 4px;    padding: 3px 0;
}
.pb-info h3 {
  font-size: 18px;
  font-weight: 600;
  color: #2c4d78;
  position: relative;
}
.pb-info h3::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background: #d3d7de;
  margin:15px 0px 30px;
}
.pb-info {
  margin-bottom: 20px;
}
.col-lg-4.cvv {
  padding-left: 0;
}
p.terms-txt input.form-control {
  width: auto;
  display: inline-block;
}
p.terms-txt a {
  color: #e8304d;
}
.g-total h3 span {
  color: #e8304d;
}
.g-total h3 {
  color: #515458;
  display: inline-block;
  width: 42%;
}
.g-total p {
  display: inline-block;
  width: 57%;
  font-size: 11px;
  text-align: right;
}
.g-total h3::after{display:none;}
input#submit {
  color: #fff;
  background: #e8304d;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
  text-transform: inherit;
}
.card-sec img.img-fluid.stripe-lock {
  margin-top: 18px;
  max-width: 150px;
  margin-left: 3px;
}

.card-sec p {
  color: #253858;
  margin: 20px 0 10px;
}
section.trusted-sec {
  padding: 70px 0 20px;
}
section.trusted-sec h2 {
  font-size: 42px;
  color: #214a80;
  font-weight: 400;
  margin-bottom: 60px;
}
.colan {
  width: 80px;
  margin-bottom: 40px;
}
.colan2 {
  width: 40px;
  transform: rotate(180deg);
  margin-top: 60px;
  margin-bottom: 20px;
}
.trust-client h3 {
  font-size: 17px;
  color: #e8304d;
  font-weight: 600;
}
p.place {
  font-size: 13px !important;
}
.trust-client p {
  font-size: 16px;
}
.squre-red {
  font-size: 18px;
  background: #e8304d;
  color: #fff;
  padding: 18px 30px;
  margin: 60px auto 0;
  display: block;
  max-width: 300px;
  width: 100%;
  text-align: center;
  transition: 0.6s;
  text-decoration: none;
  font-weight: 600;
}
.squre-red:hover, input#submit:hover{    color: #fff;
  background-image: linear-gradient(to right, #D64151, #D64151, #D64151, #e2666e, #e67178);
  box-shadow: 0px 15px 18px 0px #EBEBEB; text-decoration: none;
  transition: 0.6s;}
  span.input-group-addon.disc span {
    border: 1px solid;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
  }
  p.plan-price {
    width: 100%;
    clear: both;
    font-size: 15px;
    font-weight: 600;
    color: #e8304d;
    margin: 45px 0 0;
    display: inline-block;
  }

  /**********************Sing up-p*******************/  
  .sign-up-pagep {
    margin: 30px auto 0;
  }
  #signup-page h2 {
    color: #153669;
    font-size: 35px;
    text-align: center;
  }
  .subscription_pad form .form-group input {
    height: 45px;border: 1px solid #dbdbdb;
  }
  .line-sign-up2 {
    width: 18%;
    margin-bottom: 35px;
  }
  .button.sign-up-p {
    width: 100%;
    padding: 12px 0;
    font-size: 17px;
    font-weight: 600;
    margin: 16px 0 0;
    border-radius: 3px;
  }
  .bottom-txt a{
    border: 2px solid #ECECEC;
    color: #606060;
    padding: 12px 14px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    background: #fff;
  }
  
  .single-blog-cont, .doubel-blog-cont {
    margin: 0 auto;
  }
  #chk-box-pr .form-group input {
    height: auto;
  }
  .modal-content::before {
    background: url(../img/before-triangle.png);
    background-repeat: repeat;
    background-size: auto auto;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 40px;
    top: 40px;
    background-size: 84%;
    background-repeat: no-repeat;
    content: '';
  }
  .signup-btn-p h4{font-size: 15px;
    margin-bottom: 20px;
    color: #7d7d7d;
    font-weight: 400;
  }
  #SignupModal {
    margin-top: 11px;
    display: inline-block;
    width: 100%;
  }
 /* .bottom-txt a {
    background: #253858;
    padding: 7px 15px;
    color: white;
    border-radius: 50px;
    font-size: 12px;
    text-transform: capitalize;
    }*/






    /**********************Sing up*******************/  
    .right-number .number {
      display: inline-block;
      margin-right: 15px;
      font-size: 20px;
      color: #214a80;
    }
    .right-number a{color: #214a80;}
    .right-number {
      float: right;margin-top: 10px;
    }
    section.sing-up-heading {
      display: block;    background: #f8f8f8;
      clear: both;padding: 30px 0;
    }
    .parsonial-plan {
      max-width: 100%;
      width: 380px;
      display: inline-block;
      transform: translatey(-110px);
      margin-right: -20px;
      position: absolute;
      top: 160px;
      left: -76px;
      text-align: left;
    }
    #priceselector {
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 49px;
    }

    .parsonial-plan .par-out{
      background: #fff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 0 30px #ccc;
      position: relative;
    }
    .bill-infoo {
      display: inline-block;
      max-width: 100%; 
      width: 550px;   position: relative;
      background: #fff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 0 30px #ccc;
      text-align: left;
    }
    .icon-down-p {
      text-align: right;
      position: absolute;
      right: 29px;
      font-size: 22px;
      color: #6b6b6b;
      top: 82px;
    }
    .name-cards{}
    .parsonial-plan h2 {
      font-size: 21px;
      color: #343537;
      margin-bottom: 28px;
      padding-left: 2px;
    }
    .parsonial-plan .par-out select {
      border: 1px solid #ddd;
      color: #253858;
      font-size: 15px;
      padding: 7px;
      font-weight: 600;
      width: 100%;
      border-radius: 4px;
      background: url("../img/sign-nep.png");
      background-repeat: no-repeat;
      background-position: right;
    }
    h2.sect-heading {
      font-size: 50px;
      color: #214a80;
      font-weight: lighter;
    }
    .sign-logo img {
      max-width: 80px;
    }
    header.form-header {
      padding: 15px 0;
    }
    .right-number .number span {
      transform: rotate(100deg);
      display: inline-block;
      color: #e8304d;
      font-size: 14px;
      margin-right: 8px;
    }
    .right-number a {
      color: #214a80;
      text-decoration: none;
      font-size: 14px;
    }
    .right-number .number a {
      font-weight: 400;
    }
    footer.form-footer { position: relative;
      text-align: center;
    }
    footer.form-footer::after{content: "";
    display: block;
    background: url(../img/after-triangle.png);
    width: 60px;
    height: 60px;
    position: absolute;
    right: 70px;
    top: -40px;
    background-size: 84%;
    background-repeat: no-repeat;}
    footer.form-footer::before{content: "";
    display: block;
    background: url(../img/before-triangle.png);
    width: 50px;
    height: 50px;
    position: absolute;
    left: 40px;
    top: -10px;
    background-size: 84%;
    background-repeat: no-repeat;}
    footer.form-footer li {
      display: inline-block;
      float: none;
      padding: 5px;font-size: 30px;
    }
    footer.form-footer li:first-child {
      font-size: 14px;
      margin-bottom: 0;
      color: #4b6a8a;
      transform: translatey(-4px);
    }
    div#tabsJustifiedContent .col-md-6 img.img-responsive {
      max-height: 244px;
      object-fit: cover;
      width: 100%;
    }
    div#tabsJustifiedContent .col-md-3.col-sm-6 img.img-responsive {
      max-height: 244px;
      width: 100%;
      object-fit: cover;
    }
    .signup-btn-p h2 {
      font-size: 50px;
      color: #214a80;
      font-weight: 400;
      margin-bottom: 6px;
    }
    #SignupModal {
      margin-top: 4px;
      display: inline-block;
      width: 100%;
    }

    .terms-txt {
      margin-bottom: 0;
    }

    /********************testimonial**************************/
    section.test-monial {
      padding: 50px 0;
    }
    section.test-monial h2 {
      font-size: 36px;
      color: #1a3147;
      margin: 20px 0;
    }
    section.test-monial h2::after {
      content: "";
      height: 8px;
      width: 40px;
      background: #e8304d;
      display: block;
      margin-top: 10px;
      border-radius: 8px;
    }
    p.avrg {
      margin-top: 20px;
      color: #868686;
    }
    p.over-people {
      color: #5d5d5d;
      font-weight: 600;
      font-size: 17px;
      margin-top: 40px;
    }
    a.click-video img.play {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .lines {
      display: flex;border-bottom: 1px solid #cbcbcb;    margin-bottom: 20px;
    }
    .lines .left-sec {
      display: flex;
      width: 30%;  margin: 20px 0;
    }
    .lines .right-sec {
      display: flex;    align-items: self-end;
      width: 70%;  
    }
    .lines .left-sec .left-part {
      margin-right: 20px;
    }

    p.cl-name {
      color: #e8304d;
      font-weight: 600;font-size: 16px;
      margin-bottom: 0;
    }
    p.time-ago {
      font-size: 13px;
      color: #484848;
      font-weight: 600;
    }
    .lines .right-sec p {
      font-size: 16px;
      color: #545556;
      font-weight: 600;
      margin-left: 10px;
    }

    ul.pagination.graphos li.page-item a {
      color: #4b6a8a;
      font-size: 17px;
    }
    ul.pagination.graphos li.page-item a {
      color: #4b6a8a;
      font-size: 17px;
      width: 40px;
      height: 40px;
      border-radius: 100%;    text-decoration: none;
      line-height: 42px;text-align: center;
      display: block;
    }
    ul.pagination.graphos li.page-item {
      margin: 0;
    }
    ul.pagination.graphos li.page-item.active{background: none;}
    ul.pagination.graphos li.page-item a:hover, ul.pagination.graphos li.page-item.active a{background: #f2f2f2;}
    ul.pagination.graphos  li.page-item a.page-link {
      background: #f2f2f2;
      border: 0;
      border-radius: 4px;
      color: #0f153c;
      font-weight: 600;
      font-size: 17px;     width: 100px;
      height: auto;line-height: 30px;
    }
    ul.pagination.graphos a.page-link:hover, ul.pagination.graphos a.page-link:focus, ul.pagination.graphos a.page-link:active{
      background: #e8304d !important;
      color: #fff !important;
    }
    .lines:last-child {
      border-bottom: 0;
    }
    .click-video img.img-fluid {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    #pop-up-start h2 {
      margin-bottom: 0;
      font-size: 26px;
      font-weight: 600;
      color: #e52344;
      padding: 38px 0 14px;
    }
    #pop-up-start h2 .month-name-popup {
      color: #302f2f;
    }


    /*patric pop-css*/

    .off-pop-up .modal-content:before{display: none;}
    .off-pop-up .modal-content .modal-header {border: 0;padding: 0;}
    .off-pop-up .modal-dialog {max-width: 850px;top: calc(50% - 271px);}
    .main-pop-div{padding: 0;}
    #pop-up-start h5 {
      line-height: 24px;
      font-size: 16px;
      color: #302f2f;
      padding: 15px 0 0;
    }
    #pop-up-start {
      padding-left: 17px;
    }
    #pop-up-start h2 {
      margin-bottom: 0;
      font-size: 36px;
      font-weight: 700;
      color: #e52344;
      padding: 118px 0px 14px;
    }
    .form-button-popup  input {
      border: 0;
    }
    .form-button-popup  .input-group {
      border: 1px solid #d6d2d2;
      padding: 2px 0;
      border-radius: 8px;
      margin: 19px 0 11px;
      box-shadow: 3px 3px 0px 0px #f3f3f3;
    }
    .form-button-popup  .form-control {
      font-size: 14px;
      padding-left: 50px;
      background: transparent;
      box-shadow: 0 0 0;
    }
    .form-button-popup input:active, .form-button-popup input:focus {
      outline: 0;
      box-shadow: 0 0 0 0 !important;
    }
    .mesage-ico {
      position: absolute;
      top: 9px;
      left: 19px;
      font-size: 23px;
      color: #e52344;
    }
    .get-it-button {
      background: #e52344;
      border: 0;
      border-radius: 8px;
      padding: 9px 23px;
      margin: 2px 3px;
      color: white;
      font-size: 16px;
      font-weight: 700;
    }
    #pop-up-start p {
      color: #302f2f;
      font-size: 15px;
      margin-bottom: 0;
    }
    .off-pop-up .modal-content .modal-body {
      padding: 0px 25px 0 16px;
    }
    .pop-up-start {
      background: #fff0f3;
      padding: 95px 0;
    }
    .line-popup {
      margin: 0;
      border: 2px solid #e52344;
      width: 13%;
    }
    #cross-btn{
      background: #dbdbdb;
      border-radius: 100%;
      outline: 0;
      color: #fff;
      font-weight: 100;
      width: 30px;
      height: 30px;
      padding: 0;
      line-height: 0;
      text-align: center;
      margin: 0;
      position: absolute;
      right: 11px;
      z-index: 999999;
      opacity: 1;
      top: 11px;
    }
    .st-name {
      font-size: 23px;
      vertical-align: top;
    }



    @media (max-width:767px) {
      #pop-up-start h2{padding: 25px 0px 14px;}
      .pop-up-start {padding: 25px 0;}
      #pop-up-start{text-align: center;}
      .line-popup{margin: 0 auto;}
    }
/*
.on-scroll {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;    display: flex;
    bottom: 0;
    background: #00000030;
    color: #fff;
    z-index: 9999;
}
.on-scroll .offer-popup {
    width: 960px;
    margin: auto;    transform: scale(0.9);
    background: #fff;    display: flex;
}
.on-scroll .offer-popup .per-off {
    width: 40%;
    display: inline-block;
}
.on-scroll .offer-popup .per-off > img {
    padding: 50px 30px;
}
.on-scroll .offer-popup .enter-email {
    display: inline-block;
    width: 60%;
    background: #dc1d35;
    color: #fff;
    padding: 4%;
}
.on-scroll .offer-popup .enter-email h2 {
    font-size: 50px;
    color: #fff;
}
.on-scroll .offer-popup .enter-email p {
    color: #fff;
    font-size: 24px;
}
.on-scroll .offer-popup .per-off a.btn-tryNow {
    background: #0d0d0d;
text-decoration: none;
    color: #fff;
    font-size: 36px;
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    font-weight: 700;
    text-transform: capitalize;
    text-align: right;
}
.on-scroll .offer-popup .per-off a.btn-tryNow img {
    margin-left: 20px;
}
.on-scroll .offer-popup .enter-email label {
    display: block;
    font-size: 28px;
    font-weight: 600;
}
.on-scroll .offer-popup .enter-email input[type="email"] {
    height: 55px;
    width: 100%;
    border-radius: 18px;
    border: 3px solid #850303;
    outline: none;
    padding: 20px;
}
.on-scroll .offer-popup .enter-email input[type="submit"] {
    background: #fff;
    color: #0d0d0d;
    font-size: 26px;
    border-radius: 30px;
    width: 200px;    padding: 5px;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    }*/
    @media (max-width:992px){
      section.test-monial {
        padding: 100px 0 50px;
      }
    }
    @media (max-width:767px){
      section.test-monial h2 {
        font-size: 28px;
        color: #1a3147;
        margin: 20px 0;
      }
      .rating img {
        max-width: 30px;
      }
      .lines {
        display: flex;
        flex-direction: column-reverse;
      }
      .lines .left-sec {
        display: flex;
        width: 100%;
      }
      .lines .right-sec {
        display: flex;
        align-items: self-end;
        width: 100%;
      }
      ul.pagination.graphos {
        max-width: 100%;
      }
      ul.pagination.graphos li.page-item {
        padding: 0;margin-right: 5px;
      }
      ul.pagination.graphos li.page-item a.page-link {
        width: 80px;
      }
      .lines .right-sec p {
        font-size: 14px;
      }
    }
    /****************************/
    @media (max-width:992px){
      .parsonial-plan {
        max-width: 470px;
        width: 100%;
        display: block;
        transform: none;
        margin: 40px auto;
      }
      .parsonial-plan h2 {
        text-align: center;
      }
      .bill-infoo {
        display: block;
        margin: auto;
      }
      .select-selected{font-size: 13px;padding: 7px 5px;}
    }
    @media (max-width:480px){
      .right-number a {
        display: block;    text-align: right;
      }
      .right-number .number a {
        font-size: 13px;
        display: inline-block; 
      }
      .right-number .number span {
        font-size: 10px;
        margin-right: 8px;
        line-height: 20px;
      }
      .right-number .number{
        margin-right:0; 
      }
      .right-number {
        margin-top: 0;
      }
      h2.sect-heading {
        font-size: 32px;    margin-bottom: 10px;
      }
      footer.form-footer::before, footer.form-footer::after{display:none;}
      .parsonial-plan {
        margin: 20px auto;
      }
      .card-sec img.img-fluid.stripe-lock {
        max-width: 100%;margin-top: 52px;
      }
    }
    /********************** Media query*******************/  

    @media (max-width:1280px) {
      .parsonial-plan{
        max-width: 100%;
        width: 337px;
        left: -34px;
      }
    }

    @media (max-width:1200px) {
      .select-selected{font-size: 11px;padding: 7px 5px;}
      .parsonial-plan {
        max-width: 100%;
        width: 290px;
        left: -14px;
      }
      #priceselector{font-size: 12px;}
      #nav-menu-container {
        margin: 0;
      }
      .navbar-right ul {
        padding: 0;
      }
      .navbar-right li {
        padding: 0 4px 0 0;
      }
      .resource::after {
        right: 0;
      }
      .bill-infoo{
        left: 55px;
      }
    }

    @media (max-width:1024px) {
      .parsonial-plan {

        max-width: 100%;
        width: auto;
        left: 0;
        position: static;
        margin-top: 125px;
        margin-left: -29px;
      }
      .bill-infoo{top: -90px;
        left: 0px;
        width: 590px;
      }
      .select-selected{font-size: 13px;padding: 7px 5px;}
    }

    @media (max-width:992px) {
      .parsonial-plan{margin-top: 0;
        text-align: left !important;margin-left:0;
      }
      .bill-infoo{width: auto;top: 0;}
      .nav-menu li.active a {
        border-bottom: 0px solid #e8304d;
      }
      button.menu-toggle {    display: block;
        width: 15%;
        margin-top: 4px;
        outline: none;
      }
      .mobile-class {
        display: block;
        position: absolute;
        z-index: 999;
        background: #fff;
        width: 100%;
        left: 0;
        top: 73px;
        border-top: 4px solid #e8304d;
        border-bottom: 4px solid #e8304d;
      }
      section.page-heading-sec {
        margin-top: 0;
      }
      .mobile-class ul.nav-menu li {
        float: left;
        width: 100%;
      }
      .mobile-class {
        display: none;
      }
      .mobile-class .navbar-right ul {
        float: left;
        width: 100%;
        display: block;
        padding-left:32px;    margin-top: 0; 
      }
      .mobile-class .navbar-right ul li:nth-child(2) {
        margin-bottom: 24px;
      }
      .mobile-class .navbar-right ul li {
        width: 100%;
        display: block;
        margin-bottom: 10px;
      }
      #header {
        padding: 10px 0;
        position: fixed !important;
        background: #ffffff;
        box-shadow: 0 0 20px #ccc;
        height: auto;    border-bottom: 1px solid #e82f4d;
      }
      .mobile-class ul.nav-menu li a {
        display: block;
        padding: 10px 20px;
      }
      .nav-menu li:hover > a, .nav-menu > .menu-active > a {
        color: #e8304d;
        border-radius: 4px;
        border-bottom: 0;
      }
      .secondSlider.owl-carousel {
        box-shadow: none;
      }
      .tabs-section ul.nav.nav-tabs li.nav-item {
        width: 100%;
      }
      .secondSlider.owl-carousel::after {
        height: 100px;
        right: -20px; top:30%;
      }

      .section-title.how-it {
        padding: 40px 40px 10px;
      }
      #hero {
        margin-top: 90px;    height: 610px;
      }
      #header #logo img {
        max-width: 80px;
      }
      #hero h2 {
        background: rgba(255, 255, 255, 0.68);
      }
      .tabs-section ul.nav.nav-tabs li.nav-item a {
        font-size: 15px;
      }
      .tabs-section ul.nav.nav-tabs li.nav-item {
        width: 100%;
        max-width: 270px;
      }
      .tabs-section ul.nav.nav-tabs li.nav-item a.active, .tabs-section ul.nav.nav-tabs li.nav-item a:hover {
        color: #f7faff;
        border: 0;
        background: #253858;
        border-bottom: 2px solid #000000;
      }
    }
    @media (max-width:767px) {
      .monthly-activate {
        display: none;
      }
      section.faq-sec h4{
        margin: 25px 0 1px;
        line-height: 25px;
      }
      .plan-price {
        display: none !important;
      }
      section.portfolio-sec a.thumbnail {
        margin-bottom: 0px;
      }
      .equater .col-md-4.col-6.thumb:nth-child(2) a.thumbnail:first-child {
        margin-bottom: 10px;
      }
      .equater .thumb {
        padding: 5px;
      }
      .equater {
        padding: 0;
        margin: 0;
      }
      body#single-blog-page .post-box .image {
        width: 100%;
        height: 100%;
      }
      body#single-blog-page .post-box .image img {
        height: auto;    width: auto;
      }
      #signup-page button#mobile-nav-toggle {
        display: none !important;
      }
      #signup-page h2 {
       font-size: 24px;
       white-space: nowrap;
     }
     span.title_underline {
      width: 50px;
      height: 2px;
      margin-top: -5px;
    }
    section.poerfolioTabs .modal-footer button#show-next-image {
      right: 20px;
      text-shadow: 0 0 6px #000;
    }
    section.poerfolioTabs .modal-footer button#show-previous-image{
      left: 20px;
      text-shadow: 0 0 6px #000;
    }
    #about-page #hero_section{    margin-top: 0px !important;}
    .padd-section .container-fluid.nopadding img {
      width: 100%;
    }
    span.bigger-text {
      font-size: 34px;
    }
    .section-title h2 {
      font-size: 28px !important;
    }
    .values-wrap {
      flex: 100%;
      max-width: 100%;
      border-bottom: 2px solid #f7f7f7 !important;
    }
    #our-values {
      padding-bottom: 20px;
    }
    .section_separator {
      height: 20px !important;
    }
    section.pricing-sec h2.main-heading, #single-blog-page h1 {
      font-size: 28px;    margin-bottom: 0;
      font-weight: bold;
    }
    .price-plan:hover {
      transform: scale(1);
    }
    section.page-heading-sec h1 {
      font-size: 34px;
    }
    section.page-heading-sec p {
      font-size: 18px;
    }
    a.load-more {
      font-size: 18px;
      width: 195px;
      line-height: 44px;
      margin-top: 40px;
    }

    section.portfolio-sec .btm p {
      font-size: 17px;
      margin-bottom: 0;
    }
    section.portfolio-sec .btm {
      margin-top: 10px;
    }
    div#mobile {
      display: block;
    }
    section.portfolio-sec .col-md-4.col-6.thumb.hidden-xs {
      display: none;
    }
    section.portfolio-sec .col-md-4.col-6.thumb.mobile-only {
      display: block;
    }
    section.portfolio-sec a.thumbnail.mobile-only {
      display: block;
    }
    div#decstop{display: none;}
    .secondSlider.owl-carousel .owl-dots {
      display: block;
    }
    #hero h2 {
      background: rgba(255, 255, 255, 0.68);
      white-space: pre-line;
      line-height: 38px;
      font-size: 20px;
    }
    section.portfolio-sec .col-md-3.col-md-3.hidden-xs {
      display: none;
    }
    section.resource-sec {
      padding: 70px 40px;
    }
    #hero .btn-get-started {
      font-size: 14px;}
      .trusted ul.all-logo li {
        width: 32%;
        display: inline-block;
        line-height: 64px;
        background: #f7f7f7;
        margin-bottom: 10px;
      }
      .trusted ul.all-logo li:last-child {
        display: none;
      }
      .trusted ul.all-logo li img {
        max-width: 100px;
        max-height: 37px;
      }
      .trusted ul.all-logo {
        display: block;
      }
      #hero {
        height: calc(100vh - 100px);
        min-height: 500px;
      }

      ul.feature-sec li {
        width: 100%;
      }
      .section-title.how-it::before, .section-title.how-it::after, .full-space::before, .full-space::after,
      section.top-feature::before, section.workflow::before, section.portfolio-sec::before,
      section.portfolio-sec::after, section.testomonial-sec::before, section.testomonial-sec::after,
      section.resource-sec::before, section.resource-sec::after, section.riskfree-sec::before{
        opacity: 0.2;
      }
      section.portfolio-sec .thumb {
        width: auto;
        margin: auto;
        display: block;
        text-align: center;
      }
      h2.stander-heading, .send-design h3, section.riskfree-sec h2.stander-heading{
        font-size: 28px;
      }
      #get-started .how-it p, p.sub-heading, .send-design p{
        font-size: 14px;
      }
      #hero .hero-container {
        position: relative;    padding-top: 40px;
      }
      section.top-feature {
        padding: 20px 0 40px;
      }
      ul.feature-sec {
        margin-top: 0;
      }
      .send-design h4 {
        font-size: 18px;
      }
      section.workflow {
        padding: 60px 0 0px;
      }
      .tabs-section ul.nav.nav-tabs {
        margin-top: 20px;
      }
      section.riskfree-sec p.sub-heading {
        font-size: 16px;
        opacity: 0.9;
        line-height: 30px;
        margin: 20px 0;
      }
      section.riskfree-sec a.button {
        font-size: 18px;
      }
      section.riskfree-sec {
        padding: 40px 0;
      }
      .send-design {
        text-align: center;
        margin-top: 20px;
      }
      .send-design .blue-theme-btn {
        float: none;
      }
      section.faq-sec h2 {
        font-size: 27px;
        margin-bottom: 30px;
      }
      section.faq-sec {
        padding: 30px 0;
        text-align: center;
      }
      section.pricing-sec::after{display: none}
    }
    @media (max-width:600px) {
     section.resource-sec p.sub-heading {
      display: none;
    }
    div#mobile .owl-nav {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      top: 0;
      bottom: 0;
    }
    div#mobile .owl-nav .owl-prev {
      left: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      opacity: 0;
    }
    div#mobile .owl-nav .owl-next{
      right: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      opacity: 0;
    }
    .owl-carousel .feature-here img {
      margin: 10px auto;
    }
    .secondSlider .owl-stage-outer {
      margin-bottom: 20px;
    }
    #get-started .blue-theme-btn {
      margin: 10px auto 20px;
    }
    div#tabsJustifiedContent .col-md-3.col-6, div#tabsJustifiedContent .col-md-6 {
      padding: 0 5px;
    }
    ul.all-project li {
      margin: 6px 0 0;
    }
    button.btn.btn-default.filter-button {
      font-size: 16px;
      padding: 1px 10px;
    }
    .owl-carousel.owl-drag .owl-item .feature-here {
      padding: 10px 20px 10px;
      min-height: auto;
      margin: 0 20px !important;
    }

    .secondSlider.owl-carousel::after{display: none;}
    .secondSlider  .owl-item.active .feature-here::before{content: ""; background: url(../img/slide-arrow.png);
    display: block;width: 40px;
    height: 40px;
    left: -20px;
    position: absolute; transform: rotate(180deg);
    top: 40%;
    z-index: 9999;
    background-repeat: no-repeat;}
    div#mobile .owl-item:first-child .feature-here::before{display: none}
    div#mobile .owl-item:last-child .feature-here::after{display: none}

  }

  @media (max-width:480px) {
    .select-selected{font-size: 11px;}
    .mobile-class {
      top: 67px;
    }
    section.page-heading-sec {
      padding-top: 100px;
    }
    #signup-page .header .already_signin > p {
      font-size: 13px;
    }
    #header #logo img {
      max-width: 68px;
    }
    body#support-page section#hero_section img {
      max-width: 100% !important;
    }
    section#problems-solve .row.mt-1.mb-1 .col-md-6.col-6 {
      flex: 100%;
      max-width: 100%;
      text-align: center !important;
      margin: 20px 0;
      padding: 0 !important;
    }
    input.sing-up {
      width: 243px;
      line-height: 40px;
      margin-bottom: 20px;
    }
    ul.feature-sec li .icon {
      padding: 14px;
      width: 70px;
      height: 70px;
    }
    ul.feature-sec li .cont {
      margin-left: 4%;
      font-size: 13px;
    }
    .header-part h4 {
      font-size: 16px;
    }
    .header-part p {
      font-size: 12px;
    }
    .header-part img {
      max-width: 50px;
      margin-right: 10px;
    }
    .comment-here {
      padding: 20px 10px 10px;
    }
    section.testomonial-sec {
      padding: 20px 20px 10px;   margin: 0;
    }
    section.portfolio-sec {
      padding-top: 30px;
    }
    section.resource-sec {
      padding: 30px 40px 0;
    }
    .testomonial {
      margin-top: 0;
    }
    .testomonial .owl-dots {
      margin-top: 0px !important;
    }
    .section-title.how-it {
      padding: 40px 20px 10px;    margin-bottom: 0;
    }
    #get-started {
      margin-top: 30px;
    }

    .price-plan {
      max-width: 282px;    margin: 30px 0px 0;
    }
    .price-plan ul li {
      font-size: 14px;
    }
    img.img-fluid.ribbon-img {
      width: 100px;
      right: -9px;
      top: -8px;
    }
  }





