#hero_section{margin-top:100px;margin-bottom:20px;}
#hero_section h2{color:#2a4a7c;font-size:30px;font-family:'Montserrat', sans-serif;font-weight:600;}
#single-blog-page .blog_heading{padding-bottom:80px;}
#hero_section .btn-get-started{font-family:'Montserrat', sans-serif;text-transform:uppercase;font-weight:400;font-size:13px;letter-spacing:1px;display:inline-block;padding:11px 36px;border-radius:50px;transition:0.5s;margin-bottom:30px;background:#e73833;color:#ffffff;text-decoration:none;box-shadow:5px 6px 3px 0px #F4E1E5;}
#affiliate-marketing-page #hero_section{margin-top:100px;background-image:url(../img/affiliate-header.png);background-size:cover;background-repeat:no-repeat;}
#features-page #hero_section{margin-top:100px;background-image:url(../img/features-header.png);background-size:100%;background-repeat:no-repeat;background-color:#fbfbfb;padding-bottom:60px;}
#about-page #hero_section, #career-page #hero_section, #news-page #hero_section, #support-page #hero_section,
#portfolio-page #hero_section{margin-top:100px;background-image:url(../img/career-header.png);background-size:100%;background-repeat:no-repeat;}
.section-title h2{font-family:'Montserrat', sans-serif;font-size:40px;font-weight:700;letter-spacing:0px;margin-bottom:10px;text-transform:capitalize;color:#204579;}
.section_separator{background-image:url('../img/zig-zag-saperator.png');background-repeat:no-repeat;background-position:center top;height:45px;background-size:27%;}
.blog_posts .section_separator{margin:50px 0;background-size:25%;}
.team-content h4{color:#214B71;font-size:16px;letter-spacing:0px;}
.team-content span{color:#FA104B;font-size:13px;font-weight:600;letter-spacing:3px;}
#team .team-block .team-content ul{margin-top:10px;}
#team .team-block .team-content ul li{display:inline-block;height:30px;width:30px;background:#fff;padding-top:8px;}
.member-img{position:relative;}
.team-overlay{display:none;}
.team-overlay{padding-top:50%;font-size:20px;text-transform:uppercase;position:absolute;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);bottom:0;}
.team-overlay a{color:#fff;text-decoration:none;}
.team-overlay i{font-size:50px;}
.member-img:hover .team-overlay{display:block;}
#team .team-block .team-content ul li .fa{font-size:15px;}
#team .team-block .team-content ul li i.fa.fa-facebook{color:#004E8D;}
#team .team-block .team-content ul li i.fa.fa-twitter{color:#02A8F4;}
#team .team-block .team-content ul li i.fa.fa-google{color:#FF4831;}
#team .team-block .team-content{background:#F7F7F7;box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);bottom:auto;padding:20px 0;position:relative;width:100%;transition:all 0.5s ease-in-out 0s;}
#team .team-block{box-shadow:none;height:auto;overflow:hidden;position:relative;width:100%;}
.fa, .far, .fas{}
.value-icon{height:60px;margin-bottom:15px;}
.benefit-icon{height:50px;margin-bottom:15px;}
.values-wrap, .benefit-wrap{border:1px solid #ddd;padding:40px;}
#affiliate-marketing-page .benefit-wrap h4{margin-bottom:25px;}
.values-wrap p{font-size:18px;color:#1D3557;line-height:25px;}
.shadow-wrapper{box-shadow:0 0 35px rgba(0, 0, 0, 0.1);padding:20px 70px;margin:0 0 25px;}
.shadow-wrapper p{font-size:15px;margin-bottom:0;color:#133663;font-weight:600;line-height:1.3;}
.shadow-wrapper p strong{color:#E7304C;font-weight:bold;}
.lb-bg{background-color:#224980;}
.rd-bg{background-color:#E7304C;}
.db-bg{background-color:#1B3148;}
.padding-arround{padding:40px 80px;text-align:center;}
section#top-blocks{padding-top:0;}
#top-blocks p, #top-blocks h4{color:#fff;margin-top:15px;text-transform:none;font-size:16px;}
#top-blocks h4{font-size:22px;font-weight:600;letter-spacing:0px;}
#top-blocks img{width:70px;}
ul.openings li{display:inline-block;max-width:200px;width:100%;box-shadow:0 0 35px rgba(0, 0, 0, 0.1);margin-right:14px;padding:25px 15px 15px;border:2px solid #fff;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;margin-bottom:15px;}
ul.openings li:hover{border:2px solid #e8304d;}
ul.openings{padding:0;}
ul.openings p{margin-top:15px;font-size:12px;font-weight:900;color:#142f52;letter-spacing:1px;}
#hero_section .blog_posts h2, .blog_posts h2{color:#242424;margin-bottom:3px;font-size:20px;font-family:'Montserrat', sans-serif;font-weight:300;padding:20px 0px;}
.blog_attr{color:#b3b7bb;font-size:12px;}
.blog_attr span{margin-right:10px}
.pagination{margin:0 auto;max-width:400px;}
.pagination li{color:#131524;padding:5px 15px;margin-right:6px;font-size:15px;font-weight:400;}
.pagination li.active{background:#F2F2F2;border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;}
.pagination li.first, .pagination li.last{background:#F2F2F2;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
.pagination li.last{background-color:#10153B;color:#ffffff;}
.pagination li.last a{color:#ffffff;}
span.bigger-text{font-size:40px;font-weight:bold;font-style:italic;}
.color-red{color:#E7304C;}
#contact .form button[type="submit"]{background:#E7304C;border:0;padding:10px 24px;color:#fff;transition:0.4s;border-radius:30px;}
.box-wrap{padding:25px;border:1px solid #E1E1E1;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
.box-wrap p{margin:15px;font-size:16px;color:#264D85;}
.email button{background:transparent;border:2px solid #B9B9B9;}
.chat-box button{background:#E7304C;border:none;}
.chat-box button, .email button{border-radius:30px;-webkit-border-radius:30px;-moz-border-radius:30px;}
.email button a{color:#B9B9B9;font-weight:bold;font-size:13px;padding:5px 15px;}
.chat-box button a{color:#FFFFFF;padding:5px 15px;}
.social-links .fa{font-size:16px;}
.form h2{color:#E7304C;}
span.title_underline{background:#E7304C;width:70px;height:4px;display:block;margin-top:15px;margin-bottom:15px;}
#contact .social-links a{font-size:18px;display:inline-block;background:#224980;color:#fff;line-height:25px;padding:3px 0 3px 0;border-radius:8px;text-align:center;width:30px;height:30px;transition:0.3s;}
#contact .social-links a:hover{background:#E7304C;color:#fff;}
#contact .form input, #contact .form textarea{border-radius:8px;}
.portfolio_list button{background:transparent;color:#7F848A;text-transform:none;font-size:14px;padding:10px 15px;border:none;font-weight:100;}
.portfolio_list button:hover{color:#E7304C;background:transparent;}
.portfolio_list .btn:focus, .portfolio_list .btn:active{outline:0;box-shadow:none;border-bottom:2px solid #E7304C;border-radius:0;}
.portfolio_items .portfolio_content{position:absolute;bottom:20px;padding:15px;}
.portfolio_items .filter{position:relative}
.portfolio_content p{color:#fff;margin-bottom:0;}
.portfolio_content h5{color:#fff;font-size:20px;}
.widget-title h2{font-size:22px;color:#E7304C;font-weight:400;}
.widget_liner{background:#ddd;height:3px;display:block;width:60px;margin:15px 0 20px;}
ul.popular_posts , ul.cat_list, ul.tag_list{padding:0;list-style:none}
ul.popular_posts li{list-style:none;display:inline-block;width:100%;margin-bottom:15px;}
ul.popular_posts li img{float:left;width:30%;}
ul.popular_posts li .post_detail{float:right;padding-left:10px;padding-top:10px;width:70%;}
ul.popular_posts li .post_detail p{margin-bottom:5px;text-align:left;font-size:11px;}
.social_widget a{background-color:#656766;color:#fff;padding:2px 10px;}
.newsletter_form{background:#F3F3F3;padding:35px 15px 15px;}
.newsletter_form input, .newsletter_form button{width:100%;margin-bottom:10px;border:none;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;height:35px;padding:5px 10px;}
button.subscribe_btn{background-color:#E7304C;border:none;color:#fff;text-transform:uppercase;font-weight:600;}
ul.tag_list li{display:inline-block;background-color:#F8FAF9;padding:0px 8px;margin-bottom:5px;font-weight:600;}
textarea{padding:7px 40px !important;}
.contact-us .button{text-transform:uppercase;font-size:15px;}
.list-menu ul li:first-child{font-weight:700;}
#single-blog-page h1{color:#244E81;font-weight:700;margin-bottom:10px;}
.recommedations p{font-weight:bold;color:#505050;}
.contact-us .page_heading h2{color:#2a4a7c;margin-bottom:30px;font-size:30px;font-family:'Montserrat', sans-serif;font-weight:600;}
.terms-condition h2{color:#2a4a7c;margin-bottom:30px;font-size:30px;font-family:'Montserrat', sans-serif;font-weight:600;}
.testimonials h2{color:#2a4a7c;margin-bottom:15px;font-size:31px;font-family:'Montserrat', sans-serif;font-weight:600;}
.row.display-flex{display:flex;flex-wrap:wrap;}
.row.display-flex > [class*='col-']{display:flex;flex-direction:column;}