@media (max-width: 1200px) {	
	a.adddesinger {
    margin-top: 40px;
    display: inline-block;
}
}
@media (min-width: 992px) {.navbar-collapse.small-menu.collapse{display:block !important;}
	/** Top Menu **/
	.flex-show {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
		
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	.nav-section .navbar-default .navbar-collapse {  
		width: 100%;
		flex: 1;
	}	
	.nav-section .navbar-default .navbar-collapse .navbar-right {
		float: none !important;
		display: inline-block;
		vertical-align: middle;
	}
	
	.nav-section .navbar-default .navbar-nav {
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
	
	.plan-boxex-xx6 {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	}
	
	
	.flex-reverse {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
		
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		
		flex-direction: row-reverse;
	}
	.flex-show-em1,
	.flex-verse {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
		
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	
	.orb-xb {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
		
		flex-direction: row-reverse;
	}
	
	.nav-section .navbar-default.lefted .navbar-collapse {
		text-align: left;
		padding-left: 50px;
	}

	.nav-section .navbar-default.centered .navbar-collapse {
		text-align: center;
	}
	
	.pro-ject-leftbar {
    position: fixed;
    left: 0;
    top: 64px;
    bottom: 0;
    width: 110px;
    overflow-y: auto;
    height: calc( 100vh - 70px );
	}
	.orbxbin-list {
		padding-bottom: 30px;
	}
	.orbxb-img-ssrr {
		margin-left: 50px;
		margin-right: 50px;
	}
	
	.col-w1 { width: 25%; }
	.pro-desh-box .pro-circle-list.pad-w1 { padding-left: 60px; }
	.dcol-3 {width: 30%;}
	
}
@media (min-width: 768px) {.navbar-collapse.collapse{display:none !important;}
	.nav-section .navbar-nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 7px;
		margin-right: 7px;
	}
	.nav-section .navbar-nav > li{
		margin-right: 20px;
	}
	.nav-section .navbar-nav > li:last-child {
		margin-right: 0;
	}
	
	.flex-show-a {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
				
	}
	
	.list-setting {
		display: inline-block;
		white-space: nowrap;
	}
	
	.uplinkflexs .row{
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
		
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		justify-content: center;
	}
	
	.pro-ject-rightbar {
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		width: 300px;
		height: calc( 100vh - 0px );
	}
	
	/*.full-row .panel-grid-cell,
	.full-row .panel-grid-cell {
		width: calc(50% - ( 0.5 * 0px ) ) !important;
	}*/
}
@media only screen and (min-width: 769px) and (max-width: 991px) { 

}

@media (max-width: 1024px) {
		
	.pro-ject-wrapper {
		padding-left: 185px;
		padding-right: 285px;
	}
	.pro-ject-rightbar {
		width: 270px;
	}
	
}


@media only screen and (max-width:992px){
	.mobile-visibles {
    display: block;
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 24px;
    color: #e62344;
    cursor: cell;
    z-index: 99999999999999;
}
.product-list-show .cli-ent-row.tr {
    overflow: hidden !important;
    height: 80px;
    border-bottom: 6px solid #f2f9ff;
}
.mobile-visibles + .cli-ent-col.td {
    padding-bottom: 0 !important;
}
.product-list-show .cli-ent-row.tr.fullheight {
    overflow: hidden;
    height: 100%;
    background: #f1f9ff;
    border: 1px solid #99a7b0;
}
.product-list-show .cli-ent-row.tr.brdr .cli-ent-col.td .cell-col {
    display: block;
    text-align: left;
    margin: auto;
    padding: 0 !important;
}
.product-list-show .cli-ent-row.tr.fullheight .cli-ent-col.td .cell-col {
    text-align: center;
}
    body #content .post .entry-content {
        float: none;
        margin: 0 7.6923%;
        width: auto;
    }
	a.adddesinger {
    margin-top: 5px;
}
.product-list-show .cli-ent-row.tr.tableHead {
    display: none;
}
.header-blog .list-header-blog > li a {
    font: normal 15px/20px 'GothamPro', sans-serif;
}
.tab-content>.tab-pane .search-box {
    right: 0;
}
	/**********/
	.nav-section .navbar-header {
        float: none;
		display: inline-block;
    }
    .nav-section .navbar-left,
	.nav-section .navbar-right {
        float: none !important;
    }
    .nav-section .navbar-toggle {
        display: block;
    }
    .nav-section .navbar-collapse {
        border-top: 0 solid transparent;
        box-shadow: inset 0 0 0 rgba(255,255,255,0.1);
    }
    .nav-section .navbar-fixed-top {
		top: 0;
		border-width: 0 0 0;
	}
   /* .nav-section .navbar-collapse.collapse {
        display: none!important;
    }*/
    .nav-section .navbar-nav {
        float: none!important;
	}
	.nav-section .navbar-nav>li {
        float: none;
    }
    
    /*.nav-section .collapse.in{
  		display:block !important;
	}*/
	
	.nav-section .navbar-default .navbar-toggle {
		/*margin-top: 35px;*/
		float: none;
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 15px;
	}
	
	.nav-section .navbar-default.sticky {
		padding: 5px 15px;	
	}
	
	/** **/
	a.custom-logo-link { text-align: center; padding: 10px;}
	a.custom-logo-link { max-width: 100%; display: inline-block; vertical-align: middle;}
	
	.search-box {margin-top: 15px;}
	
	.custom-flex {  
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
		
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		justify-content: center;
	}
	.pro-desh-box { width: 100% !important; }
	.pro-desh-row,.pro-desh-box { display: block; }
	.dcol-1,.dcol-2 { width: 100%;}
	.pro-desh-box { border-bottom: 1px solid #d2d2d2; border-right: none; }
	.pro-desh-box:last-child { border-bottom: none;}
	
	.settingedit-box {
		margin-bottom: 15px;
		min-height: auto;
	}
	
	.list-header-blog {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
	.flex-show-em {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
		
		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	
	.project-row-qq1 {
		margin-bottom: 20px;
	}
	
	.orb-xb-col.left {
		width: 100%;
	}
	.orb-xbin {
		overflow-x: auto;
		max-width: 100%;
		min-width: 100%;
		
		max-height: none;
		min-height: auto;
	}
	.orbxbin-list {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	}
	.imgobxbins {
		width: 105px;
	}
	.orbxbin-list li {
		margin-bottom: 10px;
		float: left;
		margin-right: 10px;
	}
	
	.box-setting { 
		text-align: center;
		position: absolute;
		right: 15px;
		top: 20px;
	}
	
	.seter.left,
	.cli-ent-xbox.text-left {
		text-align: center;
	}
	.cli-ent-row.tr {
		display: block;
	}
	.cli-ent-col.td {
		display: block;
		vertical-align: middle;
		width: 100% !important;
	}
	.pro-ject-wrapper {
		padding-left: 15px; 
		padding-right: 285px;
	}
	
	.pro-ject-top-cat {
		margin-left: 0;
		margin-right: 270px;
	}
	.dot-comment .pro-ject-top-cat {
		margin-left: 0;
		margin-right: 0px;
	}
	.cli-ent-row.tr.brdr .cli-ent-col + .cli-ent-col {
		border-left: none;
		border-top: 1px solid #ddd;
	}
	.cli-ent-xbox .cell-row .cell-col {
		display: block;
		padding: 7px 0;
		margin: 0 auto;
	}
	.cli-ent-row.tr.brdr .cli-ent-xbox {
		text-align: center;
	}
}

@media (max-width: 767px) {	
	.list-header-blog > li {
		margin-right: 10px;
	}
	.list-header-blog > li a {
		font-size: 15px;
		line-height: 25px;
		padding: 10px 15px;
	}
	.tab-content>.tab-pane .search-box {
    position: relative;
    top: 0;
    right: 0;
    max-width: 280px;
    margin-left: auto;
    margin-top: 0;
}
	.ddnos.mobile .descol.right-instbox {
		margin-top: 5px;
		text-align: left;
	}
	.head-b { font-size: 18px; line-height: 25px;}
	.review-textcolww { font-size: 16px; }
	.flex-show-em1 .fulmoble { width: 100%; }
	.search-sec-uu8,
	.flex-show-em1 .fulmoble .descol { text-align: center; }
	.flex-show-em1 .fulmoble+.fulmoble { margin-top: 10px; }
	
	.list-tab-xx5 { display: table; margin-left: auto; margin-right: auto; }
	.list-tab-xx5 > li { display: block; text-align: center; margin-bottom: 15px; }
	.list-tab-xx5 > li a { display: inline-block; }
	.radio-box-xx2 { max-width: 100%; }
	.radio-box-xx2 + .radio-box-xx2 { margin-left: 0; }
	.cat-form-xx123 .radio-box-kk2 { white-space: normal; }
	.right-lesscol .plan-boxex-xx6 .radio-box-xx2 {  
		margin-left: 0;
		margin-bottom: 15px;
	}
	
	.uplinkflexs .row > .col-xs-6,
	.uplinkflexs .row > .col-xs-4 {
		width: 100%;
		text-align: left;
		margin-bottom: 15px;
	}
	
	.savecols-col.right,
	.savecols-col.center {
		text-align: left;
	}
	
	a.back-link-xx11,
	a.back-link-xx0 { font: 500 16px/25px 'GothamPro', sans-serif; }
	.btn-x .btn-a { font: bold 16px/25px 'GothamPro', sans-serif; padding: 7px 30px;}
	.text-b { font: normal 14px/24px 'GothamPro', sans-serif; }
	
	.cat-form-xx123 {margin-top: 15px; }
	.uplink-row .uplink-col { display: block; text-align: left; margin-bottom: 15px; }
	.uplink-row .uplink-col.right { text-align: left; }
	.pro-ject-rightbar { position: relative; width: 100%; }
	.pro-ject-wrapper { padding-left: 15px;padding-right: 15px;}
	
	.list-comment-es { max-height: 350px; }
	
	.pro-ject-leftbar,
	.pro-ject-rightbar {
		border: 1px solid #cfcfcf;
		border-radius: 7px;
		background-color: #ffffff;
		overflow: hidden;
		margin: 0 0 15px;
	}
	
	.pro-ject-centbar {
		overflow: hidden;
		margin: 30px 0 15px;
	}
	
	.pro-ject-rightbar .comment-box-row {
		padding: 15px 0 45px;
	}
	.pro-ject-top-cat {
		margin-left: 0;
		margin-right: 0;
	}
	
	.de-signdraft {
		padding-bottom: 15px;
		padding-top: 7px;
	}
	.de-signdraft .savecols-col.left{
		text-align: center;
	}
	
}

@media (max-width: 600px) {		
	.desh-inblock { display: block; }
	.desh-inblock+.desh-inblock  { margin-top: 15px; }
	.pro-box-r2 .pro-head { height: auto; }
	.pro-box-r2 { min-height: auto; }
	.pro-box-r1 { min-height: auto; }
	.pro-box-s1 { min-height: 150px; line-height: 150px; }
	.list-designdraftnew li {width: 100%;}
	.head-b { font-size: 16px; }
	.srd-row.mobile { display: block; }
	.srd-row.mobile .srd-col.right{ margin-top: 10px; text-align: left; }
	.list-setting > li {margin-left: 15px; }
	
	.search-group .form-control { width: 85%; }
}

@media (max-width: 480px) {
.header-blog .list-header-blog > li a {
    font: normal 12px/20px 'GothamPro', sans-serif;
}

	.list-header-blog > li {
		margin-right: 0 !important;
		display: block;
		text-align: center;
	}
	.yss1 .settcol.left ,
	.cyclebox25 .settcol.left { width: 100%; display: block; }
	.yss1 .settcol,
	.cyclebox25 .settcol{ display: block; text-align: left;  }
	.cyclebox25 .settcol {margin-top: 7px;}
	.review-textcolww { font-size: 14px; }
	
	.posone1,.posone2 {
		display: none;
	}/*.list-setting .dropdown-menu {    right: -125px;    margin-top: 15px;    left: auto;    padding: 0;    border: solid 1px rgba(100, 100, 100, .20);    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .20);    z-index: 100;    background-color: #ffffff;    border-redius: 0;    width: 300px;}.list-setting .dropdown-menu:before {    right: 0;    left: 0;    margin: auto;}*/
}

@media (max-width: 360px) {	
	.nav-section .navbar-default .navbar-toggle {
		margin: 0 10px 0 0;
	}
}
