
	.nav-section {
		z-index: 100;	
		box-shadow: none;	
		background: #ffffff;
		padding: 5px 0;
		box-shadow: 0 0 25px rgba(53,77,103,.1);
	}
	.nav-section .navbar-default { 
		border: none;
		z-index: 99;
		border-radius: 0;
		margin-bottom: 0;
		padding: 0;
		background: none;	
		position: relative;
	}

	a.custom-logo-link { 
		display: table; 
		max-width: 100%;
		padding: 0; 

		-ms-transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	.nav-section .navbar-nav > li > a { 
		font: normal 16px/25px 'GothamPro', sans-serif; 
		color: #1a3147; 
		outline: 0 none; 
		position: relative; 
		-webkit-transition: all .3s ease-in-out; 
		-moz-transition: all .3s ease-in-out; 
		-o-transition: all .3s ease-in-out; 
		transition: all .3s ease-in-out;
	}
	.nav-section .navbar-nav > li > a:hover,
	.nav-section .navbar-nav > li.active > a,
	.nav-section .navbar-nav > li.current-menu-parent > a,
	.nav-section .navbar-nav > li.current-menu-item > a,
	.nav-section .navbar-default .navbar-nav > li > a:active,
	.nav-section .navbar-default .navbar-nav > li > a:focus, 
	.nav-section .navbar-default .navbar-nav > li > a:hover { 
		background: none;
		font: normal 16px/25px 'GothamPro', sans-serif; 
		color: #e52344; 
	}
	.nav-section .navbar-nav > li > a .icon {
		width: 1.3em;
		height: 1.3em;
		vertical-align: middle;
		position: relative;
		top: -1px;
		margin-right: 5px;
	}
	.nav-section .navbar-default .navbar-toggle * {
		-ms-transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	.nav-section .navbar-default .navbar-toggle {
		color: #ffffff;
		cursor: pointer;
		padding: 0px;
		border-radius: 0px;
		border: none;
		margin-top: 15px;
	}
	.nav-section .navbar-default .navbar-toggle span {
		width: 25px;
		height: 3px;
		margin-bottom: 3px;
		background-color: #fff;
		display: block;
	}
	.nav-section .navbar-default .navbar-collapse { 
		border: none; 
	}
	.nav-section .navbar-default .navbar-toggle .icon-bar { 
		background-color: #e52344; 
	}
	.nav-section .navbar-default .navbar-toggle:hover,
	.nav-section .navbar-default .navbar-toggle:focus { 
		background: none; 
		border-color: #fff;  
	}
	.nav-section .navbar-default .navbar-toggle:hover .icon-bar,
	.nav-section .navbar-default .navbar-toggle:focus .icon-bar { 
		background-color: #e52344; 
	}

	.nav-section .navbar-default.sticky {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: #ffffff;
		box-shadow: 0 0 20px rgba(53,77,103,.1);
	}
	.nav-section .navbar-default.sticky {
		padding: 20px 15px;	
	}
	.nav-section .navbar-default.sticky .custom-logo-link {
		display: table !important;
	}

	/* */
	.project-text {
		font: normal 18px/30px 'GothamPro', sans-serif; 
		color:#32475a;
		display: inline-block;
		padding-left: 60px;
	}
	.project-text a {
		color:#32475a;
		text-decoration: none;
	}
	.project-text a:hover {
		color: #e52344;
	}

	.list-setting > li {
		display: inline-block;
		margin-left: 20px;
		vertical-align: middle;
	}
	.list-setting > li:first-child {
		margin-left: 0;
	}
	.deshboard-bg {
		background-color: #fafafa;
	}
	.list-setting > li img {
		display: inline-block;
		vertical-align: middle;
	}
	.list-setting > li .icon {
		width: 25px;
		height: 25px;
	}
	.list-setting > li a {
		color: #1b3248;
	}
	.list-setting > li a:hover {
		color: #e73250;
	}
	.bell-box {
		position: relative;
		display: inline-block;
	}
	.numcircle-box {
		font: normal 8px/15px 'GothamPro', sans-serif; 
		color: #ffffff;
		min-width: 18px;
		height: 18px;
		text-align: center;
		display: inline-block;
		background-color: #37c473;
		vertical-align: top;
		border-radius: 50%;
		padding: 3px;
		position: absolute;
		top: -7px;
		right: -6px;
	}

	.pro-circle-img-xxs {
		width: 39px;
		height: 39px;
		border-radius: 50%;
		line-height: 36px;
		text-align: center;
		overflow: hidden;
		position: relative;
	}
	.pro-circle-img-xxs img {
		display: inline-block;
		vertical-align: middle;
		max-height: 100%;
		max-width: 100%;
		object-fit: cover;
	}

	/* */
	/************PK css*************/
	.fade-carousel .carousel-inner .item {
		width: 754px;
		float: none;
		margin: auto;
	}
	div#myCarousel div#cro {
		position: relative;
		overflow: auto !important;
	}
	.clearfix.billing_subs_right h2 {
		padding-top: 0;
	}
	section#content-wrapper h2.head-d.text-left {
		padding-top: 0;
	}
	.list-header-blog > li {
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
	}
	.list-header-blog > li:last-child {
		margin-right: 0;
	}
	.list-header-blog > li a {
		font: normal 18px/30px 'GothamPro-Medium', sans-serif; 
		color: #1a3147;
		display: block;
		padding: 15px;
		text-decoration: none;
		border-bottom: 2px solid transparent;
	}
	.list-header-blog > li.active a,
	.list-header-blog > li a:hover {
		color: #e52344;
		border-bottom: 2px solid #e52344;
	}

	.search-group {
		display: flex;
		border-bottom: 1px solid #ddd;
		width: 100%;
	}
	.search-group .form-control {
		font: normal 18px/30px 'GothamPro', sans-serif; 
		color: #9399a2;
		padding: 15px;
		height: 50px;
	}

	.search-group .form-control,
	.search-group .search-btn {
		display: table-cell;
		vertical-align: middle;
		background: none;
		border: none;
		box-shadow: none;
	}
	.search-group .search-btn {
		color: #000000;
		padding-right: 15px;
	}
	.search-group .search-btn .icon {
		width: 28px;
		height: 22px;
	}

	/* */
	.show-blog-xx2 {
		text-align: right;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.show-blog-list-xx2 {
		display: inline-block;
		white-space: nowrap;
	}
	.show-blog-list-xx2 > li {
		display: inline-block;
		vertical-align: middle;
		margin-left: 7px;
	}
	.show-blog-list-xx2 > li a {
		display: inline-block;
		max-width: 100%;
		color: #1b3248;
	}
	.show-blog-list-xx2 > li a .icon{
		width: 17px;
		height: 17px;
	}
	.show-blog-list-xx2 > li a .icon.list {
		width: 20px;
		height: 19px;
	}
	.show-blog-list-xx2 > li.active a,
	.show-blog-list-xx2 > li a:hover {
		color: #e73250;
	}

	/* Product List Box Start */
	.pro-productss {
		margin-bottom: 20px;
	}
	a.pro-box-s1,
	.pro-box-s1 {
		border: 3px dotted #cfcfcf;
		background-color: transparent;
		border-radius: 7px;
		min-height: 340px;
		line-height: 330px;
		text-align: center;
		display: block;
		text-decoration: none;
	}
	.pro-box-s1:hover {
		border: 3px dotted #e52344;
	}
	.pro-box-s1:hover .pro-add-boxss2 {
		background-color: #e52344;
	}

	.pro-box-s1:hover .pro-box-caps1 .pro-add-texts1 {
		color: #e52344;
	}

	.pro-box-caps1 {
		display: inline-block;
		vertical-align: middle;
		line-height: 20px;
	}
	.pro-add-boxss2 {
		width: 60px;
		height: 60px;
		line-height: 55px;
		overflow: hidden;
		background-color: #cfcfcf;
		border-radius: 50%;
		display: inline-block;
	}
	.pro-add-boxss2 > img {
		max-width: 100%;
		max-height: 55px;
		vertical-align: middle;
		display: inline-block;
	}
	.pro-box-caps1 .pro-add-texts1 {
		font: normal 15px/20px 'GothamPro', sans-serif !important; 
		color: #cfcfcf;
		text-decoration: none;
	}


	.pro-box-r1 {
		border: 1px solid #cfcfcf;
		background-color: #ffffff;
		border-radius: 7px;
		min-height: 340px;
	}
	.pro-box-r2 {
		padding: 10px;
		min-height: 200px;
	}
	.pro-box-r2 .pro-head {
		height: 70px;
		overflow: hidden;
	}

	.pro-inbox-r1 {
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
	}
	.pro-inrightbox {
		width: 100%;
		flex: 1;
		text-align: right;
	}
	.pro-inleftbox,
	.pro-inrightbox {
		width: 50%;
	}


	@media (min-width: 992px) {
		.product-list-show .row [class*="col-md-"] {
			width: 20%;
		}
	}

	.product-list-show .row {
		margin-left: 0px;
		margin-right: 0px;
	}
	.product-list-show .row [class*="col-md-"]{
		padding-left: 8px;
		padding-right: 8px;
	}

	.pro-a {
		font: normal 13px/20px 'GothamPro', sans-serif; 
		color: #4d636d;
	}
	.pro-a a,
	.pro-b a{
		color: #4d636d;
		text-decoration: none;
	}
	.pro-b {
		font: normal 11px/15px 'GothamPro', sans-serif; 
		color: #4d636d;
	}

	.select-pro-a select {
		font: normal 12px/15px 'GothamPro', sans-serif; 
		color: #4d636d;
		padding: 0 15px 0 5px;
		border: 1px solid #d9d9d9;
		border-radius: 3px;
		min-width: 40px;
	}

	.select-pro-a select {	
		background-image: url('../images/select-drop-down.png');
		background-position: calc(100% - 5px) center;
		background-repeat: no-repeat;
		-webkit-appearance: none;
		-moz-appearance:    none;
		appearance:         none;
		cursor: pointer;
	}
	.select-pro-a select:active,
	.select-pro-a select:focus {
		outline: 0 none;
		box-shadow: none;
	}
	.pro-head {
		font: normal 15px/20px 'GothamPro-Medium', sans-serif; 
		color: #1b3248;
	}
	.pro-head a {
		color: #1b3248;
	}
	.neft {
		font: normal 11px/14px 'GothamPro', sans-serif; 
		color: #ffffff;
	}
	.neft .red,.neft .green,.neft .gray {
		display: inline-block;
		padding: 3px 15px;
		border-radius: 15px;
	}
	.neft .red { background-color: #e52344; color: #ffffff; }
	.neft .green { background-color: #37c473; color: #ffffff; }
	.neft .gray{ background-color: #a3a8ae; color: #ffffff; }

	.pro-box-r3 {
		border-top: 1px solid #ddd;
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}
	.pro-circle-box {
		display: inline-block;
		margin-right: 5px;
		float: left;
	}
	.pro-circle-box a {
		text-decoration: none;
		max-width: 100%;
	}
	.pro-circle-img {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		line-height: 36px;overflow: hidden;
	}
	.pro-circle-img img {
		vertical-align: middle;
		/*display: inline-block;*/
		display: table;
		max-height: 100%;
		max-width: 100%;
	}
	.pro-circle-plus {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background-color: #e52344;
		text-align: center;
		line-height: 36px;
	}
	.pro-circle-plus .plus-text {
		text-align: center;
		display: inline-table;
		color: #ffffff; 
		font-family: 'GothamPro-Light', sans-serif;
		font-size: 8px;
		font-weight: normal;
		line-height: 8px;
		vertical-align: middle;
	}
	.pro-circle-plus .plus-text .plus-sizebig {
		font-size: 18px;
		line-height: 10px;
		font-family: 'GothamPro-Medium', sans-serif;
	}


	.pro-circle-txt {
		font: normal 10px/10px 'GothamPro-Light', sans-serif; 
		color: #464f5a;
		padding-top: 5px;
		overflow: hidden;
		white-space: nowrap;
	}

	.pro-box-r4 {
		padding: 10px;
	}

	.pro-inrightbox img,
	.pro-inleftbox img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		position: relative;
		top: -2px;
	}
	/* Product List Box End */

	.loader {
		text-align: center;
	}
	.loader a.loader-link {
		font: normal 20px/30px 'GothamPro-Medium', sans-serif; 
		color: #4d636d;
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		text-decoration: none;
	}
	.loader a.loader-link .icon,
	.loader a.loader-link img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}

	.icon {
		display: inline-block;
		width: 1em;
		height: 1em;
		stroke-width: 0;
		stroke: currentColor;
		fill: currentColor;
	}

	/* */
	.pro-desh-row {
		display: table;
		min-height: 1px;
		border: 1px solid #ddd;
		border-radius: 7px;
		width: 100%;
		overflow: hidden;
	}
	.pro-desh-row+.pro-desh-row{
		margin-top: 15px;
	}
	.pro-desh-box {
		display: table-cell;
		vertical-align: middle;
		min-height: 1px;
		border-right: 1px solid #d2d2d2;
	}
	.pro-desh-box:last-child {
		border-right: none;
	}
	.delivery-desh {
		padding: 15px 20px;
	}

	.desh-head-wwq {
		padding: 15px 20px;
		display: table;
		width: 100%;
	}
	.desh-inblock {
		vertical-align: middle;
		display: table-cell;
	}

	.pro-desh-r1 {
		display: table;
		width: 100%;
	}
	.pro-desh-r1 .pro-inleftbox {
		border-right: 1px solid #d2d2d2;
	}
	.pro-desh-r1 .pro-inleftbox,.pro-desh-r1 .pro-inrightbox {
		display: table-cell;
		vertical-align: middle;
		padding: 30px;
		text-align: center;
	}
	.pro-desh-box .pro-circle-list {
		padding: 15px 20px;
	}

	.dcol-1 {
		width: 45%;
	}
	.dcol-2 {
		width: 22%;
	}

	.desh-inblock .neft { white-space: nowrap; }

	/* */
	.uplink-row {
		width: 100%;
		margin: 0 0 15px;
	}
	.uplink-row .uplink-col {
		display: table-cell;
		vertical-align: middle;
	}
	.uplink-row .uplink-col.right {
		text-align: right;
		flex: 1;
		width: 100%;
	}



	a.cross-link-xx0 {
		width: 45px;
		height: 45px;
		background-color: #32475a;
		line-height: 42px;
		display: inline-block;
		border-radius: 50%;
		text-align: center;
	}
	a.cross-link-xx0 img {
		max-height: 45px;
		max-width: 100%;
		vertical-align: middle;
		display: inline-block;
	}

	/* */
	.list-tab-xx5 > li {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}
	.list-tab-xx5 > li:last-child {
		margin-right: 0;
	}
	.list-tab-xx5 > li a {
		font: normal 18px/30px 'GothamPro-Medium', sans-serif; 
		color: #1a3147;
		display: block;
		padding: 0 30px 15px;
		text-decoration: none;
		border-bottom: 2px solid transparent;
	}
	.list-tab-xx5 > li.active a,
	.list-tab-xx5 > li a:hover {
		color: #e52344;
		background-color: transparent;
		border-bottom: 2px solid #e52344;
	}

	/* */
	.cate-main-boxx3 {
		padding: 30px 40px;
		border: 1px solid #cfcfcf;
		border-radius: 7px;
		background-color: #ffffff;
	}
	.check-main-xx3 {
		padding: 15px;
		border: 2px solid #cfcfcf;
		border-radius: 7px;
		background-color: #ffffff;
	}
	.chkimg {
		text-align: center;
		max-width: 100%;
		height: 75px;
		line-height: 70px;
		margin-bottom: 10px;
	}
	.chkimg img {
		vertical-align: middle;
		display: inline-block;
		max-width: 100%;
		max-height: 70px;
	}

	.radio-box-xx2 {
		display: block;
		position: relative;
		margin-bottom: 15px;
		cursor: pointer;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		max-width: 160px;
		width: 100%;
		float: left;	
	}
	.radio-box-xx2 {
		margin-right: 20px;
	}
	/* Hide the browser's default radio button */
	.radio-box-xx2 input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	.radio-box-xx2 input:checked ~ .check-main-xx3 {
		border: 2px solid #e73250;
	}

/*.checkmark {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    border-radius: 50%;
}
.radio-box-xx2:hover input + .checkmark {
    background-color: #ccc;
}
.radio-box-xx2 input:checked + .checkmark {
    background-color: #ffffff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-box-xx2 input:checked + .checkmark:after {
    display: block;
}
.radio-box-xx2 .checkmark:after {
 	top: 10px;
	left: 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #0083ff;
	}*/

	.plan-boxex-xx6 .radio-box-xx2{
		max-width: 110px;
	}
	.plan-boxex-xx6 .radio-box-xx2 .chkimg {
		height: 55px;
		line-height: 53px;
	}
	.plan-boxex-xx6  .radio-box-xx2 {
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.plan-boxex-xx6 .check-main-xx3 {
		padding: 10px 15px;
	}


	/* */
	.radio-box-kk2 {
		font: normal 13px/20px 'GothamPro', sans-serif; 
		color: #32475a;
		display: inline-block;
		position: relative;
		margin-bottom: 15px;
		cursor: pointer;
		padding-left: 30px;
	}

	/* Hide the browser's default radio button */
	.radio-box-kk2 input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	.radio-box-kk2 input:checked ~ .check-main-xx3 {
		border: 2px solid #e73250;
	}
	.radio-box-kk2 .checkmark.checkboxes,
	.radio-box-kk2 .checkmark.circles {
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;
		background-color: #ffffff;    
		border: 2px solid #ddd;
	}
	.radio-box-kk2 .checkmark.circles {
		border-radius: 50%;
	}
	.radio-box-kk2 .checkmark.checkboxes {
		border-radius: 5px;
	}

	.radio-box-kk2 input:checked + .checkmark {
		background-color: #ffffff;
		border: 2px solid #e52344;
	}

	.radio-box-kk2 .checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	.radio-box-kk2 input:checked + .checkmark:after {
		display: block;
	}
	.radio-box-kk2 .checkmark.circles:after {
		top: 4px;
		left: 4px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: #e52344;
	}

	.radio-box-kk2 input:checked + .checkmark.checkboxes {
		background-color: #e52344;
	}
	.radio-box-kk2 .checkmark.checkboxes:after {
		left: 5px;
		top: 1px;
		width: 5px;
		height: 12px;
		padding: 2px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.mx1 {
		max-width: 140px;
	}

	.diff-typeimg {
		white-space: nowrap;
	}
	.diff-typeimg .left-exits,
	.diff-typeimg .right-exits{
		display: inline-block;
		vertical-align: middle;
		white-space: normal;
	}


	/* */
	.file-drop-area {
		position: relative;
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
		align-items: center;
		width: 100%;
		max-width: 100%;
		padding: 25px;
		border: 2px dashed #d1d1d1;
		border-radius: 7px;
		transition: 0.2s;
		justify-content: center;
		margin-bottom: 5px;
	}
	.file-drop-area.is-active {
		background-color: rgba(255, 255, 255, 0.05);
	}

	.fake-btn {
		flex-shrink: 0;
		background-color: rgba(255, 255, 255, 0.04);
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 3px;
		padding: 8px 15px;
		margin-right: 10px;
		font-size: 12px;
		text-transform: uppercase;
	}

	.file-msg {
		font-size: small;
		font-weight: 300;
		line-height: 1.4;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.file-input {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		cursor: pointer;
		opacity: 0;
	}
	.file-input:focus {
		outline: none;
	}
	.file-msg {
		font: normal 20px/25px 'GothamPro', sans-serif;
		color: #596375;
		padding-left: 15px;
	}
	.file-msg .nocolsl {
		color: #cccccc;
	}
	.text-mb {
		font: normal 16px/25px 'GothamPro', sans-serif;
		color: #1f364b;
	}
	.text-mb strong {
		font: normal 13px/20px 'GothamPro', sans-serif;
		color: #e52344;
	}
	.cross-btnlink {
		text-align: right;
	}
	.cross-btnlink a{
		max-width: 100%;
		display: inline-block;
	}
	.cross-btnlink img {
		display: inline-block;
		vertical-align: middle;
	}

	.right.btn-x .btn-a+.btn-b{
		margin-left: 10px;
	}

	.lessrows {
		display: -webkit-box; 
		display: -moz-box;   
		display: -ms-flexbox; 
		display: -webkit-flex;
		display: flex;        

		position: relative;
	}
	.right-lesscol {
		width: 100%;
		padding-left: 30px;
	}

	.left-lesscol {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 100;
	}



	.right-lesscol.noflexes .plan-boxex-xx6{
		display: block;
	}

	/**/
	.list-bread-crumb {
		display: block;
	}
	.list-bread-crumb > li {
		font: normal 14px/18px 'GothamPro', sans-serif;
		color: #4d636d;
		display: inline-block;
		vertical-align: middle;
	}
	.list-bread-crumb > li a {
		color: #e52344;
	}
	.list-bread-crumb > li:before {
		content: '/';
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -1px;
		padding-right: 7px;
		padding-left: 3px;
	}
	.list-bread-crumb > li:first-child:before {
		display: none;
	}

	/* */
	.review-rowww {
		border-bottom: 2px solid #cccccc;
		padding-bottom: 15px;
		display: table;
		width: 100%;
	}
	.review-colww {
		vertical-align: bottom;
		display: table-cell;
	}
	.review-colww.left {
		width: 100%;
	}
	.review-textcolww {
		font: normal 18px/25px 'GothamPro', sans-serif;
		color: #777;
	}
	.prowest{display: none !important;}
	.review-textcolww span {
		background: #d8d8d8;
		padding: 8px;
		margin-right: 20px;
		border-radius: 6px;
		margin-top: 6px;
		display: inline-block;
	}
	.review-textcolww a.showbrand_profile i {
		font-size: 12px;
		width: 18px;
		background: #e52647;
		height: 18px;
		text-align: center;
		color: #fff;
		line-height: 18px;
		border-radius: 4px;
	}
	.review-textcolww a.showbrand_profile {
		color: #e52647;
	}
	a.review-circleww {
		display: inline-block;
		text-decoration: none;
		width: 34px;
		height: 34px;
		line-height: 32px;
		border-radius: 50%;
		background-color: #afb6bd;
		text-align: center;
	}
	a.review-circleww img {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		max-height: 34px;
	}
	a.review-circleww:hover {
		background-color: #e52344;
	}

	.edit-check-main-xx3 {
		display: table;
	}

	/* */
	.project-row-qq2 {
		border: 1px solid #cfcfcf;
		border-radius: 7px;
		background-color: #ffffff;
		position: relative;
		overflow: unset;
	}
	.project-row-qq1 {
		border: 1px solid #cfcfcf;
		border-radius: 7px;
		background-color: #ffffff;
		position: relative;
		overflow: hidden;
	}
	.design-draft-header {
		display: inline-block;
		width: 100%;
		margin-bottom: 16px;
	}


	.descol {
		margin-top: 5px;
	}
	.despeginate-box {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
	}
	.despeginate-box span,
	.despeginate-box a.despage {
		display: inline-block;
		vertical-align: middle;
	}
	.despeginate-box span {
		font: normal 18px/25px 'GothamPro', sans-serif; 
		color:#596375;
		padding: 0 10px;
	}

	.search-sec-uu8 {
		text-align: right;
	}
	.search-sec-uu8 a {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
	}

	.btn-x.full .btn-c {
		width: 100%;
	}

	/* */
	.comment-box-row {
		padding: 15px 0 0;
	}
	.comment-box-row .head-b{
		padding: 0 25px;
	}
	.list-comment-es {
		overflow-y: auto;
		max-height: calc(100vh - 165px);
	}
	.list-comment-es > li:last-child .comment-box-es {
		border-bottom: none;
	}
	.cmmbx-row {
		display: table;
		width: 100%;
	}
	.cmmbxcir {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}
	.cmmbxonline {
		display: inline-block;
		width: 18px;
		height: 18px;
		background-color: #e73250;
		position: absolute;
		top: 7px;
    left: -8px;
		border-radius: 50%;
		line-height: 15px;
		text-align: center;
	}

	.cmmbx-col .pro-circle-img-xxs {
		overflow: auto;
	}

	.social_wrap_inner li a {
		color: #ffffff;
	}

	.cmmbxtxt {
		    font-weight: 600;
    text-transform: capitalize;
    font-size: 14px;
    color: #000;
	}

	.cmmbx-row {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */

		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.cmmbx-col.left {
		flex: 1;
		width: 100%;
	}
	.kevtxt {
		font: 400 10px/15px 'Ubuntu', sans-serif; 
		color:#ec3d56;
	}
	.distxt-cmm {
		font: 400 13px/20px 'Ubuntu', sans-serif; 
		color:#596375;
	}
	.distxt-cmm strong {
		color: #ec3d56;
	}
	.cmmtype-box {
		padding-right: 18px;
	}
	.cmmtype-row {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */

		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	.pstcmm {
		color: #000;
box-shadow: none;
border: none;
background: transparent;
height: 70px;
resize: none;
width: 100%;
padding: 15px 15px 0;
font-size: 13px;
	}
	.pstcmm:focus,.pstcmm:active {
		outline: 0 none;
	}
	.cmmfiles,.pstcmm,.cmmsend {
		display: table-cell;
		vertical-align: middle;
	}
	.cmmsend .cmmsendbtn {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		border: 0;
		box-shadow: none;
		padding: 0;
	}
	.cmmsend .cmmsendbtn:focus,
	.cmmsend .cmmsendbtn:active {
		outline: 0 none;
	}

	/* */
	.orb-xb {
		padding-top: 15px;
	}
	.orb-xbin {
		padding: 15px;
	}
	.orb-xb-col.right {
		flex: 1;
		width: 100%;
		padding: 0 15px;
	}
	.orb-xb-col.left {
		width: 175px;
		padding-left: 7px;
		padding-right: 7px;
	}

	.orbxbin-list li {
		margin-bottom: 15px;
	}
	.imgobxbins {
		width: 100%;
		height: 105px;
		overflow: hidden;
		margin: auto;
		box-shadow: 0px 0px 0 3px transparent;
		background-color: #cfcfcf;
	}

	.imgobxbins:hover,
	.imgobxbins.active {
		box-shadow: 0px 0px 0 3px #ec3d56;
		border-radius: 0;
	}
	.imgobxbins img {
		max-height: 105px;
		object-fit: cover;
		width: 100%;
		display: inline-block;
		vertical-align: middle;
	}

	.orbxb-img {
		overflow-y: auto;
		max-height: 100vh;
		min-height: auto;
		position: relative;
	}
	.orbxb-img-ssrr {
		position: relative;
	}
	.orbxb-img-ssrr img,
	.orbxb-img img {
		width: 100%;
		object-fit: cover;
		height: 100%;
	}

	.posone1 {
		position: absolute;
		left: 10%;
		top: 40%;
	}

	.posonclick-add {
		position: relative;
	}
	.posonclick-add .cmmbxonline {
		position: relative;
		top: 5px;
	}

	.posone2 {
		position: absolute;
		left: 55%;
		top: 70%;
	}
	.posone2abs {
		position: absolute;
		bottom: 100%;
		left: -40px;
		margin: auto;
		background-color: #ffffff;
		padding: 15px;
		min-width: 280px;
		box-shadow: 0 0 15px rgba(0,0,0,0.5);
		border-radius: 5px;
		width: 100%;
	}

	.arrowdowns:after {
		content: '';
		display: inline-block;
		background-image: url('../images/icon-popup-arrows.png');
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		bottom: -20px;
		left: 30px;
		width: 19px;
		height: 21px;
	}

	.posone3abs {
		position: absolute;
		bottom: 100%;
		left: -30px;
		margin: auto;
		background-color: #ffffff;
		padding: 15px;
		min-width: 250px;
		box-shadow: 0 0 15px rgba(0,0,0,0.5);
		border-radius: 5px;
	}

	.tff-con {
		font: 400 13px/15px 'Ubuntu', sans-serif;
		color: #596375;
		box-shadow: none;
		border: 1px solid #dee2e2;
		background: transparent;
		height: 65px;
		resize: none;
		width: 100%;
		padding: 10px;
		display: block;
		border-radius: 5px;
	}

	.postrow12 {
		margin-top: 10px;
	}
	.pstcancel{
		font: 400 13px/15px 'Ubuntu', sans-serif;
	}
	.pstcancel a{
		font: 400 13px/15px 'Ubuntu', sans-serif;
		text-decoration: none;
		color: #6a6868;
	}

	.pstbtns .pstbtns-a {
		font: 400 13px/15px 'Ubuntu', sans-serif;
		text-decoration: none;
		color: #ffffff;

		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		border: 0;
		border-radius: 5px;
		box-shadow: none;
		padding: 3px 10px;
		background-color: #ec3d56;
	}

	.postrow12 {
		display: table;
		width: 100%;
	}
	.pstcancel,.pstbtns {
		display: table-cell;
		vertical-align: middle;
	}	
	.pstbtns {
		text-align: right;
	}

	/* */
	.right-instbox {
		text-align: right;
		white-space: nowrap;
	}

	.left-instbox {
		text-align: left;
		white-space: nowrap;
	}
	.vewiew-boxxt11,
	.vewiew-boxxt22,
	.vewiew-boxxt,
	.right-inst {
		display: inline-block;
		vertical-align: middle;
	}

	.vewviewer-cicls,
	a.vewviewer-cicls {
		width: 39px;
		height: 39px;
		border-radius: 50%;
		line-height: 36px;
		text-align: center;
		overflow: hidden;
		position: relative;
		display: inline-block;
		border: 2px solid #ffffff;
	}
	.vewiew-boxxt11 .vewviewer-cicls+.vewviewer-cicls,
	.vewiew-boxxt22 .vewviewer-cicls+.vewviewer-cicls {
		margin-left: -15px;
	}
	.vewiew-boxxt11 {
		padding-left: 5px;
	}
	.ddnos .descol {
		margin-top: 0;
	}

	.row-designdraftnew {
		padding-left: 7px;
		padding-right: 7px;
	}
	.list-designdraftnew {
		margin-left: -7px;
		margin-right: -7px;
	}
	.list-designdraftnew li {
		float: left;
		min-height: 1px;
		position: relative;
		padding-left: 7px;
		padding-right: 7px;
	}
	.list-designdraftnew li {
		width: 50%;
	}

	.figimg-one {
		overflow: hidden;
		width: 100%;
		height: 250px;
		position: relative;
		margin-bottom: 15px;
	}
	.figimg-one > img.img-responsive,
	.figimg-one a > img.img-responsive {
		object-fit: cover;
		width: 100%;
		display: block;
		height: 100%;
	}
	.seen_statuses .adnewpp {
		font: 500 11px/13px 'GothamPro', sans-serif;
		color: #ffffff;
		display: inline-block;
		background-color: #e73250;
		border-radius: 15px;
		padding: 3px 10px;
		position: static;
		top: 0px;
		right: 0;
		left: auto;
		z-index: 10;
	}

	.chatbox-add {
		display: inline-block;
		position: relative;
		right: 0px;
	}
	.chaticoncrl01 {
		width: 36px;
		height: 36px;
		background-color: #32475a;
		line-height: 33px;
		display: inline-block;
		border-radius: 50%;
		text-align: center;
		text-decoration: none;
		position: relative;
	}
	.chaticoncrl01 img {
		max-height: 36px;
		max-width: 100%;
		vertical-align: middle;
		display: inline-block;
	}
	.adnewpp {
		font: 500 11px/13px 'GothamPro', sans-serif;
		color: #ffffff;
		display: inline-block;
		background-color: #e73250;
		border-radius: 15px;
		padding: 3px 10px;
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 10;
	}

	.numcircle-box-01 {
		font: normal 10px/17px 'GothamPro-Medium', sans-serif;
		color: #ffffff;
		min-width: 22px;
		height: 22px;
		text-align: center;
		display: inline-block;
		background-color: #e73250;
		vertical-align: top;
		border-radius: 50%;
		padding: 3px;
		position: absolute;
		top: -7px;
		right: -10px;
	}

	/* Chat Box */
	.msgk-chatrow {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
	}
	.msgk-uimg {
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		top: 0;
		left: 0;
	}
	.msgk-uleft {
		width: 39px;
		height: 39px;
		border-radius: 50%;
		line-height: 36px;
		text-align: center;
		overflow: hidden;
		position: relative;
		display: inline-block;
		border: 2px solid #ffffff;
	}

	.msgk-user-chat {
		position: relative;
		min-height: 45px;
		margin-bottom: 10px;
	}

	.msgk-user-chat.msgk-left {
		padding-left: 40px;
		float: left;
	}
	.msgk-user-chat.msgk-right {
		float: right;
	}

	.msgk-mn {
		position: relative;  
		display: inline-block;   
		margin-top: 3px;
	}
	.msgk-mn .msgk-umsgbox {
		min-width: 70px;
		max-width: 220px;
	}
	.msgk-mn:before,
	.msgk-mn:after {
		content: '';
		display: table;
		clear: both;
	}
	.msgk-umsxxt {
		display: inline-block;
	}
	.msgk-user-chat.msgk-left .msgk-mn{
		padding-left: 5px;
		text-align: left;
	}
	.msgk-user-chat.msgk-right .msgk-mn{
		padding-right: 5px;
		text-align: right;
	}

	.msgk-user-chat.msgk-left .msgk-mn .msgk-umsgbox .msgk-umsxxt{
		background-color: #ffffff;
		color: #55747d;
		box-shadow: 0 0 30px rgba(0,0,0,.15);
	}

	.msgk-user-chat.msgk-right .msgk-mn .msgk-umsgbox .msgk-umsxxt{
		background-color: #f27788;
		color: #ffffff;
		box-shadow: 0 0 30px rgba(0,0,0,.1);
	}
	.msgk-umsxxt {
		padding: 10px 20px 10px 20px;
		border-radius: 22px;
	}
	.msgk-umsgbox {
		font: normal 12px/18px 'GothamPro', sans-serif;
		position: relative;
	}

	.msgk-user-chat.msgk-left .msgk-mn .msgk-umsgbox:last-child .msgk-umsxxt{
		border-radius: 22px 22px 22px 0;
	}
	.msgk-user-chat.msgk-left .msgk-mn .msgk-umsgbox:first-child .msgk-umsxxt{
		border-radius: 0 22px 22px 22px;
	}

	.msgk-user-chat.msgk-right .msgk-mn .msgk-umsgbox:last-child .msgk-umsxxt{
		border-radius: 22px 22px 0 22px;
	}
	.msgk-user-chat.msgk-right .msgk-mn .msgk-umsgbox:first-child .msgk-umsxxt{
		border-radius: 22px 0px 22px 22px;
	}

	.msgk-mn .msgk-umsgbox+.msgk-umsgbox {
		margin-top: 3px;
	}

	.msgk-udate {
		font: normal 10px/12px 'GothamPro', sans-serif;
		color: #ec3d56;
		padding-top: 8px;	
	}

	.msgk-user-chat.msgk-left .msgk-udate {
		padding-left: 5px;
		text-align: left;	
	}

	.msgk-user-chat.msgk-right .msgk-udate {
		padding-right: 5px;
		text-align: right;
	}

	.updatevise {
		text-align: center;
		margin: 15px auto;
	}
	.updvise-cn {
		font: normal 10px/15px 'GothamPro', sans-serif;
		color: #1a3147;	
		display: inline-block;
		padding: 5px 15px;
		border-radius: 15px;
		background-color: #e8eaec;
	}

	.read-msg-box {
		overflow-y: auto;
		max-height: 487px;
		min-height: 487px;
	}

	.orbxb-img-xx3s {
		overflow-y: auto;
		max-height: 515px;
		min-height: 515px;
		position: relative;
	}

	.designdraft-body {
		padding: 30px 30px 20px;
	}

	.list-accessimg li{
		display: inline-block;
		margin-right: 5px;
		vertical-align: middle;
	}
	.accimgbx33 {
		width: 155px;
		height: 105px;

		display: inline-block;
		overflow: hidden;
		position: relative;
		margin-bottom: 15px;
	}
	.accimgbx33.add:hover{
		border: 2px dashed #e73250;
	}
	.accimgbx33.add:hover .icon-circlxx55{
		background-color: #e73250;
	}
	.accimgbx33.add:hover .attachfile {
		color: #e73250;
	}

	.accimgbx33 .tel100 {
		object-fit: cover;
		width: 100%;
		display: block;
		height: 100%;
	}

	a.icon-crss-2 {
		position: absolute;
		top: 5px;
		right: 5px;
		display: inline-block;
	}

	.accimgbx33.add {
		border: 2px dashed #d5d5d5;
		border-radius: 7px;
		line-height: 100px;
		text-align: center;
	}
	.accimgbx33.add .icon-crss-3{
		color: #d5d5d5;
	}
	.accimgbx33.add:hover .icon-crss-3{
		color: #e73250;
	}


	.icon-crss-3 {
		display: inline-block;
		vertical-align: middle;
		line-height: 20px;
		text-align: center;
		text-decoration: none;
	}
	.icon-circlxx55 {
		font: normal 18px/33px 'GothamPro', sans-serif;
		color: #ffffff;	
		width: 33px;
		height: 33px;
		margin: 0 auto;
		display: block;
		background-color: #cfcfcf;
		border-radius: 50%;
		text-align: center;
	}
	.attachfile {
		font: normal 12px/20px 'GothamPro', sans-serif; 
		color: #afb6bd;
		margin-top: 7px;
	}

	/* */
	.settingedit-box {
		padding: 15px 15px 15px;
		min-height: 450px;
	}
	.settrow {
		display: table;
		width: 100%;
	}
	.settcol {
		display: table-cell;
		vertical-align: middle;
	}
	.settcol.left {
		width: 70%;
	}	
	.settcol.right {
		text-align: right;
	}


	/* */
	.setimg-box33 {
		width: 139px;
		height: 139px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
		overflow: hidden;
		position: relative;
		display: block;
		margin: 0 auto 15px;
	}
	.setimg-box33 .telset33 {
		object-fit: cover;
		width: 100%;
		display: block;
		height: 100%;
	}
	a.setimg-blog33 {
		position: absolute;
		display: inline-block;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		line-height: 135px;
		z-index: 100;
	}

	a.setimg-blog33:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.7);
		z-index: -1;
	}

	.setimg-box33 .setimgblogcaps {
		display: inline-block;
		vertical-align: middle;
		font: normal 10px/10px 'GothamPro', sans-serif; 
		color:#ffffff;
		text-transform: uppercase;
	}
	.setimgblogcaps > img {
		display: block;
		margin: 0 auto;
	}

	.seter,
	.setinput .form-control {
		text-align: center;
	}
	.seter { margin-top: 10px; }
	.seter span{
		font: normal 10px/10px 'GothamPro', sans-serif;
		color: #596375;
		display: inline-block;
		padding: 5px 15px;
		border-radius: 15px;
		background-color: #dee0e3;
	}

	.chngpasstext {
		text-align: center;
	}
	.chngpasstext a{
		font: normal 16px/25px 'GothamPro', sans-serif;
		color: #e73250;
		max-width: 100%;
		display: inline-block;
		text-decoration: none;
	}
	.chngpasstext a span,
	.chngpasstext a img {
		vertical-align: middle;
		display: inline-block;
	}
	.chngpasstext a span {
		display: inline-block;
		border-bottom: 1px solid #e73250;
	}
	.chngpasstext a img {
		position: relative;
		top: -1px;
		padding-right: 7px;
	}
	.setinput .form-control.input-b {
		font: normal 16px/25px 'GothamPro', sans-serif;
		color: #596375;
	}
	.setinput1 .form-control.textarea-a {
		font: normal 16px/25px 'GothamPro', sans-serif;
		color: #596375;
		height: 315px;
	}

	.setrightstst {
		font: normal 10px/24px 'GothamPro', sans-serif;
		color: #596375;
		white-space: nowrap;
	}
	.setpricext25 {
		font: normal 24px/30px 'GothamPro', sans-serif;
		color: #e73250;
	}
	.btn-f.chossbpanss {
		white-space: nowrap;
	}

	.cyclebox25 {
		padding: 15px;
		background-color: #eeeff1;
		border-radius: 5px;
	}

	/* */
	a.review-circleww-plus {
		display: inline-block;
		text-decoration: none;
		width: 34px;
		height: 34px;
		line-height: 32px;
		border-radius: 50%;
		background-color: #e73250;
		text-align: center;
	}
	a.review-circleww-plus img {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		max-height: 34px;
	}
	a.review-circleww-plus:hover {
		background-color: #afb6bd;
	}

	.inflexsss {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */

		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.prowest {
		font: normal 15px/25px 'GothamPro-Medium', sans-serif;
		color: #ffffff;
		display: inline-block;
		text-decoration: none;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: #e73250;
		text-align: center;
		margin-right: 5px;

		position: absolute;
		left: -35px;
	}

	.designdraft-views,
	.cat-form-xx123 {
		padding-left: 0px;
		position: relative;
	}
	.label-x1,
	.label-x2 {
		position: relative;    color: #000000;
	}

	.cat-form-xx123 .radio-box-kk2{
		white-space: nowrap;
	}
	.srd-row {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */

		-webkit-box-align: center;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	.srd-col.right{
		flex: 1;
		text-align: right;
	}
	.srdselect {
		max-width: 175px;
		min-width: 175px;
	}


	a.vwwv {
		position: relative;
		display: inline-block;
		text-decoration: none; 
		width: 39px;
	}
	a.vwwv .vewviewer-cicls{
		margin-left: 0;
		position: relative;
	}

	a.vwwv+a.vwwv {
		margin-left: -15px;
	}
	.hoversetss {
		display: none;
		position: absolute;
		bottom: 110%;
		left: -70%;
		margin: auto;
		background-color: #ffffff;
		padding: 10px;
		white-space: nowrap;
		box-shadow: 0 0 15px rgba(0,0,0,0.3);
		border-radius: 5px;
		z-index: 100;
		text-align: center;
		font: normal 13px/20px 'GothamPro', sans-serif; 
		color: #f27788;
	}
	.hoversetss:after {
		content: '';
		display: inline-block;
		background-image: url('../images/icon-popup-arrows.png');
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		bottom: -20px;
		left: 40%;
		width: 19px;
		height: 21px;
	}

	a.vwwv:hover  .hoversetss{
		display: block;
	}

	.head-b.xssstat {
		font-size: 16px;
	}
	.head-b.xssstat span {
		color: #f27788;
	}


	a.back-link-xx11 {
		font: 500 20px/30px 'GothamPro', sans-serif;
		color: #32475a;
		white-space: nowrap;
	}
	.savecols-col.left {
		text-align: left;
	}
	.savecols-col.center {
		text-align: center;
	}
	.savecols-col.right {
		text-align: right;
	}

	/* */
	.profielveiwee-box {
		padding: 15px 30px;
		min-height: 450px;
	}
	.setimg-box33.big-cirlce {
		height: 198px;
		width: 198px;
	}
	.text-wrap {
		white-space: nowrap;
	}

	/* */
	.cli-ent-row.tr {
		display: flex;
		align-items: center;
		vertical-align: middle;    border-radius: 0;
		align-items: stretch;justify-content: space-between;
	}

	.cli-ent-row.tr+.cli-ent-row.tr {
		margin-top: 0;
		border-top: 0;
	}


	.cli-ent-row {
		min-height: 1px;
		border: 1px solid #ddd;
		border-radius: 7px;
		width: 100%;
		overflow: hidden;
	}
	.cli-ent-col.td {
		display: table-cell;
		vertical-align: middle;
		position: relative;
	}
	.cli-ent-col {
		vertical-align: middle;
		min-height: 1px;
		padding: 10px;
	}
	.cli-ent-row.tr.brdr .cli-ent-col.td {
		display: flex;
		justify-content: center;
		flex-direction: column;    word-break: break-word;
	}
	.cli-ent-img.one {
		width: 62px;
		height: 62px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
	}
	.cli-ent-img.circle {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
	.img-responsive.one {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.cli-ent-xbox {
		font: normal 14px/25px 'GothamPro-Medium', sans-serif; 
		color:#1b3248;
	}
	.seter.left { 
		text-align: left; 
		margin-top: 5px; 
	}

	.word-wrap-one {
		white-space: nowrap;
	}

	/* Model Popup */
	.cli-ent-model-box {
		position: relative;
	}
	.cli-ent-model {
		padding: 15px;
	}
	.fo-rm-header {
		margin-bottom: 20px;
	}
	.cli-ent-model-box  .close{
		width: 30px;
		height: 30px;
		background-color: #e73250;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		color: #ffffff;
		position: absolute;
		right: -15px;
		top: -15px;
		opacity: 1;
	}
	.cli-ent-add-row {
		margin-bottom: 15px;
	}
	.cli-ent-add-col {
		width: 100%;
		height: 85px;
		overflow: hidden;
		position: relative;
		border: 2px dashed #e73250;
		border-radius: 7px;
		line-height: 80px;
		text-align: center;
		display: block;
	}

	.cli-ent-add-icon {
		font: normal 22px/40px 'GothamPro-Medium', sans-serif;
		color: #ffffff;
		width: 40px;
		height: 40px;
		margin: 0 auto;
		background-color: #e73250;
		border-radius: 50%;
		text-align: center;
		display: inline-block;
		vertical-align: middle;

	}

	.rheight-xt .savecols-col {
		display: inline-block;
		vertical-align: middle;
		padding-right: 15px;
	}
	.rheight-xt .head-b {
		display: flex;
	}
	.pro-ject-centbar {
		overflow: hidden;	
		margin: 50px 15px 15px;

	}


	.headnris {
		padding: 12px 10px;
		border-bottom: 1px solid #cfcfcf;
		margin-bottom: 15px
	}
	.de-signdraft {
/*     padding: 0;
	border-bottom: 1px solid #cfcfcf;
	min-height: 45px;
	margin-bottom: 5px; */
}

.de-signdr-aftleft {
	padding: 0;
	border-bottom: 1px solid #cfcfcf;
	min-height: 45px;
	margin-bottom: 5px;
}
.rpjecsrr {
	padding: 10px 15px 0;
}

/* */
a.upl-oadfi-le {
	border: 2px dashed #e52344;
	border-radius: 7px;
	text-align: center;
	text-decoration: none;
	
	max-width: 220px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	padding: 10px 15px;
	vertical-align: middle;
}
.upl-oadfi-le .attachfile,
.upl-oadfi-le .icon-circlxx55{
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
}
.upl-oadfi-le .icon-circlxx55 {
	font: normal 18px/26px 'GothamPro', sans-serif;
	margin-right: 15px;
	width: 25px;
	height: 25px;
	background-color: #e52344;
}
.upl-oadfi-le .attachfile {
	font: normal 14px/20px 'GothamPro', sans-serif;
	color: #e52344;
	text-transform: uppercase;
	margin: 0;
}
.icon-crss-3 {
	font: normal 14px/20px 'GothamPro', sans-serif;
	color: #e52344;
}

.pr-ofile-desinger {
	padding: 15px;
	min-height: 450px;
}

.settrow.paypalinput .settcol.left{
	padding-right: 15px;
	width: 50%;
}

.inline-imgsssx {
	position: relative;
	display: inline-block;
}

.inline-imgsssx .numcircle-box {
	font: normal 8px/13px 'GothamPro-Medium', sans-serif;
	top: -15px;
	right: 0;
}

.pro-circ-le .pro-circle-txt,
.pro-circ-le .pro-circle-img{
	display: inline-block;
	vertical-align: middle;
}
.pro-circ-le a {
	text-decoration: none;
	max-width: 100%;
}
.pro-circ-le .pro-circle-txt {
	font: normal 13px/20px 'GothamPro-Medium', sans-serif;
	padding-left: 5px;
}
/* */
.pro-gressbar {
	display: table;
	width: 100%;
	margin-bottom: 7px;
}
.pro-gressbar .progress-title {
	font: normal 15px/20px 'GothamPro', sans-serif;
	color: #596375;
}
.pro-gressbar .progress-value {
	font: normal 15px/20px 'GothamPro-Medium', sans-serif;
	color: #e73250;
}
.pro-gressbar .progress-value-1 {
	font: normal 15px/20px 'GothamPro-Medium', sans-serif;
	color: #e73250;
	text-align: right;
}

.pro-gressbar .progress-title,
.pro-gressbar .progress-value {
	display: table-cell;
	vertical-align: middle;
}
.progress-value {
	text-align: right;
}
.pro-gressbar-row {
	margin-top: 25px;
}

.progress{
	height: 9px;
	background: #ffe5e9;
	border-radius: 30px;
	overflow: visible;
	position: relative;
	box-shadow: none;
	margin: 0;
}
.progress .progress-bar{
	border-radius: 30px;
	box-shadow: none;
	position: relative;
	animation: animate-positive 2s;
}

@-webkit-keyframes animate-positive{
	0%{ width: 0; }
}
@keyframes animate-positive{
	0%{ width: 0; }
}

/* */
.ui-slid-errow {
	margin-bottom: 25px;
}
.ad-dskills a {
	font: normal 20px/25px 'GothamPro-Medium', sans-serif;
	color: #e73250;
}


.header-blog.xss0 {
	text-align: center;
}
/* 19-06-2018 */
.cli-ent-row.tr.brdr .cli-ent-col+.cli-ent-col {
	border-left: 1px solid #cfcfcf;
}
.cell-row {
	display: table;
	width: 100%;
}
.cell-col {
	display: table-cell;
	vertical-align: middle;
}
.neft .blue { 
	background-color: #1b3248; 
	color: #ffffff;
	display: inline-block;
	padding: 3px 15px;
	border-radius: 15px; 
	white-space: nowrap;
}

.pro-head-q {
	font: normal 18px/25px 'GothamPro-Medium', sans-serif; 
	color: #1b3248;
}
.pro-head-q a {
	color: #1b3248;
}
a.cli-ent-add-col {
	text-decoration: none;
}
.cli-ent-add-txtx {
	font: normal 18px/25px 'GothamPro-Medium', sans-serif; 
	color: #e52344;
}

.inline-imgsssx img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	position: relative;
	top: -2px;
}

.p-left1 {
	padding-left: 20px;
}

.client-leftshows {
	position: relative;
	padding-left: 75px;
}
.client-leftshows .cli-ent-img.circle {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.list-header-blog.small li {
	margin-right: 0px;
}
.list-header-blog.small li a{
	font:normal 14px/20px 'GothamPro', sans-serif;
	padding: 10px 8px;
}

.search-group .search-btn {
	position: absolute;
	right: 0;
	top: 15px;
}

.bl-ogbox {
	padding: 15px;
	box-shadow: 0 0 25px rgba(53,77,103,.1);
	max-width: 390px;
	margin-left: auto;
	margin-right: auto;
}
.bl-ogimg {
	max-width: 100%;
	height: 205px;
	line-height: 205px;
	overflow: hidden;
	margin-bottom: 15px;
}
.por-tfolioimg img.img-responsive,
.bl-ogimg img.img-responsive {
	width: 100%;
	height: 100%;
	-webkit-object-fit: cover;
	-moz-object-fit: cover;
	-ms-object-fit: cover;
	-o-object-fit: cover;
	object-fit: cover;
	object-position: center;
}
.bl-oghead {
	font: normal 20px/30px 'GothamPro-Medium', sans-serif;
	color: #1b3248;
}

.bl-ogaction {
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.bl-ogaction a {
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
	padding: 2.5px;
}
.bl-ogaction a+a {
	margin-left: 10px;
}
.btn-x.bl-ogbtn .btn-g {
	width: auto;
	font-weight: bold;
}
.btn-x.bl-ogbtn .btn-g+.btn-g {
	margin-left: 7px;
}

.bl-ogaddt-est,
a.bl-ogaddt-anchr {
	font: normal 16px/40px 'GothamPro-Medium', sans-serif;
	color: #657f9a;
	display: inline-block;
	max-width: 100%;
	position: relative;
	cursor: pointer;
}


.bl-ogaddt-est:hover {
	color: #e52344;
}
.bl-ogaddt-est:hover .bl-ogaddt-est-a2{
	border: 5px solid #e52344;	
}
.bl-ogaddt-est:hover .bl-ogaddt-est-a33{
	background: #e52344;
}
.bl-ogaddt-est-a2 {
	width: 70px;
	height: 70px;
	border: 5px solid #b2c0cf;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 5px;
}
.bl-ogaddt-est-a33 {
	font: normal 25px/40px 'GothamPro-Medium', sans-serif;
	color: #ffffff;
	width: 100%;
	height: 100%;
	background: #b2c0cf;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 5px;
	text-align: center;
}

.por-tfolioimg {
	max-width: 100%;
	height: 160px;
	line-height: 160px;
	overflow: hidden;
	margin-bottom: 15px;
}

.bl-ogaddt-est.por-rtfolios54 {
	font-size: 20px;
}
.bl-ogaddt-est.por-rtfolios54 .bl-ogaddt-est-a2{
	width: 150px;
	height: 150px;
	border: 15px solid #b2c0cf;
	margin-bottom: 10px;
}
.bl-ogaddt-est.por-rtfolios54 .bl-ogaddt-est-a33{
	font-size: 60px;
	line-height: 100px;
}
.bl-ogaddt-est.por-rtfolios54:hover .bl-ogaddt-est-a2 {
	border: 15px solid #e52344;
}
.app-roved {
	font: normal 16px/30px 'GothamPro-Medium', sans-serif;
	color: #4d636d;
}
.app-roved.green {
	color: #37c473;
}

.upl-oadfi-le.noborder {
	border: none;
}
.upl-oadfi-le.noborder .icon-circlxx55 {
	margin-right: 5px;
}

.boxmes-sages {
	border: 1px solid #cfcfcf;
	border-radius: 6px;
	padding: 7px 15px;
}

.notestxx {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*background-color: rgba(255,255,255,.65);*/
	padding: 15px;
}

.notapp-roved {
	font: 500 16px/18px 'Lato', sans-serif;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 15px;
	background-color: #a29890;
	color: #000000;
	display: inline-block;
	position: relative;
	z-index: 20;
}
.btn-x.desi-gned {
	text-align: center;
}
.btn-x.desi-gned .redbtn,
.btn-x.desi-gned .greenbtn {
	font: bold 12px/18px 'GothamPro', sans-serif;
	height: auto;	
}
.btn-x.desi-gned .redbtn {
	background-color: #ec3d56;
	border-color: #ec3d56;
}
.btn-x.desi-gned .redbtn:hover {
	background-color: #ffffff;
	border-color: #ec3d56;
	color: #ec3d56;
}
.design-draft-header.noheight {
	min-height: auto;
	padding-bottom: 10px;
}
.qua-litypas-sed {
	font: bold 14px/20px 'GothamPro', sans-serif;
	color: #37c473;
}
.qua-litypas-sed img {
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: -2px;
	vertical-align: middle;
}
.qua-litypas-sedeee {
	font: normal 12px/20px 'Ubuntu', sans-serif;
	color: #596375;
}

/* Notification */
.list-setting .dropdown-menu {
	right: -10px;
	margin-top: 15px;
	left: auto;
	padding: 0;
	border:solid 1px rgba(100, 100, 100, .20);
	-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
	z-index: 100;
	background-color: #ffffff;
	border-radius: 8px;
}
h2.head-notifications {
    background-color: #ffffff;
    font: normal 14px/25px 'GothamPro', sans-serif;
    color: #333;
    border-bottom: solid 1px rgba(100,100,100,.3);
    padding: 5px 10px;
}
.list-setting .dropdown-menu:before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background:#e42445;
	transform: rotate(45deg);
	top: -10px;
	right: 15px;
	-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
	border:solid 1px rgba(100, 100, 100, .20);
	z-index:-1;	
	transform: rotate(45deg); /* W3C */
	-webkit-transform: rotate(45deg); /* Safari & Chrome */
	-moz-transform: rotate(45deg); /* Firefox */
	-ms-transform: rotate(45deg); /* Internet Explorer */
	-o-transform: rotate(45deg); /* Opera */
}
.noti-listpopup ul.list-notificate > li a,
.list-setting ul.list-notificate > li a {
	font: normal 14px/25px 'GothamPro', sans-serif;
	color: #1a3147;
	outline: 0 none;
	position: relative;
	
	display: block;
	
	border-bottom: 1px solid #d0d0d0;
	text-decoration: none;
}
.list-setting ul.list-notificate > li a {
	/*background-color: #edf2fa;*/
	padding: 6px 30px 5px 12px;
}

.noti-listpopup ul.list-notificate > li:last-child a,
.list-setting ul.list-notificate > li:last-child a {
	border-bottom: none;
}
.noti-listpopup ul.list-notificate > li a:hover,
.list-setting ul.list-notificate > li a:hover {
	background-color: #f0f0f0;
}

.head-notifications {
	margin: 0;
	background: #e42445;
	color: #fff;    padding: 5px 10px;
	border-radius: 8px 8px 0 0;
	font: normal 16px/30px 'GothamPro-Medium', sans-serif;
}
.seeAll {
	background: #F6F7F8;
	font: normal 13px/25px 'GothamPro', sans-serif;
	color: #333;
	border-top: solid 1px rgba(100,100,100,.3);
	text-align: center;
	padding: 5px 10px;
}
.seeAll a {
	color: #3b5998;
}

.pro-circle-k1 {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	position: relative;
	margin-right: 10px;
}
.pro-circle-k1 img {
	display: block;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	object-fit: cover;
} 

.ntifittext-z1 {
	font: normal 12px/20px 'GothamPro', sans-serif;
	color: #333;
}
.ntifittext-z2 {
	font: normal 11px/18px 'GothamPro', sans-serif;
	color: #3f3f3f;
}

.setnoti-fication {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
	
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.icon-crss-3.nowrapser {
	white-space: nowrap;
}

.noti-listpopup ul.list-notificate > li a {
	padding: 6px 30px 5px 35px;
	position: relative;
}
ul#right_nav .dropdown-backdrop {
	z-index: 0;
}
.radio-boxxes {
	position: absolute;
	left: 10px;
	top: 20px;
	display: inline-block;
}

.upinter {
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.notestxx11 {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,.65);
	padding: 50px 30px;
}
.notappchanges {
	font: normal 14px/20px 'GothamPro-Medium', sans-serif;
	color: #e52344;
	text-transform: uppercase;
	padding: 10px 15px;
}

a.addde-signersk1 {
	font: normal 11px/20px 'GothamPro', sans-serif;
	color: #e52344;
	margin: 0;

	display: inline-block;

	white-space: nowrap;
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 20px;
	height: 20px;
	overflow: hidden;
	
}
.sma-red {
	font: normal 16px/18px 'GothamPro', sans-serif;
	margin-right: 5px;
	width: 18px;
	height: 18px;
	background-color: #e52344;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	color: #ffffff;
	border-radius: 50%;
	text-align: center;
}

.cli-ent-row.tr.notificate {
	border: none;
}
.cli-ent-row.tr.notificate .cli-ent-col.td{
	padding: 0;
}

.pro-a .sho-wred {
	color: #e52344;
}

.modal-dialog.modal-lg.modal-nose {
	max-width: 800px;
}

.pro-b .green{
	color: #37c473;
}
.pro-b .red {
	color: #e52344;
}

.cli-ent-row.tr.notificate .cli-ent-col.td {
	position: static;
}
.newsetionlist {
	padding: 6px 30px 5px 35px;
}
.btn-g.minxx1 {
	max-width: 200px;
	
	text-align: center;
}

.inshowskills img{
	margin-left: 15px;
	display: inline-block;
}

.header-blog.xss0 .pro-head-q {
	font-size: 15px;
	line-height: 20px;
}
.header-blog.xss0 .list-header-blog.small li a {
	font-size: 14px;
}
span.lightbluetext.text-uppercase.text-wrap{
	display: inline-block;
	padding: 3px 15px;
	border-radius: 15px;
	background: #0000FF;
}
span.red.bluetext.text-uppercase{
	background: #000080;
}
span.red.orangetext.text-uppercase {
	background: #FF8C00;
}
.chaticoncrl01 img.img-responsive {
	max-height: 100%;
	min-height: auto;
}
.rheight-xt.d-progress {
	float: left;
	width: 100%;
	min-height: 45px;
	margin: 30px 0;
}
.select-b {
	margin-bottom: 10px;
}
.top-tabs li a {
	border: 1px solid #ccc;
	padding: 6px 17px;
	border-radius: 10px;
	background: #fff;
	color: #666;font: normal 13px/28px 'GothamPro', sans-serif;
	font-size: 15px;
}
.top-tabs li.active a, .top-tabs li.active a:hover, .top-tabs li a:hover {
	background: #e52344;
	color: #fff;
	border-color: #e52344;
}

.client-project .cell-col {
	display: flex;
	align-items: center;
}
.client-project .cell-col input.selected_pro {
	margin-right: 20px;
}
.cli-ent-row.tr.tableHead {
	font-size: 14px;
	color: #5a5a59;
	font: 15px/30px 'GothamPro-Medium', sans-serif; font-weight: 600;
}
.product-list-show .cli-ent-row.tr {
	overflow: visible;
	background: #fff; position: relative;
	border: 0;
	margin: 10px 0;
}
.header-blog .list-unstyled.list-header-blog {
	display: inline-block;
	margin-bottom: 15px;
}
.product-list-show .cli-ent-col.td {
	border: 0px !important;font:normal 14px/20px 'GothamPro', sans-serif;
}
a.adddesinger i {
	margin-left: 6px;
	font-size: 19px;
	display: inline-block;
	line-height: 24px;
	text-decoration: none !important;
	transform: translateY(2px);
}
a.adddesinger {
	border: 1px solid #ccc;
	padding: 6px 12px;
	border-radius: 60px;
	color: #666;
	font-size: 14px;
	background: #fff;
	text-decoration: none !important;
        float: right;
}
.mobile-visibles {
    display: none;
}
.approvedate.admin-del .downld_del_sec {
    display: flex;
}
.approvedate.admin-del .downld_del_sec button {
    border: 1px solid #acadad !important;
    border-radius: 100%;
    width: 30px;
    padding: 0;
    height: 30px;
    color: #acadad;
}
.approvedate.admin-del {
    display: inline-block;
}
